[2020-07-09 11:16] agehrke opened #393 "Support for publish of ReadOnlyMemory<byte> and ReadOnlySpan<byte> payload"
I'm interested in adding support for publishing of `ReadOnlyMemory<byte>` and `ReadOnlySpan<byte>` payloads in `Connection.Publish()` method. Would be you be OK with such a change? It would add an additional nuget dependency on [`System.Memory`](https://www.nuget.org/packages/System.Memory/)

[2020-07-09 11:24] agehrke commented on #393
Oh, well, I see a `BufferedStream` is the end target which doesn't have ReadOnlySpan overload in netstandard 1.6. Closing and will consider other options.

[2020-07-09 11:24] #393 closed

[2020-07-13 16:35] tstenvi opened #395 "Mixing async and sync requests on the same connection doesn't work"
Using the same connection for sending async and sync requests does not work if the async request is sent prior to the synchronous one. The second request times out. The scenario works if the old request style option is set when creating the connection. The code below can be used to reproduce the problem. The issue has been reproduced using the 0.11.0-pre1 and 0.10.0 releases of the library.

[code

[2020-07-17 18:06] wilstoff opened #396 "C# Can Drop Large Message with no error indication"
When trying to load test C# clients with one large message ~50MB, the client has the potential to get a slow consumer warning on the server, and the client auto reconnect, but the message is dropped and no error is presented to the user.  If you turn off auto connected, you see the error is in the Conn.cs readLoop function in "server closed the connection." which correlates to this log on the serv

[2020-07-17 21:19] matthiashanel commented on #396
@wilstoff does the error in the args to DisconnectedEventHandler contain what you are looking for?

`options.DisconnectedEventHandler += (s, args) => Console.WriteLine("Connection Disconnected ");`

the event handler argument args can contain an Exception that is accessible via Error. `args.Error`

[2020-07-18 01:38] wilstoff commented on #396
If you add args.Error or args.Conn.LastEx both are null. I believe this is because of the function here in Conn.cs here throws away any exception tracking if it is possible for it to reconnect:

[code]

If you instead turn off reconnection, the last error stored comes from the readLoop function below and is the "Server closed the connection" exception which also has no information as to why.  I be

[2020-07-19 18:54] ColinSullivan1 commented on #396
@wilstoff, when the server closes the client as a slow consumer, the client may not be able to detect that before it processes the socket close.  Because NATS does not have a close protocol message, this error may be missed by the client.  This would apply to all NATS clients.

You can detect this situation earlier by tuning the pending buffer of a subscriber (See `NATS.Client.Options.SubChannelLe

[2020-07-19 18:58] ColinSullivan1 opened #397 "Object Store Implementation"
We frequently get asked questions about transferring large amounts of data over NATS.  A sample app to chunk data and send piecemeal would serve the NATS community well.

[2020-07-19 19:26] wilstoff commented on #396
Thats a good suggestion i knew there were some settings that would help detect this.  I think the only thing that is wrong is the fact that the client doesn't present an error to the user when autoreconnect is on.  It clearly has an error it just may not understand why besides the server disconnected it.  We have since reduced our max payload to 10MB to avoid this issue for now, since we don't thi

[2020-07-22 13:46] haiduong87 opened #398 "Is there any chance that nats or network or something else that block a specific subject?"
My previous issue https://github.com/nats-io/nats.net/issues/392
I'm now production with that code, because the actual traffic is about 1/10 of my stress test, so we can safe with that code (no out of memory, no high latency to sql server)

But now I'm facing another issue.
One or 2 of our 5 db hostings can't stably send message to subject start with "business-event.*"

My situation:
- I create ne

[2020-07-22 15:12] ColinSullivan1 commented on #398
@haiduong87.  There isn't anything in the client that should block that subject. I have a few questions,

* What does your NATS deployment look like (# of servers, are they clustered)
* Do you have security setup to authorize subjects?
* Do some messages get through and others do not?  Or is it all or nothing?
* Is there anything in the server logs to indicate lost connections, either by a client

[2020-07-22 16:14] haiduong87 commented on #398
@ColinSullivan1
- We have 3 docker servers
-- sudo docker run -i -t --restart unless-stopped -d --name nats -p 4222:4222 -p 6222:6222 -p 8222:8222 nats:1.3.0 -c nats-server.conf --routes=nats-route://ruser:T0pS3cr3t@172.16.3.179:6222,nats-route://ruser:T0pS3cr3t@172.16.3.180:6222
-- sudo docker run -i -t --restart unless-stopped -d --name nats -p 4222:4222 -p 6222:6222 -p 8222:8222 nats:1.3.0 -c n

[2020-07-22 20:31] ColinSullivan1 commented on #398
Can you update the version of the NATS server you are using to the latest?  It should be 100 compatible with clients.  There have been many fixes since v1.3.0.

[2020-07-22 21:42] ColinSullivan1 opened #399 "Add Lame Duck Mode Support"
Implement the .NET idiomatic equivalent of https://github.com/nats-io/nats.go/pull/572.

[2020-07-22 21:45] ColinSullivan1 opened #400 "Add support for no responders error on requests"
Implement the equivalent of https://github.com/nats-io/nats.go/pull/576.

If connected to a new server and a request is sent when there are no responders the request will return as soon as a response from the server is received. The response will have an empty payload and a 503 status.

Depends on #394.

[2020-07-23 00:10] haiduong87 commented on #398
@ColinSullivan1
I will plan for updating version at weekend.
I will double check every server that sends this subject to NATS.

Thank you,

Duong Nguyen

[2020-07-23 03:20] haiduong87 commented on #398
@ColinSullivan1

Sorry for wasting your time.
I've just checked source code of that subscriber tool, it's hard-coding a "queue1", so messages aren't delivered as expected.

Thanks for supporting me.

Duong Nguyen

[2020-07-23 03:20] #398 closed

[2020-07-23 16:35] ColinSullivan1 commented on #398
@haiduong87, these things happen, and thank you for letting us know - I appreciate that.

Reach out anytime if you run into other issues.

[2020-07-27 22:57] jasper-d commented on #395
Hi @tstenvi, I just pushed some changes here: https://github.com/nats-io/nats.net/pull/401/files
You may wanna give it a shot. It's not nice, it doesn't fix the underlying problem, but it __may__ avoid the deadlock I suspect here.

[2020-07-29 22:24] jasper-d opened #403 "[Question] Sub/Pub order"
While looking into #395 I observed some unexpected behaviour (my expectation might be wrong here).
Using the following code I quite often see that the request publishes its message before the subscription is logged by the server:
[code]

The corresponding server log (-DV) looks like this:

[4448] 2020/07/29 23:44:39.233777 [←[36mDBG←[0m] Go build version go1.13.10
[4448] 2020/07/29 23:44:39.233777

[2020-07-29 23:18] ColinSullivan1 commented on #403
Does this consistently happen after every 2nd iteration, or does it occur sporadically?

In our tests we call flush after creating a subscription to avoid this.  When a subscription is created the client writes the SUB protocol to the socket and kicks the socket flusher thread, which will wake up and flush the socket (the flusher delays a bit to allow data to aggregate on the socket buffer for per

[2020-07-31 08:40] jasper-d commented on #403
Thank your for the insight, that's explains it. Flushing before publishing does fix it.

In > 50% it's the second iteration on my machine, but it is not deterministic at all.

[2020-07-31 08:40] #403 closed

[2020-08-13 18:00] #395 closed

[2020-08-19 23:46] ebekker commented on #389
@ColinSullivan1, any thoughts/feedback?

[2020-08-20 23:11] ColinSullivan1 commented on #391
Resolved by #394

[2020-08-20 23:11] #391 closed

[2020-08-31 08:02] dara-na opened #405 "Cannot Disable Buffering in Reconnecting Mode"
Hi! in my use case, I don't need any buffering in reconnecting mode and I can not disable this by:
[code]
and every time in publishing message the connection state should be checked to prevent publishing with reconnecting state

[2020-08-31 14:45] ColinSullivan1 commented on #405
Hi @dara-na,

Thank you for using NATS!

You can disable buffering by setting the reconnect buffer size to `Options.ReconnectBufferDisabled;`

e.g.
`opts.ReconnectBufferSize = Options.ReconnectBufferDisabled;`

When you do that, publishing during reconnect will then throw a `NATSReconnectBufferException`.

An example can be found [here](https://github.com/nats-io/nats.net/blob/50cb20dfa3b405f540c4

[2020-09-01 16:56] ColinSullivan1 commented on #389
Apologies for the delay.   To be honest, I don't think the performance benefits will outweigh the changes to the existing client, and the current event handlers are designed to block the thread/task firing them.

That said, this is great feedback!  We'll be developing a new API atop NATS to better represent the stream and service patterns.  I think that would be the best place to add async event h

[2020-09-10 13:43] AndyPook commented on #381
hi, found this after searching for "NotSupportedException"...

my repro is to just have a producer in a loop, sending once per second.
Let it start.
Kill the nats server.
Next `Publish` will see this exception.

The Connection is aware. At least the `DisconnectedEventHandler` has already fired.

[2020-09-18 08:32] DavidSimner commented on #386
@ColinSullivan1 I've submitted #406 to fix this issue, can you please take a look :)

[2020-09-21 19:36] ColinSullivan1 opened #407 "Websocket Support"
## Websocket Support

Add an option to allow the NATS client to use the websockets client rather than a standard TCP Client.  This will likely involve refactoring and a different read loop.

https://docs.microsoft.com/en-us/dotnet/api/system.net.websockets.clientwebsocket?view=netcore-3.1

See #383

[2020-09-24 03:26] #386 closed

[2020-09-28 03:16] ColinSullivan1 opened #409 "Feature request: Add headers to the request API."
Add overloads to the Request API to accept a message (and thus headers in a message).

[2020-10-02 02:22] mattmodene opened #410 "Clients cannot connect to server when debugging if more than one Visual Studio solution is open"
When debugging in Visual Studio, clients cannot connect when more than one VS solution is open. Encountered using v2.1.6 of the Windows amd64 NATS server.

Recreated multiple times with the following steps and different solutions:
1. Open two Visual Studio solutions (one containing the project you plan to debug)
2. Start NATS server
3. Attempt to connect, nothing shows up on server when running wi

[2020-10-02 16:44] roncgabriel commented on #410
For reference, I originally experienced this bug. It happened in VS2019 Version 16.6.5, it happened with both nats-server-v2.1.8-windows-amd64 and nats-streaming-server-v0.18.0-windows-amd64 using NATS.Client 0.10.1 on Windows 10 Pro

[2020-10-05 18:54] #409 closed

[2020-10-07 16:42] #399 closed

[2020-10-07 19:00] #405 closed

[2020-10-12 18:08] #400 closed

[2020-10-15 19:42] ColinSullivan1 opened #415 "Fix client version in protocol."
Client indicates it is 0.0.1 to the NATS server, this needs to be fixed.

[2020-10-27 13:23] dorny opened #416 "What's the state of JetStream support?"
Looking at a [roadmap](https://github.com/nats-io/nats-general) it looks like JetStream should be available soon.
if it's actually going to happen, what needs to be implemented in this .NET client to be able to use it?
Are there just some minor changes or some bigger rework needed?

I'm trying to get some rough overview if JetStream with .NET client will be usable in some weeks, months or it's sti

[2020-10-27 15:20] ColinSullivan1 commented on #416
Thanks for asking - I need to update the roadmap.  Jetstream will be delivered in Q4, and while accessible from the NATS.net client as is, it'd be cumbersome.

We'll want helper APIs;  the equivalent of these:
https://github.com/nats-io/nats.go/pull/585
https://github.com/nats-io/nats.go/pull/596

[2020-10-27 18:50] ColinSullivan1 opened #417 "Add Jetstream APIs"
We need the equivalent of these APIs in the go client.

nats-io/nats.go#585
nats-io/nats.go#596

Rather than varargs, I'd suggest overloading the existing publish and subscribe APIs.  To begin, we can put everything in a NATS.Client.Jetstream class (jetstream.cs) and re-organize if it makes sense.

Related to #416.

[2020-10-27 21:07] dorny commented on #416
Thanks for quick reply. So I'm looking forward to test it sometime around Christmas :slightly_smiling_face:

[2020-10-27 21:18] ColinSullivan1 commented on #416
I'm going to try to carve some time out this week to start work on a branch.  The reason for end of Q4 (for an official release) is that things may require API changes as we get closer to the NATS server 2.2 (jetstream) release.  I don't anticipate any, but better to play it safe.

One I start work the added APIs can be tested against the nightly builds of the NATS server (https://hub.docker.com/r

[2020-10-27 21:22] ColinSullivan1 commented on #410
Thanks.  I honestly don't see what could cause this, but will test it out.

[2020-10-28 06:27] duyquoc124 commented on #350
Hello ColinSullivan1,
I have a web socket that received message from NATS then send the messages to client, who connected to my web socket.
When user connect to my web socket, should I use one connection to NAT or I create new connection for each user (I mean one connection by one username). Currently I have about 10000 users connected to my web socket, there are about 100 subscribers  each users.

[2020-10-28 08:07] duyquoc124 opened #418 "Reuse connection NATS.Client to NATS server, Web socket"
Hello,
I have a web socket that received message from NATS then send the messages to clients, who connected to my web socket.  I built three servers NATS to load balance
When user connect to my web socket, should I use three connections to NATS ( three connection connect to three servers) or I create new connection for each user (I mean one connection by one username). Currently I have about 10000

[2020-10-28 14:48] ripienaar commented on #417
Also https://github.com/nats-io/nats.go/pull/599

[2020-10-28 15:48] ColinSullivan1 commented on #418
@duyquoc124 , thank you for using NATS!

You only need one connection to a NATS server cluster.  If that connection is lost, then the client will automatically reconnect to another server in the cluster.  I would start with one NATS connection in your websocket app and see how well that works.  Once connection can get many millions of messages per second (depending on message size).  1M subscriber

[2020-10-29 02:03] duyquoc124 commented on #418
Thank you very much @ColinSullivan1

[2020-10-29 15:53] ColinSullivan1 opened #419 "Add newer header features"
See:  https://github.com/nats-io/nats.go/commit/7ce305ab0b152eaaee7901d6062717786f20c528

[2020-10-29 19:11] #418 closed

[2020-10-30 14:30] ebekker commented on #389
How can I access the API, is it in a different branch, or a different project altogether?

[2020-11-18 10:00] alexanderinochkin opened #424 "Publish error: Stream does not support writing"
Hi.
We use AllowReconnect = true but from time to time get error when call Publish():

[code]
Is any way to avoid exception and contunue processing?
Currently used version is 0.10.1.

[2020-11-18 10:41] jasper-d commented on #424
That was fixed in 0.11.0 #381

[2020-11-19 15:27] alexanderinochkin commented on #424
@jasper-d Thanks for information!

[2020-11-19 15:27] #424 closed

[2020-11-19 16:14] ColinSullivan1 commented on #424
@alexanderinochkin - glad you're back on track.

@jasper-d - thanks for covering this issue - much appreciated.

[2020-11-23 03:59] ColinSullivan1 commented on #416
An update.. Apologies, but I had to first add [java support for JetStream](https://github.com/nats-io/nats.java/pull/354), so need to postpone this.  This will come sometime in December.

[2020-12-09 14:35] Sergey-Terekhin opened #425 "NullReference while connecting to remote server via VPN"
Hello!

I have problem: with establishing connection with NATS server via VPN:
* client and server are located on different machines connected via internet and VPN channel
* I can access to server's web interface via browser and connect to 4222 port via browser (receive invalid portocol operation response, but it's OK)
* when I try to establish connection from code, I receive `NullReferenceExcepti

[2020-12-09 17:30] ColinSullivan1 commented on #425
@Sergey-Terekhin , thanks for raising this issue.  I did verify that locally the 0.11.0 client can connect to a NATS server v2.1.9.  It's looking like the stream reader returned null, which indicates the connection was terminated before the stream reader could read the line.  Are you going through a proxy or load balancer as well?

Also, the stack looks different from the source.  We don't have a

[2020-12-10 00:27] ColinSullivan1 commented on #425
There is an bug here where we need to gracefully throw a connection exception when the stream reader returns a null (indicating EOS).  When this happens, we might want to investigate a delay and retry of the read as no IOException has occurred.

[2020-12-10 05:15] Sergey-Terekhin commented on #425
Custom exception and possible retries would be great - but previous package v. 0.10.1 works fine in same scenario

I showed decompiled stack - may be Resharper changed class name somehow - I don't know. But I definitely used unmodified client from NuGet :)

[2021-01-02 22:28] plaisted commented on #416
This still on the horizon? I want to experiment with JetStream but would be pretty cumbersome without the built in helpers so have been holding off for now.

[2021-01-03 21:00] ColinSullivan1 commented on #416
This is still on the horizon.  The java JetStream client has taken longer than anticipated.  I'm hoping to be able to get to this later this month.

[2021-01-04 13:06] lhotrifork opened #426 "Starting NATS during tests"
Hi,

I want to be able to write integration tests for how my application responds to mesages from NATS.
My plan was to write a custom mock-consumer to respond to messages, spin up NATS during my tests and then wire everything up.

In https://github.com/nats-io/nats.go its easy to run NATS during tests: https://github.com/nats-io/nats.go/issues/467#issuecomment-494610877
[code]

Does something simi

[2021-01-04 13:41] ColinSullivan1 commented on #426
Thanks for using NATS!

Take a look at:  https://github.com/nats-io/nats.net/blob/master/src/Tests/IntegrationTests/TestSuite.cs
Usage:  https://github.com/nats-io/nats.net/blob/master/src/Tests/IntegrationTests/TestBasic.cs#L75

Our test suite manages the NATS server process, rotates ports so tests can run in parallel, and supports clustering for complex tests.  While the classes aren't public, w

[2021-01-05 08:13] #426 closed

[2021-01-13 16:34] imtiazpk opened #428 "Does nats. net client works for. Net 5.0 apps"
Hi,
I want to use nats. Net client in. Net 5.0 worker service. This is compatible with. Net 5.0?

Regards
IK

[2021-01-13 17:13] ColinSullivan1 commented on #428
@watfordgnf , would you mind taking a look at this?

[2021-01-13 17:19] jasper-d commented on #428
It works, we are using it in production.

[2021-01-13 17:25] ColinSullivan1 commented on #428
Excellent - thanks @jasper-d.  Much appreciated!

[2021-01-13 17:25] #428 closed

[2021-01-13 17:28] watfordgnf commented on #428
We use it as well in QA on .NET 5.

[2021-01-14 15:19] israellot opened #429 "Remove Sleep before flush"
https://github.com/nats-io/nats.net/blob/221f46b8d80e7f8936604f46fb9959437a03f3c5/src/NATS.Client/Conn.cs#L2283

1. I understand the intention here, but for scenarios where delivery speed is more important than throughput, I believe this should be off. Maybe we can have it as a configuration?

2. We could probably yield AFTER flushing to the buffer

[2021-01-14 16:21] ColinSullivan1 commented on #429
@israellot , Thanks for the observation and suggestions!

We could surface this as a configuration option...

For some history, this came about after quite a bit of performance testing.  For highly latency sensitive applications, I've added a flushBuffer() api on the connection, which directly flushes the underlying buffer.

2. certainly sounds feasible....  Thanks!  Really wish we'd thought of th

[2021-01-14 16:26] israellot commented on #429
Thanks for the quick reply @ColinSullivan1 !
I was just searching for reasons to explain a 1 to 1.5ms added latency when using NATS over a raw tcp.
I will fork and test and report back here if there's indeed any difference. Thanks for pointing out the FlushBuffer, that might be enough indeed.

[2021-01-15 01:24] israellot commented on #429
![image](https://user-images.githubusercontent.com/840042/104665787-08192d80-56b1-11eb-8a71-65c8283a5be9.png)

This is a simple rtt measure for a setup consisting of a 5 nodes NATS cluster. That's the minimum rtt observed at each time window. Application uses C# client and the pong is written at the same thread the ping comes from.
The the impact moving `Task.Sleep(1)` to after flushing the buffer

[2021-01-28 17:07] #415 closed

[2021-02-04 19:56] ColinSullivan1 opened #430 "Update Dependencies (Security)"
There are security findings in NATS.Client 0.11.0:

CVE-2017-0249
CVE-2019-0820
CVE-2018-8292

The two packages with the vulnerability are system.net.http and system.text.regularexpressions . These are transitive references that come in via netstandard.library.1.6.1.

https://www.whitesourcesoftware.com/vulnerability-database/CVE-2017-0249
https://www.whitesourcesoftware.com/vulnerability-database

[2021-02-10 02:21] jasper-d commented on #425
@Sergey-Terekhin Would you mind to try [this patch](https://github.com/nats-io/nats.net/compare/master...jasper-d:fix-ip#diff-8d419c788b0712057106362cdb85792218a222a49f901e5ae624e3624ecabdc0)?
I haven't tested it on k8s where we have issues with 0.11.0, but on my machine it works just fine again when disabling the ipv6 stack.

[2021-02-15 20:33] jasper-d opened #431 "TCP connectivity broken on some systems"
Release 0.11.0 introduced a change that broke TCP connections on systems without IPv6/dual stack support.
This does not affect systems where the IPv6 stack is present but address assignment is disabled, but systems where IPv6 isn't available at all (i.e. disabled through Kernel parameter `ipv6_disable=1` at boot time).
On such systems connections to nats-server will fail with a `NATSNoServersExcep

[2021-02-19 19:50] ColinSullivan1 opened #433 "ISubscription should inherit IDisposable"
From a user:

Would want to test to be sure an upgrade wouldn't break any code.

[2021-02-19 19:53] watfordgnf commented on #433
I think this is a safe addition to the API. Our end users do not create instances of ISubscription's used by NATS, so the usual problems listed here do not apply:
https://docs.microsoft.com/en-us/dotnet/core/compatibility/

[2021-02-23 23:45] iskandersierra commented on #416
Hi @ColinSullivan1 I'm very interested in having the client for C# soon enough. I'm using STAN but want to move to JetStream if at all possible, to be able to use the better integration with NATS 2.x feature set.

I'm willing to put some effort on this issue. If you have any guideline on how to approach the API changes, I can start working under your supervision to move the client changes to the p

[2021-02-24 20:37] #431 closed

[2021-02-25 19:28] ColinSullivan1 commented on #425
I believe this is resolved in #432.

[2021-02-25 20:46] #419 closed

[2021-02-25 21:18] #429 closed

[2021-02-25 21:48] #433 closed

[2021-02-26 14:00] sharoukin opened #440 "IAsyncSubscription loosing messages published immediately after subscription"
Hello!

I have an issue with synchronizing instances of my service via nats. Each instance can either start an async subscription or publish message to a topic.
The problem is when time elapsed between subscription and publish is less than 100ms. In this case i can't get message published, and there are also no errors indicating that something went wrong.

Don't know if this is related, but in deb

[2021-02-26 14:03] jasper-d commented on #440
You can flush after subscribring and before publishing to minimize the chance of loosing messages. See #403

[2021-02-26 14:33] sharoukin commented on #440
Yes, that's worked. Thanks a lot.
Suppose that nre is not an issue.

[2021-02-26 16:01] ColinSullivan1 commented on #440
A bit concerned about the NRE - the BufferedReader should not be nulled out under a lock.

[2021-02-26 16:04] #430 closed

[2021-03-01 10:13] sharoukin commented on #440
Looks like this NRE is caused in disposing connection. In this code I always get NRE in pubConnection's readloop after Dispose is called:

`var subConnectionFactory = new NATS.Client.ConnectionFactory();
            var pubConnectionFactory = new NATS.Client.ConnectionFactory();

            var subConnection = subConnectionFactory.CreateConnection(natsOptions);
            var sub1 = subConnectio

[2021-03-01 15:06] ColinSullivan1 commented on #440
@sharoukin , thanks for raising this issue - we'll take a look.

[2021-03-04 20:01] ColinSullivan1 opened #442 "Add Reconnect API"
Add an API to trigger a reconnect.

Just Reconnect:
`IConnection.Reconnect();`

Reconnect and Replace URLs:
`IConnection.Reconnect(string newUrls);`
`IConnection.Reconnect(string []urls);`

[2021-03-04 20:15] watfordgnf commented on #442
Is this intended to be synchronous or asynchronous? I'd suggest including `ReconnectAsync` as well.

[2021-03-04 20:20] ColinSullivan1 opened #443 "Add RetryOnFailedConnect"
Currently, initial connect behavior attempts the server list and then gives up. Traverse the connection list and retry honoring reconnect attempt values.

See:  https://github.com/nats-io/nats.go/pull/581

Option to mirror go:
`Options.RetryOnFailedConnect = true;`

[2021-03-04 20:35] ColinSullivan1 commented on #442
Good idea, could provide `Task<IConnection> IConnection.ReconnectAsync();` and overloads...

[2021-03-08 17:27] esadaoui opened #444 "processOpError does not propagate its Exception to the DisconnectedEventHandler when reconnecting"
Hello, I am using NATS.Client 0.11.0.

When `processOpError(Exception e)` is called, the Exception `e` is not propagated in `lastEx`.
Thus, the method `doReconnect()` find nothing [here](https://github.com/nats-io/nats.net/blob/0.11.0/src/NATS.Client/Conn.cs#L1568) and trigger the event `Opts.DisconnectedEventHandler` with the property `Error` set to `null`.

It can be easily reproduced by creatin

[2021-03-25 17:07] furesoft opened #446 "demo server"
can i use the demo server for small production apps or can i host a sevrer anywhere for free?

[2021-03-25 17:11] furesoft commented on #446
im referring to demo.nats.io:4222

[2021-03-25 17:13] kozlovic commented on #446
Do not use `demo.nats.io` for production since it is not protected and anyone could see your data. If you want a hosted solution, you may want to look at NGS (this is a Synadia offering, which has free plans): https://synadia.com/ngs/pricing

[2021-03-25 17:15] #446 closed

[2021-03-25 17:22] ColinSullivan1 commented on #446
Synadia has a free tier (100% free, no credit card required) but the SLAs are best effort.  It's great for experimenting and playing around, but no guarantees.

There is a better developer tier that accepts a credit card and under typical usage would be 100% free, and does have the same SLAs as project or business plans - 4KB max message size, 50 concurrent connections and 5GB allowed per month.

[2021-04-10 15:41] AndyPook commented on #416
Is there a roadmap for this work? It seems the dotnet bits are last in the queue and are continually bumped for other languages :(
I understand the pressures on a small org. Choices must be made.
My current project is getting desperate for some form of durable messaging but really does not want to engineer to stan then have to redo for jetstream. They are more likely to switch to some other tech.

[2021-04-12 02:09] ColinSullivan1 commented on #416
I can understand your frustration.  We just released the java and go clients last week, so we'll start working on this next.

To be entirely transparent, the maintainers for some of the common client libraries are employed by Synadia who prioritizes how the engineering hours they donate toward the NATS project are used.  Usually this is aligned with business goals, and success there ends up provid

[2021-04-13 10:40] khabalevskyi commented on #416
Hi @ColinSullivan1,

Does

mean that .NET client will have the api to manage JetStream?
Some of our upcoming features rely on that.
Will .NET client have something similar to [JetStreamManagement.java](https://github.com/nats-io/nats.java/blob/main/src/main/java/io/nats/client/JetStreamManagement.java)?

Best regards,
Andrii

[2021-04-13 15:34] ColinSullivan1 commented on #416
@khabalevskyi , yes, that is the plan.  Some work has already been started on interfaces and we'll setup a branch so the community can comment.

[2021-04-14 08:32] khabalevskyi commented on #416
@ColinSullivan1, thanks for the information. :)

[2021-04-20 11:43] scottf opened #448 "Header support for separators"
See https://github.com/nats-io/nats.deno/issues/147 for details

[code]

[2021-04-20 12:46] watfordgnf commented on #448
So, per https://tools.ietf.org/html/rfc2616#section-2.2 and https://tools.ietf.org/html/rfc822#section-3.2 we would need to do two things:
1. Quote the containing string
2. Escape the value if `\` or `"` (although we could escape _any_ visible character if we so chose)

[2021-04-20 13:14] scottf commented on #448
Yes. I would only bother with escaping `\` and `"` when serializing but we need to handle anything when de-serializing

@watfordgnf do you want to take a run at this?

[2021-04-20 13:16] watfordgnf commented on #448
I'm a bit pressed for time for the next two weeks (job change), so if this is an immediate need I can't work on it right now.

[2021-04-22 09:32] AlexanderButs opened #449 "Don't block thread on each subscription."
Hi.

Thanks for such a good product. NATS is great!

Context: I want to build a scalable architecture where I need to push notifications from backend to websocket connection. I want to use NATS as a messaging platform for this solution. So each websocket server needs to make a NATS subscription per each websocket client. So each websocket server needs to create thousands of NATS subscriptions.

Is

[2021-04-22 13:28] watfordgnf commented on #449
I think having 1 subscription per websocket connection would not be best, no matter the NATS Client. But you're correct that the particular implementation in the .NET client makes that doubly so.

Is there a requirement that each WS connection be able to handle their _own_ subject, or do they all listen for every message?

I have an app which manages websocket clients that require pub-sub, and do

[2021-04-22 13:55] ColinSullivan1 commented on #449
Check out https://github.com/nats-io/nats.net/issues/384#issuecomment-636129728.

You can set [Options.SubscriberDeliveryTaskCount](https://nats-io.github.io/nats.net/class_n_a_t_s_1_1_client_1_1_options.html#a030dfa5eac04072735d7529147d5c562) to something low and scale upward as necessary.

I'm thinking we should default to a sane number of tasks (3-5) to handle subscriptions rather than one Task

[2021-04-22 13:57] watfordgnf commented on #449
In our case the backend services know about these clients due to their registration messages coming over: `namespace.{base-subject}.broadcast.ClientRegistrationNotification`. This message includes the full ID (e.g. `{server-id}.{client-id}`, which is enough to route messages to them.

[2021-04-22 14:11] AlexanderButs commented on #449
Oh, I see. Thanks for clarification. This would work, I guess.

What do you do in case of scale out (dynamically spawning new backed services)? New backed services will not know about client connections, as I understand.

[2021-04-22 14:18] watfordgnf commented on #449
Two details left unsaid in our pattern:
1. Registrations are not persisted but instead repeated as a heart beat (sacrifice traffic for dealing with removing stale clients from any data stores)
2. New backend services are on queue groups and would only be talking with a WS Client directly if the WS Client interacted with them

[2021-04-22 20:59] ColinSullivan1 commented on #449
Do the back end services need to maintain any state about a client between requests?  If not, then as @watfordgnf suggested, certainly use queue groups.  You can scale up or scale down subscribers in a queue group seamlessly and NATS would act as a layer 7 load balancer for you.  If your application does require to maintain client state between requests you'll need to have some place to store that

[2021-04-23 07:27] AlexanderButs commented on #449
Yeah, thanks guys for your advice regarding possible architecture approaches. I appreciate that. Will consider these patterns for our use cases.

SubscriberDeliveryTaskCount would solve my problem partially. You can close this issue if you are not going to get rid of those blocked threads.

Thanks.

[2021-04-23 13:58] ColinSullivan1 opened #450 "Update the default SubscriberDeliveryTaskCount"
The [SubscriberDeliveryTaskCount](https://nats-io.github.io/nats.net/class_n_a_t_s_1_1_client_1_1_options.html#a030dfa5eac04072735d7529147d5c562) default should be set to something sane like 3.  Currently it is zero which is too strongly biased toward high throughput with a low number of subscriptions and does not support many subscriptions in one application as one thread to be created per subscr

[2021-04-23 14:05] ColinSullivan1 commented on #449
Absolutely - we're happy to help, and thank you for using NATS.  If you aren't there already, feel free to join us on [slack](https://slack.nats.io/).  Many of the NATS maintainers are there to answer questions and provide guidance.  It also provides an opportunity to discuss your architecture with others in the NATS community who may share their experiences.

[2021-04-23 14:06] #449 closed

[2021-05-02 13:12] michaelkacher commented on #416
@ColinSullivan1 Are there any items the community can help with now or do we need to wait until you get your branch in? If there are any areas to help, please let me know.

[2021-05-03 03:51] ColinSullivan1 commented on #416
@michaelkacher , Thanks!  Much appreciated!

Some really low hanging fruit would be to setup testing for JetStream.  This could be to add an override to the [NATSServer](https://github.com/nats-io/nats.net/blob/master/src/Tests/IntegrationTests/TestUtilities.cs#L27) that accepts a boolean to enable JetStream (the `-js` parameter), or a NATSJetStreamServer subclass that does the same.  Other ideas

[2021-05-07 12:23] michaelkacher commented on #416
@ColinSullivan1 I somehow missed the notification of the response, I can get that this weekend and will keep my eyes open for other items.

[2021-05-07 14:58] ColinSullivan1 opened #454 "Add .editorconfig"
We've been getting contributions from more contributors lately.  Let's add a `.editorconfig` file to standardize code.

Suggestions are welcome!

See:  https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/code-style-rule-options#example-editorconfig-file

CC/ @watfordgnf, @danielwertheim, @jasper-d, @scottf

[2021-05-07 16:12] jasper-d commented on #454
Like @sixlettervariables https://github.com/nats-io/nats.net/pull/447#issuecomment-834477949 I'm using a slightly modified version of the .editorconfig from dotnet/runtime.

It uses UPPER_SNAKE_CASE for private const fields which matches about two thirds of the private consts in NATS.Client.

.editorconfig is here: https://gist.github.com/jasper-d/cb0b45d903b7b1fda3919bb4771e5cf1
Code looks like t

[2021-05-07 16:13] #352 closed

[2021-05-07 16:22] ColinSullivan1 commented on #454
Apologies @jasper-d , I forgot about your issue https://github.com/nats-io/nats.net/issues/352 when I opened this.

[2021-05-10 22:42] ColinSullivan1 opened #456 "Add JetStream Functionality for Integration Testing"
Enhance the integration tests to provide JetStream functionality.  This could be a subclass of the [NatsServer](https://github.com/nats-io/nats.net/blob/master/src/Tests/IntegrationTests/TestUtilities.cs#L27) with JetStream enabled.

[2021-05-10 23:02] ColinSullivan1 opened #457 "Add JetStream Examples"
JetStream Examples

- [x] JetStreamManageConsumers
- [x] JetStreamManageStreams
- [x] JetStreamPublish
- [x] JetStreamPublishAsync
- [x] JetStreamPublishVsCorePublish
- [x] JetStreamPublishWithOptionsUseCases
- [x] JetStreamPushSubcribeBasicSync
- [x] JetStreamPushSubcribeBasicAsync
- [x] JetStreamPushSubscribeBindDurable
- [x] JetStreamPushSubscribeFilterSubject
- [x] JetStreamPushSubscribeDelive

[2021-05-10 23:04] ColinSullivan1 opened #458 "JetStream RX API"
Add a JetStream RX API and examples for the new JetStream APIs.

[2021-05-14 17:21] michaelkacher commented on #456
@ColinSullivan1 I started this with the pull request https://github.com/nats-io/nats.net/pull/461. Let me know if there is feedback or items that would be valuable to change or add.

[2021-05-14 17:25] ColinSullivan1 commented on #456
@michaelkacher - Thanks!  I'll take a look.

[2021-05-16 03:54] zubairalimansoor opened #462 "tls and non tls on same port"
If server is configured to accept tls and non tls on same port, C# client works for non-tls connection only but does not work for tls connection. I saw the code and it can be fixed by handling server parameter "tls_available". If C# client wants to establish tls connection and tls_available is also true, it should initiate tls based connection.

[2021-05-19 11:21] michaelkacher commented on #456
@ColinSullivan1 I believe this issue has been completed with #461 being merged. Please let me know when there is help that is needed to get the JetStream client in!

[2021-05-19 13:52] ColinSullivan1 commented on #456
It has been completed - thanks!

I've made some progress with the client APIs, will hopefully have a PR this week for review.  At that point we should have more opportunities for collaboration or to contribute.  Thanks for offering to help, much appreciated!

[2021-05-19 13:52] #456 closed

[2021-05-23 12:44] shimr12 opened #463 "rare System.IndexOutOfRangeException when reusing EncodedConnection object"
Hi.
I use a very small pool of `EncodedConnection`s and share them between threads.
I saw [here](https://github.com/nats-io/nats.net/issues/350) a mention that `EncodedConnection` is thread safe so my usage is normal.

I rarely get a `System.IndexOutOfRangeException` when trying to call `EncodedConnection.SubscribeAsync`.

example stacktrace:
[code]

calling `Dictionary.Add` shouldn't raise `Syste

[2021-06-01 13:55] WiDoWMaKeS commented on #416
Is there a current ETA for JetStream support in the .NET library?

[2021-06-01 14:46] ColinSullivan1 commented on #416
Aiming for the next few weeks.

[2021-06-15 04:17] skrysmanski opened #466 "Using unsafe Random for Nkeys.CreateSeed()"
While searching through the nats.net code base I noticed the method `Nkeys.CreateSeed()` is implemented like this:

[code]

Shouldn't this code use `RandomNumberGenerator.GetBytes()` (or something similar) to generate a cryptographic secure seed? The `Random` class is not cryptographically secure (and [its value can even be predicted](https://manski.net/2016/08/breaking-nets-random-class/)).

[2021-06-15 11:00] scottf commented on #466
@skrysmanski  We will review, but I don't think this is a problem. The prediction example you use uses the same Random object in order to figure it's prediction. This code uses a new Random object each time, which has a new seed each time. I'd be more interested in it's efficiency. If you like, you are welcome to propose a code change via a PR.

[2021-06-15 11:10] sixlettervariables commented on #466
I'll handle this in my current NKeys PR. Thanks for pointing that out @skrysmanski.

[2021-06-15 11:15] gallun320 opened #467 "Can somebody explain to me how it possible implement Request-Reply pattern by this lib?"

[2021-06-15 14:17] sixlettervariables commented on #467
You would subscribe to the request subject and reply to the subject provided in the message received.

You can check out our tests for examples of these.

[2021-06-15 15:08] ColinSullivan1 commented on #467
To expand a bit on @sixlettervariables, there is a [Request](https://nats-io.github.io/nats.net/interface_n_a_t_s_1_1_client_1_1_i_connection.html#a4210238627f16c565d8ce88421ada056) API that essentially publishes and waits for a response on a unique subject.  The responder subscribes to a subject, and when it receives a message, it can either publish on the [reply subject](https://nats-io.github.i

[2021-06-15 16:45] #466 closed

[2021-06-15 16:56] sixlettervariables commented on #466
Thank you again for bringing this up @skrysmanski! Fix will be in the next release.

[2021-06-16 20:24] warunapww opened #468 "How to subscribe to a durable queue group"
Hello,

I was not able to find a way to subscribe to a _durable_ queue group.
I can connect to a queue group but could not find a way to specify the durable-name.

It seem like the GOLANG client support this feature
`sc.Subscribe("foo", func(m *stan.Msg) {...}, stan.DurableName("my-durable"))`

Is this already possible with C# NATS client or is there a plan to support it near future?

[2021-06-16 20:36] #468 closed

[2021-06-16 20:37] warunapww commented on #468
I post the issue under the wrong project. please ignore

[2021-06-25 15:03] imtiazpk opened #469 "Using .NET client Version (0.10.1) sometime connection takes 10 seconds."
I am facing an issue posted on this link https://github.com/nats-io/nats-server/issues/2298

One of my .NET 5.0  service checks the NATS server TCP health by connecting and then disconnecting from from NATS server port 4222 after some interval 10 seconds. Some time the connection takes 10 seconds which causes the NLB to fail the health check of my service. Not sure the issue is with the .NET clien

[2021-06-28 16:40] Exagram opened #470 "Receiving invalid data on synchronous subscribe"
Steps:
[code]

Expected:
* My decoded data string

Actual:
* A weird string with the value "-encodedCommand"

I'm using V0.12.0 of the library.

[2021-06-28 17:54] #470 closed

[2021-06-28 18:04] Exagram opened #471 "Missing Maual ACK Method in Subscribe/Message"
I have workers that subscribe to messages and sometimes I don't want to ACK messages.

Looking at the docs I see that NATS supports the concept of Ack's: [https://docs.nats.io/nats-concepts/acks](https://docs.nats.io/nats-concepts/acks)

However this sister package seems to support Ack's: [https://github.com/nats-io/stan.net](https://github.com/nats-io/stan.net)

Should I switch over from NATS to

[2021-06-28 18:06] paulclavier commented on #416
Issue 417 does not have much in the way of information or pointers to additional issues for tracking purposes, is there an update on getting JetStream support in the .NET library?

Thank you for all your hard work :)

[2021-06-28 20:25] sergeyshaykhullin commented on #471
No, please consider to try JetStream as soon as it will released on dotnet https://github.com/nats-io/nats.net/pull/465

Docs: https://docs.nats.io/jetstream/jetstream

[2021-06-28 20:26] sergeyshaykhullin commented on #416
@paulclavier Work in progress)

https://github.com/nats-io/nats.net/pull/465

[2021-06-28 23:51] scottf commented on #471
@Exagram We are working on the .NET client adding support for JetStream. If you are not already using STAN, I would wait for the .NET client work to be completed. See https://github.com/nats-io/nats.net/issues/417 for more information.

[2021-06-28 23:51] #471 closed

[2021-06-29 00:10] scottf commented on #416
Both Colin and I are working on the implementation and are doing the best we can to wrap this up. We have two other .NET contributors assisting us with some implementation and code reviews. Our goal is that we will have a beta release in a few weeks.
I am closing this ticket. Please follow here.
The most recent PR of work in progress is https://github.com/nats-io/nats.net/pull/465
The best place t

[2021-06-29 00:10] #416 closed

[2021-06-29 01:56] scottf opened #472 "JetStream Direct Mode - .Net"

[2021-06-29 01:59] #472 closed

[2021-07-21 12:36] dedale opened #474 ".NET Core NuGet package?"
Hello!

Do you know when a NuGet package will include a .NET Core version of nats.io official .NET Client?

Currently, latest 0.12 version only support .NET Framework 4.6 or .NET Standard 1.6.

We would need at least .NET Standard 2.0.

Thanks
Vianney

[2021-07-21 13:07] sixlettervariables commented on #474
.NET Standard 1.6 is implemented by .NET Core 1.0+ and .NET 5.0+. See https://docs.microsoft.com/en-us/dotnet/standard/net-standard

Why would you need .NET Standard 2.0 exactly?

[2021-07-21 13:47] dedale commented on #474
Well I thought this was a requirement to be able to use this lib for both Windows and linux in .NET Core 3.1.
Thanks for your help!

[2021-07-21 13:47] #474 closed

[2021-07-21 14:39] sixlettervariables commented on #474
Given Microsoft needs an implementation matrix for .NET Standard to make sense of it I can understand the confusion. Makes it harder for us all!

Happy to see the day when we're all on just plain ole ".NET".

[2021-07-22 17:10] scottf opened #475 "JetStream Publish Async review for proper implementation"
I am a Java developer who did this implementation. Need to circle back around to the implementation with the help of C# devs to make sure the implementation makes sense.

[code]

[2021-07-22 17:55] scottf commented on #448
Based on [ADR-4](https://github.com/nats-io/nats-architecture-and-design/blob/main/adr/ADR-4.md) this is not necessary anymore. Values are not encoded.

[2021-07-22 17:55] #448 closed

[2021-07-26 11:33] scottf commented on #417
Pre-release 1 is available. https://www.nuget.org/packages/NATS.Client/0.14.0-pre1

[2021-08-09 09:49] gharaszti71 opened #478 "JetStream relays only a fixed amount of messages"
Hi Guys, I'm an early adopter of JetStream client and I ran into a possible bug. NATS relays only a fixed amount of messages and the rest of them never arrived, until server was restarted. After restart, the rest of messages has been arrived.

Environment:
NATS Server 2.3.4, command line: nats-server -js -m 8222 -sd d:/nats/storage
NATS .NET Client: 0.14.0-pre1 from nuget and .NET Core 3.1 (latest

[2021-08-11 11:50] UliKu opened #479 "Pull-based JetStream subscriber gets NATSBadSubscriptionException("Invalid subject.") because of empty DeliverySubject"
https://github.com/nats-io/nats.net/blob/d2c992479756f8ca4aaae29fee8e9cc5a1540829/src/NATS.Client/JetStream/JetStream.cs#L225-L229

`inbox` is `string.Empty` but not `null` in this case, maybe checking for `string.IsNullOrEmpty(inbox)` is already sufficient to resolve this issue.

Note that I have tried to create the `PullSubscribeOptions` without providing a `ConsumerConfiguration`:
[code]
In thi

[2021-08-17 01:31] hastarin commented on #463
Perhaps a ConcurrentDictionary should be used instead.
https://docs.microsoft.com/en-us/dotnet/api/system.collections.concurrent.concurrentdictionary-2?view=netframework-4.6.2

[2021-08-17 21:38] ilhom0258 opened #480 "Lots of code in the files"
Hello,
My name is Ilhomjon Buriev. I want to share my 2 cents to the community of Jetstream. Due to analyzing the codebase I have noticed of too many lines of code. Therefore, due to code styling I want to break to some little files. Could you please say if it's a good idea?)
Thanks

[2021-08-18 15:29] scottf commented on #480
I personally agree that it is best practice to have more, smaller files, but I'm also coming from a Java background. The paradigm in the .NET world may not be exactly the same. Could you provide some examples? Also, please feel free to propose code changes via PR.

[2021-09-01 20:52] scottf commented on #417
Pre-release 3 is available.
https://github.com/nats-io/nats.net/releases/tag/0.14.0-pre3
https://www.nuget.org/packages/NATS.Client/0.14.0-pre3

[2021-09-03 04:36] johnsusi opened #492 "Connect when CRL is missing in server certificate"
Hi,

I am trying to use TLS when connecting to a local nats server. I am by no means an expert in TLS and just try to google my way to something working, so apologies if I have made some obvious mistake or misunderstood how it should be done.

I have used the steps here https://docs.nats.io/nats-server/configuration/securing_nats/tls#creating-self-signed-certificates-for-testing to generate a cert

[2021-09-07 14:01] mullerch opened #493 "The client is not able to reconnect to the server"
**Description**

When using the dotnet nats client library (with SetUserCredentialHandlers) and a nats server, using the accounts authentication mechanism with the full nats resolver, the dotnet client is not able to reconnect with the system account upon server restart.

nats-server: 2.4.0
nats.net: 0.12.0.0

**Reproduction**

Prerequisite : docker

1. Download [NatsClientTest.zip](https://github

[2021-09-07 14:15] ColinSullivan1 commented on #493
@mullerch , thank you so much for the provided test and detail in this issue.  Much appreciated!  We'll take a look.

[2021-09-08 22:49] scottf commented on #475
fixed by https://github.com/nats-io/nats.net/pull/485

[2021-09-08 22:49] #475 closed

[2021-09-08 23:21] scottf commented on #478
@gharaszti71
Can you upgrade to server version v2.4.0 and the latest client (https://www.nuget.org/packages/NATS.Client/0.14.0-pre3)
JetStream queue server behavior was completely re-done.

If it still happens, can you tell me how many messages are published? Are they all published ahead of time or did you publish some, wait for the consumer to get all those and then publish more? How many consume

[2021-09-08 23:28] scottf commented on #479
I have done a lot of cleanup in this area. I come from the java world where I was used to expecting null instead of empty string. This should be fixed in the latest client https://www.nuget.org/packages/NATS.Client/0.14.0-pre3. Please also get the latest server, at least v2.4.0

[2021-09-08 23:30] scottf commented on #480
@ilhom0258 could you add some more comments, maybe even make a fork and refactor something in the style you suggest?

[2021-09-09 06:21] #479 closed

[2021-09-09 10:14] gharaszti71 commented on #478
Thanks Scott, the upgrade has been completed with the newest version (server 2.4.0, client 0.14.0-pre4) and the issue still same.
I post the code if necessary.
[NATS.Client.POC.zip](https://github.com/nats-io/nats.net/files/7135644/NATS.Client.POC.zip)

[2021-09-09 22:17] scottf commented on #478
@gharaszti71 @ColinSullivan1 Ok. I was able to recreate this using the java client. It must have something specific to do with workqueue retention. I'm saying this is not a client issue per se, but am also not saying it's a server issue. It may be, it may be a misunderstanding of how work queue retention works, it could be a timing thing of acks, something about the consumer. I'm digging in and wi

[2021-09-10 03:20] scottf commented on #478
This is the current workaround:
[code]

[2021-09-10 09:42] gharaszti71 commented on #478
Hi Scott,

where should I check this flow control? If in the event handler, then the HasStatus will be false every time because Status will be null, however the msg.Reply contains something this: "$JS.ACK.example-stream.example-consumer.1.1.1.1631266719736774100.0"
Please give me more detail.

Gabor

[2021-09-10 20:49] scottf commented on #478
ok so when you get a message, you have to check if it's a status message. If it is, and it's a flow control, you must respond as the example code does. If it's not a status message, then it's a jetstream message

Also, you must set some amount of heartbeat time when you use flow control. If you don't have heartbeats on and you fail to respond to the flow control message, you must restart the serve

[2021-09-13 09:48] gharaszti71 commented on #478
Thanks Scott,

According to them, I need to handle flow-control messages on the one hand, and heartbeat messages on the other. One issue left then is what if the heartbeat doesn’t come with a Nats-Consumer-Stalled header? I always get Nats-Last-Consumer and Nats-Last-Stream headers (Which contain a number), but not always get Nats-Consumer-Stalled. Here is the sample of handle messages:

`

[2021-09-13 16:30] scottf commented on #478
@gharaszti71 Okay I'm continuing the conversation with the server team and will raise this issue as well. My goal is to have automatic flow control implemented by the end of the week so users don't have to do all this work.

[2021-09-13 18:23] scottf commented on #478
@gharaszti71 I cannot reproduce your problem with heartbeats. Once the consumer is stalled, all heartbearts I get contain the header. My test consumer has flow control on and heartbeats on. I publish messages but don't respond to the flow control and start getting heartbeats right away.

[2021-09-22 02:09] adamtang79 opened #495 "Replier and Requestor stuck on Jetstream Tenancy"
**Description**

I'm trying to test Replier.exe and Requestor.exe, but they stuck.

**Reproduce**

Replier Terminal -> .\Replier.exe -url nats://mycom_outlet__1_user:mycom_outlet__1_user_password@192.168.0.136 -subject mycom.server__1.publisher.push.outlet -verbose

Requestor Terminal -> .\Requestor.exe -url nats://mycom_server__1_user:mycom_server__1_user_password@192.168.0.136 -subject mycom.ser

[2021-09-22 06:34] adamtang79 commented on #495
It's working now. Luckily I need to export _INBOX.> as service and import as service.

Thanks for the wonderful Product.

[2021-09-22 06:34] #495 closed

[2021-10-04 17:42] kharkins-23 opened #496 "Request Reply deadlocking coming from WPF application"
**Description**

Hello, I am currently attempting to use the NATS Request/Reply functionality from within a WPF app. The behavior I am currently seeing however, is that once my request goes into the NATSConnection, my application deadlocks until the timeout is completed. The subscriber never receives the message. Below is an example of the basic WPF I have spun up to recreate the issue, have tried

[2021-10-04 18:35] scottf commented on #496
@kharkins-23 So we know by running Requestor and Replier samples in the project (https://github.com/nats-io/nats.net/tree/master/src/Samples) that the core request reply functionality works.
Is your subscriber up and running before your request? If it's not, those publish requests go into the ether and it would make sense that they wait the entire timeout.
You basic button click code as far as NAT

[2021-10-04 18:35] jasper-d commented on #496
I cannot reproduce that, neither on .NET 5 nor on .NET 4.something. Could you provide an minimal (not) working example, including the XAML, .csproj, and a responder?

[2021-10-04 18:52] scottf commented on #469
@imtiazpk You might want to look into using the cli for health checks. But a straight connection should not take anywhere near 10 seconds so something is wrong with the server, network, client configuration or client use. Without code I really can't help much more.

[2021-10-04 18:54] wilstoff commented on #496
To give some more clarity, we agree the request reply generally works.  We have nunit tests that prove it works from a .netcore as well as regular .net 4.7.2.  I believe this has to do with asynchronous continuations when coming from the UI thread, but our normal techniques ConfigureAwait(false) and analyzing all the awaits and tasks for .Result/.Wait haven't come up with anything out of the norm

[2021-10-04 18:54] kharkins-23 commented on #496
Thanks for the quick response! Heres what I see on the nats-server with -DV enabled

[code]

Nothing ever comes after that last [PING] and we hit the timeout. And something to note, this does work totally fine from a normal nunit test case I have setup doing the same thing/sending the exact same proto object to the same topic, it only does not work coming from the WPF application

[2021-10-04 19:01] jasper-d commented on #496
@kharkins-23 That looks like nobody is responding to your message. You message (request) is published on subject `safetysettings.upsert.click`, awaiting a response on `_INBOX.uHgt21IfmyJOZiwF3EyTv2.1`. But apparently the server never receives a response message.

[2021-10-04 19:13] wilstoff commented on #496
If we don't have a listener, on the new version of Nats server don't we expect to get a NoResponderException immediately, at least that's what other tests have show us.  So if we get a NatsTimeoutException, then that would me the responder is failing to send the reply message (exceptions or whatever)?

[2021-10-04 19:24] ColinSullivan1 commented on #496
Yes, exactly.  If there's no responder present (no interest in the subject you requesting on), you should get a `NATSNoRespondersException`, which is a subclass of a timeout (for backward compatibility).

If you are actually timing out, you'll get a `NATSTimeoutException`.  This means the responder is connected and subscribed to your request subject, but is not responding.

[2021-10-04 19:48] wilstoff commented on #496
We'll get back to you, i'm sure there is something we're doing silly in our responder then, but odd because we've vetted out a bunch of the responder's logic through other tests (that don't have UI threads) and unsure of where we messed up on replying.

[2021-10-04 20:58] kharkins-23 commented on #496
Thanks for all the replies, this can be closed. Turns out it was an issue with our requester sending something unexpected to our replier, and our replier not handling it.

Thanks again!

[2021-10-04 20:58] #496 closed

[2021-10-04 21:43] ColinSullivan1 commented on #496
Absolutely!  Thanks letting us know.  Glad to hear you resolved the issue!

[2021-10-04 22:07] wilstoff commented on #496
As a side question, if a client subscription callback handler does throw an exception, there's no handler on the connection we can trigger off to see that error? Seems like the code just catches the exception to avoid crashing the subscription, which is nice, but my first thought was that the AsyncErrorEventHandler would have been raised on the connection, but perhaps that's only for nats errors a

[2021-10-04 22:59] ColinSullivan1 commented on #496
True, the async error handler is only for NATS messages today.  I can see how the exception being swallowed could make it difficult to debug.  I think that'd be a good addition, and will open an issue to track that.  Thanks!

[2021-10-04 23:02] ColinSullivan1 opened #497 "Fire the async error handler for user thrown exceptions"
Where applicable, catch user exceptions and fire the Async Error Handler when they are thrown.  Look at connection handlers, authorization handlers (NKEYS), and subscriptions.

[2021-10-30 10:43] coronabytes opened #501 "JetStream understanding PushSubscribeAsync / DeliverSubject"
So with 0.14 I finally got jetstream up and running.
As you can see in the code I have 1 stream, 2 topics and 2 consumers.

However I need some info on what deliverysubject does exactly.
Would you use the consumer group name?

Another thing is the first parameter of PushSubscribeAsync.
It needs to be a valid stream subject, however it doesn't seem to filter out messages at all.
as i get topic mess

[2021-11-01 12:29] kleferbe opened #502 "Just binding to an existing consumer now throws [SUB-90016] Existing consumer cannot be modified."
In the current master when doing
[code]
PushSubscribeAsync throws an Exception: "[SUB-90016] Existing consumer cannot be modified."
I think using bind mode should relieve us from supplying a complete consumer configuration. All information is already present at the server.

And to go one step further with bind mode:
Actually when using bind mode I whish I would not even have to supply `InSubject`,

[2021-11-01 13:05] scottf commented on #502
Agreed, this is confusing. Does your existing consumer that you are binding to have queue setup? Can you show me the code that is creating the consumer.

[2021-11-01 13:11] kleferbe commented on #502
thank you for taking this up, scott.

The consumer is set up with this consumer.json:
{
    "description": "Ingress Unitizer",
    "ack_policy": "explicit",
    "deliver_policy": "all",
    "deliver_subject": "_INBOX.ingressunitizer_47F8B36C",
    "deliver_group": "default",
    "durable_name": "ingressunitizer",
    "max_ack_pending": 65000,
    "max_deliver": 5,
    "replay_policy": "instant"
}

[2021-11-01 13:15] scottf commented on #501
DeliverySubject is required when you make a push consumer ahead of time via `AddOrUpdateConsumer`. Think of it like a an email address where the messages go.

The FilterSubject is the key to getting only the subject you want. In this case, since you did not set WithFilterSubject, it's essentially a wildcard for every subject in the stream, which is what you reported. And you were correct to be con

[2021-11-01 13:16] scottf commented on #501
[code]

[2021-11-01 14:22] coronabytes commented on #501
It seems to me the subject and queue params could be removed from PushSubscribeAsync and read all info from the ConsumerConfiguration.

I also tested queue which needs to be the same as deliverygroup, thus its kinda redundant.

I also noticed AddOrUpdateConsumer can only update the exact same config, even changing maxAckPending fails
with consumer already exists (still investigating)

[2021-11-01 14:33] scottf commented on #501
@coronabytes Agreed. The BindTo is really suppose to work with existing subscriptions and I need to make sure it works and probably add some documentation and examples.

Yes, queue and delivery group are redundant, but the api with the queue existed and without a major version change I did not want to remove the queue parameter.

Yes, the consumer is not supposed to change.

[2021-11-01 14:36] coronabytes commented on #501
Then why is it called AddOr**Update**Consumer ?
It's kinda misleading...

[2021-11-02 04:23] scottf commented on #501
I said the consumer is not "supposed" to change. There are maybe a field or 2 that can change, but I can't remember off the top of my head which they are. Again, not supposed to change. Also in the context of making a subscription, the consumer is not allowed to change versus a durable consumer already on the server- at that point make another consumer and use starting sequence if you have to. I g

[2021-11-02 14:32] scottf commented on #502
This is fixed in PR https://github.com/nats-io/nats.net/pull/503 The comparison of a default consumer to pre-made consumers was failing indicating a change was requested, when it was not.

[2021-11-02 21:24] scottf commented on #502
This is fixed and is in the process of being released as 0.14.1

[2021-11-02 21:24] #502 closed

[2021-11-03 07:16] VCuzmin opened #505 "Update the documentation regarding jetstream according to its current status"
Please update the documentation regarding jetstream. I know that jetstream has been released lately(alpha version) but in the documentation, there is the title as in the below image:
![image](https://user-images.githubusercontent.com/40390118/140021383-7f6a2d52-f381-4831-a805-3863899d4a3b.png)

This could lead to confusion when it comes to using it.

Thank you!

[2021-11-03 11:58] scottf commented on #505
Doh! Fixed in PR https://github.com/nats-io/nats.net/pull/507

[2021-11-03 11:58] #505 closed

[2021-11-22 10:52] Tridy opened #516 "NullReferenceException in NATS.Client.Defaults.WriteEvent()"
src/NATS.Client/NATS.cs

[code]
It looks like `e.Error` can be null and accessing `e.Error.Message` will then throw NullReferenceException

[2021-11-22 18:45] scottf commented on #516
I will review this and track callers to see if this (and other WriteEvents, etc.)  should be guarded. Did you encounter a problem or just were reviewing the code?

[2021-11-22 19:48] scottf commented on #516
Fixing in https://github.com/nats-io/nats.net/pull/517

[2021-11-22 20:03] Tridy commented on #516
I encountered that when testing a sample pub-sub test:

![image](https://user-images.githubusercontent.com/7138873/142927392-464af53a-fcc1-423f-bf4d-7f135ebd7882.png)

[2021-11-23 16:26] ColinSullivan1 commented on #516
Resolved via #517, and released in [NATS.Client V 0.14.3](https://www.nuget.org/packages/NATS.Client/0.14.3).

A Regression test added with #518.

Thank you for using NATS and raising this issue!

[2021-11-23 16:26] #516 closed

[2021-12-05 22:32] remotenode commented on #392
@watfordgnf could you please provide an example app(preferable with docker-compose) so that I can test on my side?
or to include such app with configuration into src/Samples folder

thanks in advance

[2021-12-06 22:08] scottf commented on #478
Closing, flow control has been released

[2021-12-06 22:08] #478 closed

[2021-12-16 08:22] jek-bao-choo opened #524 "OpenTracing documentation Client Server"
Does anyone have OpenTracing documentation on how to inject context at client and extract context at server?

The golang of nats has a documentation example. Wondering if we have one for nats.net?

If anyone of you have it, please share. I am happy to do PR to add it to the README.md here.

[2021-12-17 06:14] jek-bao-choo commented on #524
I got the client / publisher side of code working

[code]

Going to work on the server / subscriber side.

[2021-12-17 08:07] jek-bao-choo commented on #524
For subscriber will be this

[code]

This is for W3C header. Not B3 header.

[2021-12-17 18:02] scottf commented on #524
@jek-bao-choo I'm not understanding what you are trying to accomplish here! What documentation in the NATS go client are you referring to (maybe a link to github?). What "context" are your referring to and what client/server to you mean read and inject from. Please give more information so I can help you.

[2021-12-17 18:11] Drew40B opened #525 "Permissions Violation for Publish does not throw an exception"
Steps to repro:
1) Create a user that has these permissions:
 CLIENT = {
    publish = { allow: ["sub.>"]}
    subscribe = "sub.>"
  }

  users = [
   {user: client,  password: ccc, permissions: $CLIENT}
    ]

 Run the following xUnit test and observe no exception is thrown
[code]

[2021-12-17 18:14] Drew40B commented on #525
I forgot the add the corresponding nats log entry:

[1] 2021/12/17 18:05:17.268144 [ERR] 172.17.0.1:41262 - cid:10 - "v1.13.0:go:NATS CLI Version 0.0.28" - Publish Violation - User "client", Subject "aa"
[1] 2021/12/17 18:05:17.268468 [DBG] 172.17.0.1:41262 - cid:10 - "v1.13.0:go:NATS CLI Version 0.0.28" - Client connection closed: Client Closed

[2021-12-17 18:24] scottf commented on #525
I'll look into this. At first glance, this is not a connection error, I would expect an exception to thrown.

[2021-12-18 00:31] scottf commented on #525
I did a little digging. Since I'm most familiar with Java, I tried this with the Java client and it calls it's error handler to notify of error, which seems like a perfectly reasonable thing to do when no function return is expected. The question is then why isn't there similar behavior in the .NET client. I think it's fair to say that connection.LastError would not be set, since this is not a con

[2021-12-21 13:25] #457 closed

[2021-12-21 13:28] scottf commented on #410
@mattmodene This seems like a Visual Studio issue. Is it possible an exe is locked or something? Have you tried running your app from the command line?

[2021-12-21 13:28] scottf commented on #397
Object store is coming soon.

[2021-12-21 14:01] mattmodene commented on #410
From what I can remember at the time, this was an issue even if just one VS solution contained code that would connect to the server. I've got no idea if this is resolved at this point, not currently using NATS in a project.

[2021-12-21 16:41] #410 closed

[2021-12-21 20:52] tbeets commented on #525
Is the server's defensive close of the connection (which I believe is automatic when a client tries to do an unpermitted action) masking the publish violation error just before?  i.e. what would we expect `connection.LastError` to hold?

[2021-12-22 13:00] scottf commented on #525
No. The violation comes across the wire. .NET just discards -ERR protocol messages where java surfaces them through the error listening mechanism

[2021-12-22 17:17] ColinSullivan1 commented on #525
This is a race condition between processing the error and closing the connection and Publish is non-blocking w/r/t publish errors.  If the client detects the closed connection first, it'll handle things as if the the connection was closed. If the client processes the error first, you'll get an async error notification if an async error handler is set and LastError would be set.

For this test, if

[2021-12-22 21:56] tbeets commented on #525
You're right @ColinSullivan1 , connection authentication errors give you the boot, but pub/sub authorization (permissions) errors leave the connection open.

[2021-12-23 13:43] scottf commented on #525
I'll dig into this a little more, try the sleep.

[2021-12-23 18:31] scottf commented on #525
@Drew40B Please see Colin's note. I added a Thread.Sleep(2000) after the publish and before reading LastError and saw the error.

[2021-12-23 18:31] #525 closed

[2021-12-24 11:18] Drew40B commented on #525
I am designing a system that will have a high volume of message throughput I don't think sleeping is a viable option. Is there an alternative publish call that I can make that will guarantee the Nat server has received and processed the call?

[2021-12-24 12:32] scottf commented on #525
So the sleep is just there because the example programs is ending and the connection is closing. Why are you publishing to the wrong subject anyway?

[2021-12-24 16:01] Drew40B commented on #525
I am evaluating how nats client handles permission / publish errors.

[2021-12-28 15:12] esolCrusador opened #532 "NATS stopped to handle new messages after many NATS.Client.NATSSlowConsumerException"
NATS.Client.NATSSlowConsumerException at STAN.Client.Connection.PublishAsync
NATS.Client.NATSSlowConsumerException
NATS.Client.NATSSlowConsumerException at NATS.Client.Connection.publish

We are using STAN.Client and there we are using PublishAsync, Ack methods.
Project is EventSourcing based reporting. And when we have events from Subscription() we store them and when we know that session is done

[2021-12-28 15:26] scottf commented on #532
@esolCrusador Are you working on a new project? If so you should definitely move to JetStream. There is a feature called flow control that will recognize when you are taking too long to handle messages and stop pushing them to you until the flow control message is acknowledged by the client, which requires you processing all the messages before the flow control.
If you are on STAN and staying I'm

[2022-01-05 07:48] Tommy95271 opened #534 "Get NATSTimeoutException when executing first example code"
**Description**

I run the fist example in .NET page Basic Usage section `https://github.com/nats-io/nats.net#creating-a-nats-net-application`  in Visual Studio 2022 and .NET 6 console app, it always shut down the app in this line `Msg m = sSync.NextMessage(1000);` and throws an error `NATS.Client.NATSTimeoutException: 'Timeout occurred.'`

**Reproduction**

- Clone the code and build in Release m

[2022-01-05 13:42] khabalevskyi opened #535 "Default event handlers log to stderr."
## Defect
NATS.Client default event handlers log to stderr when you disconnect from NATS server. It will log the disconnected and closed events to stderr even when you explicitly ask to be disconnected by calling the Dispose method.

Make sure that these boxes are checked before submitting your issue -- thank you!

 - [x] Included a [Minimal, Complete, and Verifiable example] (https://stackoverflo

[2022-01-05 16:13] scottf commented on #534
There are no messages available on foo, that's why it times out. I would suggest starting with the samples https://github.com/nats-io/nats.net/tree/master/src/Samples

[2022-01-05 16:13] #534 closed

[2022-01-05 16:13] scottf commented on #534
@Tommy95271 There are no messages available on foo, that's why it times out. I would suggest starting with the samples https://github.com/nats-io/nats.net/tree/master/src/Samples

[2022-01-06 13:36] thinkbeforecoding opened #538 "Key Value TryCreate/TryUpdate"
## Feature Request
Key Value TryCreate/TryUpdate

#### Use Case:
The Key Value features are excellent, enabling simple synchronization mechanisms as Leader election etc. using the Create/Update methods that check expected revision before storing proposed value.

#### Proposed Change:
The Create and Update methods currently throw exceptions, but it would be useful to add new TryCreate/TryUpdate met

[2022-01-18 17:06] thinkbeforecoding opened #540 "Add GetMessage/DeleteMessage on IJetStream"
## Feature Request
Add GetMessage/DeleteMessage on IJetStream

#### Use Case:
Get/Delete are currently implemented on IJetStreamManagement and return a MsgInfo. It makes sense, in a tooling perspective.
But in some scenario, Get/Delete message can be required in services (Custom sharding), and having to use both IJetStream and IJetStreamManagement muddies the code.

#### Proposed Change:
Declare G

[2022-01-19 14:59] scottf commented on #540
The problem with adding this to the api is that we have to consider it in all clients, not that all clients have to be exactly equal but we do try to maintain some amount of parity. And since you can wrap the call yourself and the management context is actually very light, I don't see the problem with using both the management api and the regular api. We are really just separating concerns by havi

[2022-01-19 23:04] aricart commented on #540
Streams are supposed to be log data, consumers process them and messages remain unless the stream's storage policy discards them.  The management APIs can obviously do that sort of operation as they are intended as management. So messages are indeed gone from the stream forever.

Operations like sharding etc can be easily implemented by having a work queue that then re-publishes a message to a dif

[2022-01-21 15:30] thinkbeforecoding commented on #540
I closed the PR for now to avoid confusion.

[2022-01-21 15:30] #540 closed

[2022-01-21 15:35] thinkbeforecoding commented on #538
For now, the exception is thrown in PublishAck.Init():
https://github.com/nats-io/nats.net/blob/1e5f0fb6b63a9b9c578613b95ff32e9899fb19e8/src/NATS.Client/JetStream/PublishAck.cs#L35

Avoiding the exception thus require to throw this exception only in some cases.

[2022-01-26 16:23] thinkbeforecoding commented on #538
To implement a TryCreate/TryUpdate correctly, we need to implement a TryPublish that is returning the PublishAck without raising an exception in case of an error code.
This could be kept private if we don't want to change the Api, but it could be a good idea to provide it for other scenarios.

[2022-01-26 16:24] thinkbeforecoding commented on #538
Eventually we'll want to implement also UpdateAsync and TryUpdateAsync.

[2022-01-26 16:26] thinkbeforecoding commented on #538
For the Method/TryMethod pattern I usually proceed like this:
Implement the TryMethod first that doesn't raise an exception but indicates a success or error.
Implement then Method by calling TryMethod and raising an exception in case of error. This avoids reimplementing everything twice.

[2022-01-31 19:07] scottf commented on #535
@khabalevskyi @LaurensVergote I will run this by a few other people to discuss it with them, but I doubt this will be done.
The whole point of building a default handler was to just have something. We wanted to ensure that there was some output somewhere because those events used to be discarded.
We also believe that writing to the console or stderr is actually not a best practice and these are in

[2022-02-01 01:02] scottf opened #547 "Application doesn't attempt to reconnect."
## Defect

#### Versions of `NATS.Client` and `nats-server`:
Version 0.14.0

#### OS/Container environment:
Windows

#### Steps or code to reproduce the issue:

The unit test should pass

#### Expected result:

The application reconnects

#### Actual result:

The application fails to reconnect

[code]

[2022-02-01 10:56] LaurensVergote commented on #535
@scottf I do agree that ideally the user implements something to handle this instead of the default handlers that are currently implemented, but I believe logging every event to stderr by default a bit counter productive. Minimal code samples/examples will now produce a load of errors, which aren't actualy errors. Additionally, if in the future additional handlers are added, updating your client v

[2022-02-02 00:11] ColinSullivan1 commented on #535
@LaurensVergote , the general idea behind the default handlers are for users to more quickly identify conditions in their application that may be unexpected or signal a significant state change in NATS. When there are connectivity issues the first recommendation maintainers will make will be to implement these handlers - so often so that we made these defaults.

stderr was chosen to maintain parit

[2022-02-02 22:42] #547 closed

[2022-02-03 16:40] scottf commented on #547
0.14.5 has been released fixing this issue

[2022-02-04 16:28] sspates opened #551 "When client disconnects, it doesn't reconnect Jetstream Handlers"
## Defect

Make sure that these boxes are checked before submitting your issue -- thank you!

 - [x] Included a [Minimal, Complete, and Verifiable example] (https://stackoverflow.com/help/mcve)

#### Versions of `NATS.Client` and `nats-server`:

#### OS/Container environment:
Windows (Client)
Docker (Server)
Visual Studio 2022
.Net 6.0

#### Steps or code to reproduce the issue:

[code]

#### Expe

[2022-02-04 16:58] SkinnySackboy opened #552 "How do I delete a durable JetStream push subscription?"
Hi,

Today we were running a few experiments with a JetStream cluster of 3, individually turning off servers one at a time (but no more than 1 each time), to ensure we understand the behaviour precisely before we go into production. Our subscription types are async push subscriptions.

What we noticed (which might be expected behaviour) is that when randomly killing servers, we noticed that any cl

[2022-02-04 17:36] ColinSullivan1 commented on #551
@sspates-starbucks, We very recently released a new version of the .NET client, [0.14.5](https://www.nuget.org/packages/NATS.Client/0.14.5), which fixes a bug associated with reconnection.  Would you give that version a try?

[2022-02-06 17:14] aktxyz commented on #383
Has anyone confirmed that you can connect to a nats.io server now using blazor client in the browser?

[2022-02-08 01:17] scottf commented on #469
Closing - no response from reporter

[2022-02-08 01:17] #469 closed

[2022-02-08 21:08] hypdeb opened #554 "`Observe` and `ToObservable` for `IEncodedConnection`"
## Feature Request

#### Use Case:
Same use cases are for `IConnection`.

#### Proposed Change:
Implement extension methods `Observe` and `ToObservable` for `IEncodedConnection`.

#### Who Benefits From The Change(s)?
Users of `Rx` and `IEncodedConnection`.

#### Alternative Approaches
There's none I can see. I'm new to NATS, maybe there's something I'm not understanding.

[2022-02-09 09:23] hypdeb commented on #554
Maybe I can expand a bit on what I was expecting when using an `IEncodedConnection` with `Rx`: I would have expected to have a straight forward way of getting an observable of the decoded object directly from the subscription like this

[code]

Note that in the above, the `IEncodedAsyncSubscription` type doesn't exist and is what I think would be needed for that to work, as an alternative to `IAsy

[2022-02-09 13:11] scottf commented on #554
@hypdeb Can you please review this unit test https://github.com/nats-io/nats.net/blob/master/src/Tests/IntegrationTests/TestEncoding.cs
If looks like you can already received encoded messages using the normal async subscription. If you are already aware of this,  maybe can you explain why you need to observe a message that you can already receive async?

[2022-02-09 16:19] hypdeb commented on #554
@scottf Thanks for coming back to me on this.

I don't think the test addresses my issue. I know I can receive the decoded messages, what I am missing is a handy way of extracting an observable sequence out of those messages, like it exists for the `IConnection` using the `Observe` and `ToObservable` extension methods defined here
https://github.com/nats-io/nats.net/blob/e51e0c940f785ac9105dcb15cf

[2022-02-10 07:58] hypdeb commented on #554
The `Rx` stuff is actually okay, the issue is this:

https://github.com/nats-io/nats.net/blob/e51e0c940f785ac9105dcb15cf27196f73af3b9d/src/NATS.Client/AsyncSub.cs#L37

What is missing is a subscription with and `EncodedMessageEventArgs` instead of `MsgHandlerEventArgs`.

Which part of the code are you referring to when you say that you are not using it ? Encoded connections or Rx ? Would you know

[2022-02-10 11:49] turowicz opened #556 "Missing async methods for PullSubscriptions"
Why is there no way of making PullSubscriptions via async and no way of Fetching messages from them via async? Seems like a lot of CPU goes to waste.

[2022-02-14 12:48] thinkbeforecoding commented on #538
Would it be ok to add a flag in PublishOptions to indicate that Publish should not raise exception on error ?
This could avoid passing an extra parameter along the chain.
The response parsing would use it to know if it raises the exception directly when parsing the Publish response.

[2022-02-15 17:48] scottf opened #561 "OCSP Suppport"
Add OCSP support to client

[2022-02-23 14:11] scottf commented on #535
Fixed in https://github.com/nats-io/nats.net/pull/560

[2022-02-23 14:11] #535 closed

[2022-02-25 20:34] Exagram opened #566 "'[SUB-90011] Subject does not match consumer configuration filter.'"
## Defect

Make sure that these boxes are checked before submitting your issue -- thank you!

 - [X] Included a [Minimal, Complete, and Verifiable example] (https://stackoverflow.com/help/mcve)

#### Versions of `NATS.Client` and `nats-server`:

- nats-0.0.28-windows-amd64
- nats-server-v2.7.2-windows-amd64

#### OS/Container environment:

- Windows 10 OS

#### Steps or code to reproduce the issue

[2022-03-01 10:25] saboco opened #567 "Instrument the library so it can send observability data on demand"
## Feature Request
Instrument the library with dotnet activity api ([ActivitySource](https://github.com/open-telemetry/opentelemetry-dotnet/blob/main/docs/trace/extending-the-sdk/README.md#writing-own-instrumentation-library)) so it can be used to send observability data.

To be noted that normally there is no overhead if the client code does not explicitly add the source to be listen, and even th

[2022-03-01 15:13] scottf commented on #566
@Exagram So while it's true that `STREAM.entity1.*.failed` is a subset of `STREAM.>` , we require an exact match, which means the code is behaving as designed. The server team is currently working on enhancements to how subjects are consumed providing better flexibility on filter subjects., so this will eventually trickle down to the clients. For now, your consumer filter subject must match exactl

[2022-03-02 16:14] caleblloyd opened #569 "Move from netstandard1.6 to netstandard2.0"
Moving from `netstandard1.6` to `netstandard2.0` would open a significant number of APIs including [ClientWebSocket](https://docs.microsoft.com/en-us/dotnet/api/system.net.websockets.clientwebsocket?view=netstandard-2.0)

https://docs.microsoft.com/en-us/dotnet/standard/net-standard

It would drop support for .NET Core 1.x, however maintenance ended on that [June 27, 2019](https://dotnet.microsoft

[2022-03-02 16:43] caleblloyd commented on #569
This is a per-requisite for #383 and #407

[2022-03-02 16:45] caleblloyd commented on #383
We will need to implement a connection method using [ClientWebSocket](https://docs.microsoft.com/en-us/dotnet/api/system.net.websockets.clientwebsocket?view=netstandard-2.0) before this will work in client-side Blazor

[2022-03-02 17:59] caleblloyd commented on #383
The library currently contains a mix of Sync and Async calls.  To work correctly with Blazor WebAssembly, we would have to ensure that all Async calls only call other Async calls.

Additionally, we would need to look into the behavior of Background Thread handling in Blazor WebAssembly, since certain parts of the library use `Task.Factory.StartNew` with `TaskCreationOptions.LongRunning` [example](

[2022-03-02 18:04] caleblloyd opened #571 "Publish Async-only Package"
From: https://github.com/nats-io/nats.net/issues/383#issuecomment-1057217440

[2022-03-02 18:55] m1stegmann opened #572 "No responders are available for the request"
We have a cluster with three pods and a stream with three replicas.
Now, when we restart a pod and continue writing messages in the meantime, we briefly get the error message: "NATS.Client.NATSNoRespondersException: No responders are available for the request."

Apparently, this happens exactly when the pod is restarted and NATS determines that the stream of this pod is "outdated".
Shouldn't it be

[2022-03-02 19:37] scottf commented on #572
@m1stegmann Could you please ask this on our slack #jetstream channel

[2022-03-08 17:34] caleblloyd opened #577 "Sync/Async Method Parity"
All calls in the library that trigger I/O should have both a Sync and Async version.

Async method names should have the suffix `Async`.  Async parameters should match Sync method parameters with an additional `CancellationToken cancellationToken = default` parameter at the end.

[2022-03-08 17:58] tbeets opened #578 "Usage of the Secure option is unclear"
Setting the Secure option to `true` before connection results in a failed connection.  README needs clarification on when the Secure option should be used in an application and additional requirements in the application if Secure option set, e.g. README shows custom configuration of a trust store in example but does not discuss usage of `tls://` connection URL, nor default trust store.

For exampl

[2022-03-30 17:37] hypdeb commented on #554
I am noticing a further discrepancy between the functionality supported by `IConnection` and `IEncodedConnection`, in that `IEncodedConnection` doesn't support `CreateJetStreamContext`. I think I will have to somehow make due with `IConnection` as it is too painful to use `IEncodedConnection` at this stage.

[2022-04-01 12:28] DavidSimner opened #586 "NotSupportedException in Connection.publish getting BufferedStream.Position"
We are seeing a `System.NotSupportedException` with the following stack trace:
[code]

It happens intermittently and isn't 100% reproducible, but here is my best guess as to what is happening:

In the C# class `Connection` there is a field `private Stream bw` which is a `BufferedStream` over another underlying `Stream`.

In the method `publish` if the `status` is `ConnState.RECONNECTING` then the

[2022-04-14 23:45] sspates-starbucks opened #588 "Handle OCSP and CRL cert checks with option to ignore when unavailable"
## Feature Request
When doing validation of the certificates in authentication, allow through options the ability to validate the certificates using OCSP with failback to CRL.

Option for this feature should include:
Validation Order (e.g. CRL, OCSP, Fallback)
Custom Fallback
Timeouts for Http requests
Ability to Ignore Http Timeouts
Ability to Ignore specific Http Error codes (e.g. 404, 500, etc.

[2022-04-15 08:59] LaurensVergote commented on #492
Most likely fixed with #591

[2022-04-22 05:57] aakashratkal1 commented on #410
I am experiencing the same problem even with one VS code open. Did anyone figure out what was the issue?
Versions:
VS Code: 1.64.2 (Universal)
Nats: nats-streaming-server version 0.24.3, nats-server: v2.7.4
OS: Mac OS Monterey 12.1
Chip: Apple M1 Pro

[2022-04-22 16:43] scottf commented on #410
@aakashratkal1 This client does not connect to STAN, just nats server and nat server running JetStream.

[2022-04-28 18:17] nayanparegi opened #595 "Error after upgrading to version 2.8.1 from 2.7.4"
I have upgraded NATS server to 2.8.1 whenever consumer restart even without any changes getting below error.

NATS.Client.NATSJetStreamClientException: [SUB-90016] Existing consumer cannot be modified

After I remove durable consumer and it starts working, but again if I restart it will throw same error.

[2022-04-28 18:30] kozlovic commented on #595
I have transferred this issue to the nats.net repo since it looks like this is what you are using. Please check similar report here: https://github.com/nats-io/nats.net/issues/502

[2022-04-28 18:37] nayanparegi commented on #595
Thanks

[2022-04-28 18:40] kozlovic commented on #595
@nayanparegi The issue was already transferred, so I am not sure if you close this issue because it is resolved or because you thought you closed the issue reported against the server. Let me know and I will re-open this issue if the latter.

[2022-04-28 19:58] scottf commented on #595
@nayanparegi @kozlovic This is a client issue. What version of the  Can you please show me the consumer configuration. Bet

[2022-04-28 19:59] scottf commented on #595
@nayanparegi @kozlovic There is code in progress to make this comparison more lenient. Should be available early next week.

[2022-04-28 20:00] scottf commented on #502
@nayanparegi There is code in progress to make this comparison more lenient. This is on top of the bug fix referenced here. Can you let me know what your consumer configuration looks like and I will make sure it's working.

[2022-05-02 21:47] plaisted commented on #407
This would be a nice addition for nat.net due to the TLS quirks discussed in https://github.com/nats-io/nats-server/issues/291

[2022-05-02 23:14] nayanparegi commented on #595
It's not yet resolved, I thought it is transferred hence I closed it.

[2022-05-02 23:18] nayanparegi commented on #502
@scottf  I have reverted installation. Below is the configuration that I am using for stream:

`Configuration:

        Durable Name: XXX
         Description: XXX
    Delivery Subject: _INBOX.scpXcbKmre1RVDjhDw_sxa
      Filter Subject: X.XXX
      Deliver Policy: All
 Deliver Queue Group: XXXX
          Ack Policy: Explicit
            Ack Wait: 1m0s
       Replay Policy: Instant
     Max Ack Pe

[2022-05-02 23:26] scottf commented on #502
@nayanparegi I need the code version. For instance what are you setting for max ack pending. 20000 is no longer the default value, it has been changed to 1000. Either way, I've got a PR waiting for approval that should address this by being properly lenient, hopefully the release will be done tomorrow.

[2022-05-02 23:29] scottf commented on #502
@nayanparegi can we also continue this conversation in #595

[2022-05-02 23:29] scottf commented on #595
@nayanparegi Continue here instead of #502

[2022-05-03 04:16] nayanparegi commented on #595
@scottf  below is sample code:
This is for durable:
`                    var consumerConfigurationBuilder=ConsumerConfiguration.Builder().
                                WithDescription($"{ServiceName}.{eventName}").
                                WithAckWait(NATS.Client.Internals.Duration.OfSeconds(_ackTimeout)).
                                WithFilterSubject($"XXXX.{eventName}").

[2022-05-04 22:08] scottf commented on #595
@nayanparegi I have made a release. https://github.com/nats-io/nats.net/releases/tag/0.14.6 Not sure how fast it propagates https://www.nuget.org/packages/NATS.Client/0.14.6

[2022-05-05 01:31] nayanparegi commented on #595
Thanks, I will try it out tomorrow.

[2022-05-05 09:30] BalazsArva opened #598 "JetStream pull subscription does not respect max wait time"
## Defect

Hi everyone,

While working with NATS using JetStream, I noticed that the pull subscription API handles the max wait time parameter passed to the Fetch method oddly. The method's summary tells that this parameter controls _"The maximum time to wait for the first message."_. However, it appears that this timeout is not really respected. I've included the example code down below, using 4

[2022-05-05 11:35] scottf commented on #598
The maxWaitMillis technically refers the the time used for polling. The rest is processing overhead but... If you look at the code starting at [JetStreamPullSubscription.cs Line 77](https://github.com/nats-io/nats.net/blob/master/src/NATS.Client/JetStream/JetStreamPullSubscription.cs#L77) you can see that there is a stopwatch in place that will take into account some of the processing overhead so

[2022-05-05 12:29] BalazsArva commented on #598
@scottf Thanks for your quick response. Yes, I did just use one stopwatch only, however, I considered the time that elapsed prior the last fetch when evaluated the results. I checked the fetch call in isolation as well, but the results are similar:

    Standard Output: 
    Using max poll: 12000 ms, ack wait: 6000 ms
    Fetched messages elapsed: 504 ms
    Fetched messages elapsed: 12517 ms

[2022-05-05 13:29] scottf commented on #598
I do want to make a note, you can see that in the test with maxPollDurationInMillis 12000, the server redelivered the message because it had not received an ack within the Ack Wait window (12000 vs 6000). This is the correct behavior and shows the importance of setting the Ack Wait window properly to account for the fetch time and the time you will need to process the message before acking it.

[2022-05-05 13:32] #598 closed

[2022-05-12 12:45] wolfman42 commented on #407
Couldn't agree more. Websockets would be the perfect solution to fix the TLS quirks and to allow connection to a NATS server in the cloud via the most restrictive firewalls.

Seems this would be a fairly well encapsulated task.  TCPConnection class could be enhanced or a WebsocketConnection class could be added with reasonable effort.

[2022-05-20 05:45] rsulab opened #603 "SubscribeAsync does`t return control"
## Defect

Under pressue(many thread call publish method) sometimes method SubscribeAsync does`t return control to main program - somthing inside keeps control - no any exceptions and errors

#### Versions of `NATS.Client` and `nats-server`:
NATS.Client 0.14.6
nats-server 2.8.2

#### OS/Container environment:
docker from mcr.microsoft.com/dotnet/aspnet:latest

#### Steps or code to reproduce the i

[2022-05-20 12:06] scottf commented on #603
Do you have any more information that could help us track this down?

[2022-05-20 13:50] rsulab commented on #603
Many thraeds sends data with Publish method very often, other thread make SubscribeAsync and if server memory usage near 90% - SubscribeAsync dont return to control flow

[2022-05-27 19:30] robertmircea opened #608 "Unable to create an ephemeral pull consumer"
## Defect

I am trying to create a pull subscription with ephemeral consumer using the following code:
[code]
The `JetStreamManagement.AddOrUpdateConsumer` always verifies if `Durable` name is set and it is impossible to create an ephemeral consumer using any other method from JetStreamManagement.

[code]

#### Versions of `NATS.Client` and `nats-server`:
Client: 0.14.6
Server: 2.8.4

#### OS/Cont

[2022-05-27 20:21] scottf commented on #608
@robertmircea I'm waiting for this PR to be merged (https://github.com/nats-io/nats.net/pull/605), then you will be able to create ephemeral pulls.

[2022-05-31 12:30] mullerch commented on #493
I didn't find any improvement in recent changelog about this issue.

I've tested the reproductibility with nats.net 0.14.6 and nats-server 2.8.4-alpine3.15 and the issue is still there.

[2022-06-03 15:00] rsulab commented on #603
![image](https://user-images.githubusercontent.com/58805372/171879863-848b36eb-3dba-4a59-bb0b-6711e71cfc4a.png)

sometimes SubscribeAsync 3 doest fired

[2022-06-09 09:09] rebelf opened #612 "Getting $SYS.ACCOUNT.*.DISCONNECT messages only on Subscriptions without QueueGroup"
## Defect
NATS is sending $SYS.ACCOUNT.*.DISCONNECT messages to other nodes only on Subscriptions without QueueGroup

#### Versions of `NATS.Client` and `nats-server`:
2 nodes NATS cluster (v.2.8.4)
Browser using client nats.ws (v1.81)
C# Console App using nats-net (v0.14.6)

#### Steps or code to reproduce the issue:
Console App subscribes (using queue group) to the above $SYS subject and should

[2022-06-09 11:07] scottf commented on #612
@rebelf  The behavior of the queue is such that it only gets delivered to one node. I don't think this is a client issue, more likely how the server delivers these sys messages. Please ask your question in slack or on the server repo.

[2022-06-09 11:07] #612 closed

[2022-06-15 12:28] #492 closed

[2022-06-15 20:39] scottf commented on #230
This should be addressed in the V2 client which will be async and zero allocation / zero copy

[2022-06-15 20:39] #230 closed

[2022-06-15 20:42] #561 closed

[2022-06-15 21:39] #299 closed

[2022-06-15 21:41] scottf commented on #246
Addressed in https://github.com/nats-io/nats.net/pull/609

[2022-06-15 21:41] #246 closed

[2022-06-15 21:50] scottf commented on #440
@sharoukin Can you test this out with a recent release. We made a change where the consumer was setup before the subscription. If the server isn't busy, it might start sending messages right away, before the subscription is setup. We changed the order so the subscription is setup first so there is a place for messages to go. https://github.com/nats-io/nats.net/pull/597

[2022-06-15 21:59] scottf commented on #572
Closed no response.

[2022-06-15 21:59] #572 closed

[2022-06-16 19:43] scottf commented on #578
@tbeets I followed the example and cannot reproduce this.

[2022-06-16 19:46] scottf commented on #608
This will go with the next release.

[2022-06-17 23:45] scottf commented on #588
Looking into whether this is viable: https://docs.microsoft.com/en-us/dotnet/api/system.servicemodel.security.x509clientcertificateauthentication.revocationmode?view=netframework-4.8

[2022-06-18 00:47] scottf commented on #551
Is this a single machine? A memory stream is gone if the server goes down. Also the ephemeral might be lost. The client will read what's in the incoming memory buffer, but won't be able to ack it.

[2022-06-18 03:52] caleblloyd commented on #588
Looks like it is not available in .NET core and is only in the full framework?

[2022-06-18 04:06] caleblloyd commented on #588
This appears to be the way to do it with .net core:

https://docs.microsoft.com/en-us/dotnet/api/system.net.security.sslclientauthenticationoptions.certificaterevocationcheckmode?view=net-6.0#system-net-security-sslclientauthenticationoptions-certificaterevocationcheckmode

[2022-06-18 05:26] robertmircea commented on #608
Any ETA on next library release?

[2022-06-18 23:17] scottf commented on #608
0.14.7 has been released.

[2022-06-18 23:17] #608 closed

[2022-06-19 12:48] robertmircea commented on #608
I've upgraded to 0.14.7. I am sorry but it is still failing with the same error as described initially in 0.14.6: AddOrUpdateConsumer verifies if "Durable" field is set when trying to create an ephemeral consumer.

This line part of AddOrUpdateConsumer throws:
[code]

[2022-06-19 14:25] scottf commented on #588
Please see [PR #615 tls variations example](https://github.com/nats-io/nats.net/pull/615)

It demonstrates using setting the `CheckCertificateRevocation` Options flag and provides example code for manual verification indlucing some example usage of BouncyCastle

[2022-06-19 14:31] scottf commented on #608
Ephemeral consumers cannot be created ahead of time, they can only be created during the subscribe call. Please see this example and comment out the durable: https://github.com/nats-io/nats.net/blob/master/src/Samples/JetStreamPullSubBatchSize/JetStreamPullSubBatchSize.cs

[2022-06-21 18:23] scottf opened #616 "Hostname resolution in client library"
https://github.com/nats-io/nats-architecture-and-design/issues/23

[2022-06-21 18:30] scottf opened #617 "Get Message Enhancement"
https://github.com/nats-io/nats-architecture-and-design/issues/115

[2022-06-21 18:30] scottf opened #618 "Pull Request Error/Warning Handling"
https://github.com/nats-io/nats-architecture-and-design/issues/116

[2022-06-21 18:32] scottf opened #619 "Handle Account Statistics Schema Update"
https://github.com/nats-io/nats-architecture-and-design/issues/120

[2022-06-23 03:37] Exagram opened #621 "Pull-based consumer no longer receiving messages"
I am keeping a NATS connection for a couple of hours (~1 day). Suddenly I'm getting issues connecting to it. Restarting both `nats-server -js` and my .NET application doesn't fix it. Thoughts?

[code]

Exception thrown:

[code]

My only clue after running `nats consumer info STREAM WORKER` is that `Waiting Pulls` goes up from 0 to 512. What are Waiting Pulls?

[code]

[2022-06-23 20:54] scottf opened #624 "Pull + Bind => Ignore Consumer Lookup b/c accounts"
https://github.com/nats-io/nats-architecture-and-design/issues/121

[2022-06-24 21:22] scottf opened #626 "Connection Options should be immutable."
Currently options can be changed after the connection is created. It's not clear if the changes are respected, we would have to look on a per field basis. Mostly bringing this up in light of V2.

[2022-06-24 21:31] caleblloyd commented on #626
AlterNats already uses a record type for connection options, which is immutable

[2022-06-24 21:35] sixlettervariables commented on #626
Very few of these make sense to even consider for mutability. We would tear down our connection and recreate it when we detected settings changes (if I recall all we did change was the server).

Timeouts may be reasonable to modify. Reconnection attempts. Regardless, immutable makes the most sense to me.

[2022-06-25 00:37] tbeets commented on #626
@derekcollison @matthiashanel - any implication of above pro or con to Auth Callout feature and re-Auth lifecycle in an existing connection?

[2022-06-25 00:52] matthiashanel commented on #626
I'm not familiar with the nats.net interface, but:

re-Auth will have to accept new options related to authentication somehow. (think new jwt, or creds altogether)
After re-auth succeeds, these altered values should probably be reflected.  (That is if they are exposed at all)

But I don't believe we need to affect these changes directly through a connection options map. (That's what this conversat

[2022-06-25 02:24] scottf commented on #626
Auth is already done via callback as are several other pieces, including the latest where the user can provide a callback that allows them to provide the re/connect servers. Java options are immutable and the auth there is also a callback. So they can change their own implementation under the covers, but the could not change the actual method reference they gave to Options.

[2022-06-25 02:35] derekcollison commented on #626
JWTs and expirations call for a connection be re-authenticated, so I think that means they are mutable.

[2022-06-26 12:49] scottf commented on #626
For instance java is already immutable. It's possible it does not handle changes in jwt, I will look into this, but I suspect currently an entire new connection is required if a jwt was to change. If I were to implement it I would provide for a handler/callback that could be set once to the options (immutable) that understands that the jwt or other authentication could change. I will investigate i

[2022-06-27 15:58] scottf opened #629 "Support consumer info fields changed to sequence_info from sequence_pair"
https://github.com/nats-io/nats-architecture-and-design/issues/122

[2022-06-27 17:06] sylr opened #630 "Passwords with special chars do not work"
## Defect

Password: `Rmwuukd0QsJI^RMkFGHz1J7vjz0A*27oCA#j6!WYf#`
URL: `tls://user:Rmwuukd0QsJI%5ERMkFGHz1J7vjz0A%2A27oCA%23j6%21WYf%23@nats-euc1a-01.:4222,tls://user:Rmwuukd0QsJI%5ERMkFGHz1J7vjz0A%2A27oCA%23j6%21WYf%23@nats-euc1b-02:4222`

This Connection String works using the nats.go lib and the nats cli but does not work using the nats.net lib.

#### Versions of `NATS.Client` and `nats-server`

[2022-06-27 22:22] scottf commented on #630
@sylr Thank you for the bug report, I will be fixing this in the next day or so, I'll let you know when it's ready.

[2022-06-28 11:10] scottf commented on #630
https://github.com/nats-io/nats-architecture-and-design/issues/123

[2022-06-29 12:47] scottf opened #631 "Optimize pull fetch in case of batch size 1"

[2022-06-30 21:33] scottf opened #637 "getStreamNamesBySubjectFilter"
Be able to lookup matching streams by a subject filter.

[2022-07-01 13:09] scottf commented on #380
https://github.com/nats-io/nats.net/pull/639

[2022-07-01 13:09] #380 closed

[2022-07-03 11:55] jonaslagoni opened #640 "Creating JetStream context from encoded connection"
## Feature Request
I might be missing some piece of information or maybe it's possible to do this another way, but I can't find anything in the docs that enable this.

#### Use Case:
I have custom serializers and deserializers which I would like to use with JetStream.

#### Proposed Change:
Make it possible to create a JetStream context from `IEncodedConnection`.

#### Who Benefits From The Change

[2022-07-07 03:18] jlumsden-mts opened #641 "Jetstream PublishSyncInternal does not timeout"
Noticed some inconsistency between Publish and PublishAsync when testing with MaxReconnects = Forever

If you call Publish (synchronous) and your connection is down then it blocks forever on Conn.Request() as no timeout passed in even though it is supported.
https://github.com/nats-io/nats.net/blob/9db4db4de740195ac6378f98e7de44954719abc3/src/NATS.Client/JetStream/JetStream.cs#L89

However Publish

[2022-07-07 14:48] scottf commented on #641
Yes I will happily review a PR. Please make sure your code is signed.

[2022-07-19 17:03] scottf commented on #641
@jlumsden-mts Hey just wanted to let you know I haven't forgotten about these, I've jsut been out of office for a personal issue.

[2022-07-19 23:36] EtienneLaneville opened #643 "TLS: Using CA and Credentials files"
I am trying to set up a TLS Authentication using 4 files provided by the administrators of a NATS server:

1. Credentials file: contains a `NATS USER JWT` string and a `USER NKEY SEED` string.
2. TLS `cert` file: contains a `CERTIFICATE` string.
3. TLS `key` file: contains a `RSA PRIVATE KEY` string.
4. TLS `ca` file: contains a `CERTIFICATE` string.

The code samples in the README.md file mention

[2022-07-20 00:57] jlumsden-mts commented on #641
No problem @scottf, no huge rush for me, all the best with your personal issue.

[2022-07-23 10:35] pnocera commented on #397
any update on this ?

[2022-07-23 18:31] scottf opened #645 "Consumer configuration num_replicas and mem_storage"
https://github.com/nats-io/nats-architecture-and-design/issues/130
https://github.com/nats-io/nats-architecture-and-design/issues/134

[2022-07-25 21:28] #595 closed

[2022-07-25 21:31] #619 closed

[2022-07-25 21:31] #645 closed

[2022-07-25 21:31] #629 closed

[2022-07-25 21:31] #637 closed

[2022-07-25 21:33] #630 closed

[2022-08-01 12:13] scottf commented on #641
Fixed in https://github.com/nats-io/nats.net/pull/642

[2022-08-01 12:13] #641 closed

[2022-08-01 12:14] #588 closed

[2022-08-01 13:11] baltie opened #648 "Wrong error message when using ordered consumer, having set AckPolicy other than None"
## Defect

Make sure that these boxes are checked before submitting your issue -- thank you!

 - [X] Included a [Minimal, Complete, and Verifiable example] (https://stackoverflow.com/help/mcve)

#### Versions of `NATS.Client` and `nats-server`:
NATS.Client version 0.14.8

#### OS/Container environment:
Not relevant

#### Steps or code to reproduce the issue:

[code]

#### Expected result:
The erro

[2022-08-02 14:29] AqlaSolutions opened #650 "Deadlock when trying to send ack while push subscription event handler is blocked"
It looks like NATS uses single thread or lock object for everything. We put incoming messages in a queue and call acks while processing them. When there is no space in the queue NATS push subscription handler method blocks. At the same time consumers try to process messages and send Acks but these calls are blocked because they are waiting for the first thread so the queue is never freed. Also NAT

[2022-08-03 00:03] tbeets commented on #551
@sspates-starbucks Can you respond to @scottf question?  An ephemeral consumer would need to be recreated if the server it lives on (memory only) goes down or if the client is disconnected for a long enough time that the server harvests the ephemeral consumer.  Likewise, an R1 memory-store stream goes away if the server it lives on is brought down.

[2022-08-03 17:44] sspates-starbucks commented on #551
@scottf  The issue repros both on a single device and with two different devices (client/server).  The issue seems to be that when the client disconnects for any reason and then reconnects, the handlers don't get reconnected to the new Jetstream instance that get initiated for the reconnect.  I was able to create work around code by just re-establishing the handlers once the client reconnects, but

[2022-08-03 20:31] tbeets commented on #551
@sspates-starbucks Can you clarify what you mean by "new Jetstream instance"?   The **intent** is that the extant JetStream _context_ and bindings should see the refreshed NATS connection and attempt to continue to work.

We see in your test code that the test stream is memory-resident.  Would be better as file to dis-ambiguate that you are not killing the server (where the stream lives only in me

[2022-08-03 20:35] tbeets commented on #551
In addition, your example also shows an ephemeral JS Consumer.  A JS Consumer will expire and be expunged in approx. 5 seconds if the server sees no client subscription interest.

A durable consumer would be a better test example to eliminate ambiguity of potentially trying to reference a non-existing JS Consumer (i.e. one that has been deleted by the server).

[2022-08-03 22:29] sspates-starbucks commented on #551
@scottf the same code with durable queues and/or a file based stream still exhibit the same issues.

[2022-08-03 23:42] #440 closed

[2022-08-08 14:03] scottf opened #655 "Automate .net docs as part of release build"
Write a github actions to generate the docs / commit the docs every time a release is tagged.

[2022-08-08 21:56] #648 closed

[2022-08-11 12:16] PavloPaitak opened #657 "Nats JetStream is consuming two messages instead of one."
### Some Information
nats-server Version:  2.8.1
NATS.Client Version 0.14.8
docker run -d --name nats --network nats --rm -p 4222:4222 -p 8222:8222 nats --http_port 8222 -js

### Code to reproduce the issue

#### Subscription app
[code]

#### Publish app
[code]

### Actual result
Nats JetStream subscription consumes two messages instead of one.

### Expected result
Nats JetStream subscription cons

[2022-08-11 12:40] rbinder-vg opened #658 "Option to connect via TLS (start on TLS connection rather than an upgrade)"
## Feature Request

#### Use Case:

I would like to use a TLS termination reverse proxy. At the moment i can't set a option to tell the client to use TLS right from the beginning.

See:
- https://github.com/nats-io/nats-server/issues/291
- https://docs.nats.io/running-a-nats-service/configuration/securing_nats/tls#tls-terminating-reverse-proxies

#### Proposed Change:

Provide a new option to star

[2022-08-11 19:50] scottf commented on #657
@PavloPaitak This is not a client issue. Look at this code where I setup the stream like you showed, published 1 message, then checked the stream info. There are 2 messages. So it has to do with the subjects used in the stream configuration. You can probably do fine with just subject of `stream.*` if you only need one segment after `stream`, or use `stream.>` if there might be more than one segmen

[2022-08-11 20:02] PavloPaitak commented on #657
@scottf Yes I understand that using just `stream.*` solve the problem.
The question is why it is working like this what is the logic?
For me `stream.*` includes `sub.segment` and it has to understand it under the hood. As a result, it should be just one message.
I can not think of any logical explanation for why it creates two messages when I publish one message in exactly one subject it decide un

[2022-08-11 20:04] scottf commented on #657
There server team is aware of this behavior, but I don't know what they plan to do. I think they are planning to reject the Stream Configuration.

[2022-08-11 20:04] #657 closed

[2022-08-15 09:20] pcarcereri commented on #586
I also had this issue, can you please keep me posted here?

[2022-08-15 17:37] #363 closed

[2022-08-15 17:38] scottf commented on #363
There is no subscribe with a limit in .net

[2022-08-26 12:56] Lemorz56 opened #662 "Can't create a source without it being an external source"
## Defect

Make sure that these boxes are checked before submitting your issue -- thank you!

 - [x] Included a [Minimal, Complete, and Verifiable example] (https://stackoverflow.com/help/mcve)

#### Versions of `NATS.Client` and `nats-server`:
- NATS.Client - 0.14.8
- nats-server - 2.8.4
#### OS/Container environment:
- NATS.Client - Windows 10
- nats-server - docker image v.2.8.4 WSL2
#### Steps

[2022-08-26 14:43] ptrubini commented on #493
I confirm that the 0.14.6 client is still affected by this issue. Do you have any news about any possible fixes?

[2022-08-26 14:56] scottf commented on #662
Thank you for the complete bug report, this is just a bug, you are using it correct. I fixed it here, https://github.com/nats-io/nats.net/pull/663 and checked the external object before trying to add it to the json. I will make a pre-release as soon as this is merged since I don't want to do a full release until I finish something else I'm working on, but it should only be a few more days.

[2022-08-26 16:18] scottf commented on #662
This fix is available in a pre-release. https://www.nuget.org/packages/NATS.Client/0.14.9-pre3

[2022-08-26 16:18] #662 closed

[2022-08-26 18:30] Lemorz56 commented on #662
Thanks a lot for your quick reply and your fix 👍🏼.

[2022-08-27 13:06] scottf opened #664 "Kv Options now support the RePublish functionality"
https://github.com/nats-io/nats-architecture-and-design/issues/137

[2022-08-27 13:08] scottf commented on #617
Completed in https://github.com/nats-io/nats.net/pull/659

[2022-09-12 21:00] scottf opened #667 "Consumer create for server v2.9.0"
https://github.com/nats-io/nats-architecture-and-design/issues/148

[2022-09-12 21:01] scottf opened #668 "SHA-256 Digester Parity Validation"
https://github.com/nats-io/nats-architecture-and-design/issues/150

[2022-09-14 21:30] #668 closed

[2022-09-14 21:30] #617 closed

[2022-09-14 21:30] #397 closed

[2022-09-14 21:30] #664 closed

[2022-09-16 06:55] mullerch commented on #493
Version 1.0.0 is still affected.

[2022-09-17 08:07] BentTranberg opened #675 "Make event handlers in Options class standard IEvent"
## Feature Request

Make events in the Options class standard IEvent. This will make it easier to exploit more advanced features related to the use of events in F#, and probably also in C#.

#### Use Case:

These are not currently possible in F#.

`opts.DisconnectedEventHandler.Add disconnectedEvent`

`opts.DisconnectedEventHandler.AddHandler disconnectedEventHandler` // Equivalent to += in C#.

[

[2022-09-20 14:07] scottf opened #678 "RTT API"
Ping and time how long for the pong.

[2022-09-20 14:10] scottf opened #679 "Hostname resolution in client library"
https://github.com/nats-io/nats-architecture-and-design/issues/23

[2022-09-20 14:11] scottf opened #680 "Verify Reconnect Behavior"
"Reconnect Behavior:  The go client counts reconnect attempts per server it knows about. Say the client knows about 3 servers and max reconnect attempts is 2. The client will attempt to connect each server twice and perform a total of 6 connect attempts.  All clients should behave this way, checked boxes mean they match this behavior."

[2022-09-20 14:12] scottf opened #681 "Smart Delete Ephemeral Consumer on Unsubscribe"

[2022-09-20 14:13] scottf opened #682 "support lost (lost_stream_data) on stream state"

[2022-09-20 14:31] #667 closed

[2022-09-20 14:38] scottf opened #683 "Stream Info Pagination Support"
https://github.com/nats-io/nats-architecture-and-design/issues/153

[2022-09-20 14:39] scottf opened #684 "stream list can now have an optional subject filter"
https://github.com/nats-io/nats-architecture-and-design/issues/157

[2022-09-20 14:39] scottf opened #685 "PullConsumer AckPolicy Updates"
https://github.com/nats-io/nats-architecture-and-design/issues/156

[2022-09-20 21:36] #685 closed

[2022-09-20 21:37] scottf commented on #685
Verified that the client did not perform a check.

[2022-09-20 21:42] scottf commented on #655
Not automated, but the project now contains a script with exact instructions, it's simple to do and does not need automation.

[2022-09-20 21:42] #655 closed

[2022-09-21 19:30] scottf commented on #618
https://github.com/nats-io/nats-architecture-and-design/issues/116

[2022-09-27 20:57] scottf opened #687 "Support discard_new_per_subject"
https://github.com/nats-io/nats-architecture-and-design/issues/160

[2022-09-28 19:49] tbeets commented on #407
@scottf What is the LoE for WebSockets support in the .NET client?

[2022-09-29 15:52] scottf opened #688 "KV Status expose size in bytes of the bucket"
https://github.com/nats-io/nats-architecture-and-design/issues/163

[2022-09-29 15:53] scottf opened #689 "Ordered Consumer Improvements - Config Settings"
https://github.com/nats-io/nats-architecture-and-design/issues/162

[2022-09-30 16:41] scottf opened #694 "List materialized views - KV"
https://github.com/nats-io/nats-architecture-and-design/issues/154

[2022-09-30 16:41] scottf opened #695 "List materialized views - OS"
https://github.com/nats-io/nats-architecture-and-design/issues/154

[2022-09-30 17:40] scottf commented on #684
Complete in PR https://github.com/nats-io/nats.net/pull/638

[2022-10-04 14:09] scottf opened #697 "support consumer_count in stream state"

[2022-10-04 16:07] #687 closed

[2022-10-04 20:12] scottf opened #700 "Ordered Consumer Improvements - Heartbeat Handling"
nats-io/nats-architecture-and-design#162

[2022-10-05 11:56] scottf commented on #697
Already Implemented

[2022-10-05 11:56] #697 closed

[2022-10-05 20:26] scottf commented on #684
https://github.com/nats-io/nats.java/pull/759

[2022-10-05 20:27] #683 closed

[2022-10-05 22:00] #689 closed

[2022-10-05 22:01] #695 closed

[2022-10-05 22:01] #694 closed

[2022-10-08 14:46] scottf commented on #567
Not going to do.

[2022-10-08 14:46] #567 closed

[2022-10-13 16:46] caleblloyd commented on #569
https://learn.microsoft.com/en-us/lifecycle/faq/dotnet-framework

.NET Framework 4.6.2 fully supports `netstandard2.0` so we can also drop support for `net46` and still support all of the .NET Framework versions that Microsoft officially supports

[2022-10-14 12:32] scottf opened #701 "Implement ADR-14 "JWT library free jwt user generation""
https://github.com/nats-io/nats-architecture-and-design/issues/35

[2022-10-14 12:46] scottf commented on #678
https://github.com/nats-io/nats.go/pull/559

[2022-10-26 07:20] TodorBalabanski commented on #551
Any updates guys?

[2022-10-26 11:03] scottf commented on #551
@TodorBalabanski Is there a specific situation that you can describe having this problem? What is the topology? What are the stream and consumer configurations? Some situations it is expected not to reconnect and some are. Do you use the event listeners DisconnectedEventHandler / ReconnectedEventHandler / AsyncErrorEventHandler ?

[2022-10-26 18:25] scottf opened #704 "Add support for KV mirrors and sources"
https://github.com/nats-io/nats-architecture-and-design/issues/167

[2022-10-31 16:08] #678 closed

[2022-11-07 17:54] scottf commented on #680
Verified

[2022-11-07 17:54] #680 closed

[2022-11-08 19:54] #682 closed

[2022-11-09 11:33] tiliev commented on #640
I need this, too.

Do you have any update or alternative approaches?

[2022-11-09 11:55] jonaslagoni commented on #640
@tiliev I ended up using the regular `IConnection` interface and created the `IJetStream` connection, then before publishing messages I just manually called the serialization functionality. Same when receiving any data, I deserialize it manually.

If you manually write the code for this, over time it will of course be quite tedious, in my case I am generating the code so I found it acceptable 🙂

[2022-11-09 16:13] scottf commented on #640
Since it is open source, you are welcome to offer a PR, in fact we would love that. It's just not that big a priority since you are not prevented from doing the encoding yourself. In the meantime, as already noted you can just serialize before the publish and deserialize when handling the message. Not sure how this is more tedious than setting up the encoded serialize/deserialize handler, since th

[2022-11-15 22:07] scottf commented on #631
Not really necessary. May do something in simplification.

[2022-11-15 22:07] #631 closed

[2022-11-16 18:58] scottf commented on #396
Summary: Smaller messages will be more robust. Consider using ObjectStore to put large amounts of data in a stream. in combination with a signal message after the object has been stored to let the receiver know the large data is available and what bucket/name it is stored under.

[2022-11-16 18:58] #396 closed

[2022-11-16 18:59] scottf commented on #425
Closed as resolved in #432

[2022-11-16 18:59] #425 closed

[2022-11-16 19:08] scottf commented on #571
Transferring to V2

[2022-11-16 19:10] scottf commented on #577
Transferring to V2

[2022-11-16 19:14] scottf commented on #681
It's been decided to not implement this.

[2022-11-16 19:14] #681 closed

[2022-11-16 19:20] scottf commented on #675
@BentTranberg I think this would be a breaking change. Maybe you can suggest it for the V2 https://github.com/nats-io/nats.net.v2

[2022-11-17 11:04] BentTranberg commented on #675
I suspect that repo is not public, since the link doesn't work for me.

[2022-11-17 11:24] scottf commented on #675
Yeah, sorry about that. I'm transferring this to that repo.

[2022-11-17 21:45] scottf commented on #444
It appears that this is intended. Not sure why, but there is a unit test just for it.
https://github.com/nats-io/nats.net/blob/master/src/Tests/IntegrationTests/TestConnection.cs#L145

[2022-11-17 21:45] #444 closed

[2022-11-21 20:27] scottf opened #716 "pending limits"
https://github.com/nats-io/nats-architecture-and-design/issues/172

[2022-11-21 20:28] scottf opened #717 "MaxAckPending vs pending limits"
https://github.com/nats-io/nats-architecture-and-design/issues/173

[2022-11-27 16:41] #700 closed

[2022-11-30 13:26] LightVolk opened #719 "Does Nats (c#) support open telemetry?"
I try to make trace with nats+jaeger , found some reps called not.go and not.java , nut cannot find c# realization.

For example - for java - [https://github.com/nats-io/not.java](url)