[2015-11-09 15:36] skrusty opened #6 "nuget package?"
Have you considered adding a pre-built package to nuget?

https://www.nuget.org

[2015-11-09 16:50] ColinSullivan1 commented on #6
Ben,

Thanks for the suggestion!  It'd certainly enhance the .NET user experience
for nuget users, and is something we should think about.

What do you envision the prebuilt package including?

Thanks,
Colin

On Mon, Nov 9, 2015 at 8:36 AM, Ben Merrills <notifications@github.com>
wrote:

--
*Colin Sullivan* | Principal Engineer
colin.sullivan@apcera.com <brian@apcera.com>  | @ColinSullivan01

[2015-11-09 17:06] skrusty commented on #6
Just the .NET client library and of course any dependencies (if there are any).

[2015-11-09 22:03] ColinSullivan1 commented on #6
Ben,

This is a great idea.  However, we should probably wait a little while
until we get more feedback and the C# client is beta, in case there are API
changes, etc.

Thanks,
Colin

On Mon, Nov 9, 2015 at 10:06 AM, Ben Merrills <notifications@github.com>
wrote:

--
*Colin Sullivan* | Principal Engineer
colin.sullivan@apcera.com <brian@apcera.com>  | @ColinSullivan01

[2015-11-10 09:23] skrusty commented on #6
That's fine, although nuget does support semantic visioning with lables like alpha or beta, so it's easy to exclude anything that's not ready for production.

My only thought is, it's an easy route to adoption, and will maybe increase the potential audience of the client for feedback etc.

Either way, nice to see more .net adoption and a few people I know will be pushing me to move from RMQ to nat

[2015-11-10 14:17] ColinSullivan1 commented on #6
Ben,

Agreed -  I'll work on getting a package up on nuget soon.

That's great to hear you are moving toward NATS with the .NET client!

Any feedback would certainly be appreciated.

Thanks,
Colin

[2015-11-12 04:54] ColinSullivan1 commented on #6
Ben,

Here you go - would you mind giving it a go?

https://www.nuget.org/packages/NATS.Client/0.2.1.1

Thanks,
Colin

[2015-11-12 09:22] skrusty commented on #6
Will check it out in a short while, cheers! :)

[2015-11-12 17:47] ColinSullivan1 commented on #6
Ben, thanks again for bringing this up!   It has already been downloaded a number of times.  Look good to close the issue?

[2015-11-13 08:00] skrusty commented on #6
Glad I could contribute something so simple :) Good luck with the project.

[2015-11-13 08:00] #6 closed

[2015-12-28 17:39] ColinSullivan1 opened #21 "sendConnect() does not handle +OK when Verbose option is set"
This was an issue in the GO client, and needs to be investigated in the C# client.
See https://github.com/nats-io/nats/issues/118

[2015-12-28 21:41] #21 closed

[2016-01-20 18:22] buybackoff opened #31 "Benchmarks"
Which exactly code you run to get the performance of several millions messages per sec and what hardware do you use? Is it VM on *Nix? I played with pure .NET's TCP sockets recently and cannot get such numbers even on localhost loopback. I am looking through the code to try to understand is it buffering or something else that yields such results. Also, as far as I understand you do not use IOCP or

[2016-01-20 18:49] ColinSullivan1 commented on #31
I run the publish/subscribe examples, in a Windows 7 64 bit VM on a macbook
pro, with a local NATS server (gnatsd), all with /REALTIME priority, with
20 million messages.

In three different command prompts, run:
start /B /REALTIME gnatsd
start /B /REALTIME publish -count 20000000
start /B /REALTIME subscribe -count 20000000

Publish alone, I can typically send between 3-4 million msgs/sec.   With

[2016-01-20 19:05] buybackoff commented on #31
So that is probably related to my inline comment about latency - do you have the latency numbers? I am now designing a system that should send messages as fast as possible (no delays), but if I do batching (for historical data) - that is just a special kind of messages and buffers/batches are explicit responsibility of API users and not hidden inside internal optimizations. It looks like I will ne

[2016-01-20 20:58] ColinSullivan1 commented on #31
Right now, we don't have latency numbers.  What do you require?  NATS could very well meet your requirements today.  A relatively simple app could create an asynchronous subscriber, start a stopwatch, send a message, then stop the stopwatch and measure in the subscriber's event handler - that'd give you pub - sub latency locally in your environment...

[2016-01-20 21:07] ColinSullivan1 commented on #31
"I almost learned go" - you have me laughing - go is very terse, relatively easy to read, and the server exemplifies many of features Go's features.  I suggest you check it out!  We aren't planning on implementing the server in other languages at the moment...  Just curious - why do you want to embed the NATS server in your server?  You can write a server architecture using pub/sub while keeping N

[2016-01-20 21:19] buybackoff commented on #31
I do not have concrete requirements now, just Thread.Sleep(1) and BufferedStream had caught my eye. Definitely sub-millisecond for 99.9% on very fast LAN or loopback. Will play with NATS more, I like the API and built-in auth/TLS (a lucrative promise to use the same API over LAN and WAN). I had almost created the same concept of reply subject with additional ZeroMQ frame, but in NATS it is built-i

[2016-01-24 18:30] ColinSullivan1 commented on #31
I've added a benchmark application, https://github.com/nats-io/csnats/pull/33.  Please feel free to comment/improve upon.  It's relatively simple at this point.

[2016-01-24 18:30] #31 closed

[2016-01-24 19:22] ColinSullivan1 opened #35 "Benchmark latency test needs to be asynchronous"
An asynchronous subscriber needs to handle the return message from the server.  The test erroneously assumes the flush will return before the published message arrives back to the subscriber.

[2016-01-25 16:51] ColinSullivan1 commented on #35
Fixed by https://github.com/nats-io/csnats/pull/36.

[2016-01-25 16:51] #35 closed

[2016-02-16 16:32] ColinSullivan1 opened #48 "Optionally sign the assembly"
Users may want to sign the NATS client assembly themselves so signing should be an optional step.

NOTE:  It should be done automatically when generating the official NUGET package.

[2016-02-16 16:39] ColinSullivan1 opened #49 "Build assemblies for .NET 4.0"
Consider building and packaging .NET 4.0 NATS Client assemblies.  Care was taken to ensure code compatibility with .NET 4.0, so this would be project/build related changes only.

We're happy to support our user base any way we can, and as a note do encourage those using older versions of the .NET framework to review at Microsoft's .NET support lifecycle:  https://support.microsoft.com/en-us/lifecy

[2016-04-20 13:43] chrismcv opened #55 "Request threading issues?"
Hi Colin,
I'm doing some fairly basic tests at the moment to explore throughput.  I've a system that I want to Request about 20 sources and aggregate the results.

If I just use publish (using the same approach as below), then I can comfortably publish 10,000 messages in <300ms on my PC.  So I put together the following snippet with Request, and I was expecting something similar, but am seeing `NA

[2016-04-20 14:57] ColinSullivan1 commented on #55
@chrismcv, Thank you for creating the issue - I'll take a look.  You should certainly be getting better performance than one msg/sec!  To sanity check, what happens when you make the requests serially, in a loop (versus creating tasks)?

[2016-04-20 15:52] chrismcv commented on #55
I created the following method

[code]

and using

[code]

I get much better throughput - e.g. 600ms for 10,000.  I suspect the `SubscribeSync` in `request` is blocking other `Tasks` but `SubscribeAsync` isn't.

[2016-04-20 17:06] ColinSullivan1 commented on #55
Yes, SubscribeSync is the mechanism used to block the request, good catch!  I'll look into this further - Internally, SubscribeAsync with a monitor pulse could work better.

[2016-04-20 23:23] ColinSullivan1 commented on #55
@chrismcv I agree, but think this has more to do with the task scheduler itself, than NATS code itself.  I wrote a few tests using Tasks that failed quickly (running on VM), similar to your results.  The tasks weren't being scheduled in a performant manner, likely due to resources constraints.  However, when I moved down to using threads I found the performance I was expecting.  300 threads reques

[2016-04-21 11:46] chrismcv commented on #55
@ColinSullivan1 did you try `ThreadPool.SetMinThreads(300, 300);` with tasks?  This seems to make it a bit more consistent for me.

[2016-04-21 14:20] ColinSullivan1 commented on #55
@chrismcv Thanks!  I did play around with that a bit, and it does help confirm my suspicions this is a resource problem.  I'll look into using raw threads under the hood to see if that'll make NATS more predictable under load...  To cover our bases, when you reduce the number of tasks in your test, do you get better throughput? (I'd assume so, but best to check).

[2016-04-21 23:07] ColinSullivan1 commented on #55
@chrismcv - I've added a few tests to illustrate the issue...

https://github.com/nats-io/csnats/blob/master/NATSUnitTests/UnitTestBasic.cs#L510
https://github.com/nats-io/csnats/blob/master/NATSUnitTests/UnitTestBasic.cs#L580

I'm finding that regardless of what is done internally in the NATS client (e.g. changing Tasks into Threads, blocking requests at a higher level using the `Monitor` API), I

[2016-04-26 22:14] ColinSullivan1 opened #59 "Allow asynchronous subscriptions to add/remove encoded message handlers"

[2016-05-02 19:33] ColinSullivan1 opened #62 "Travis CI for the .NET client"
It would be nice to have continuous integration for the .NET client.  Currently, Travis CI supports mono and a few test frameworks as beta.  The .NATS C# test suite uses the Visual Studio Test Suite to avoid external dependencies.

Investigate:
* Level of support (now and future) in Travis CI
* Other user experiences of .NET in Travis CI
* NUnit vs xunit, including level of effort to convert

[2016-05-13 01:22] liqdfire commented on #55
I would be more inclined to think that you are running into GC contention. Essentially by using Task.Run to create a Task for each item in your 10k range, you are allocating 10k instances of Tasks on the heap and the GC has to clean them up.

[2016-05-26 08:51] s921102002 opened #73 "Request Problem"
Hi, I play the example Requestor and Replier.
I found there's a exception when  request return because
In Conn.cs
[code]

when s.NextMessage(timeout);
[code]

  localConn.removeSub(this);

so

[code]

s.conn = null; here, but next return to Conn.cs and execute

[code]

[code]

the exception here
[code]
I have two problems

1. when execute request and the max count =1 and unsubscribe in NextMessage

[2016-05-26 15:55] ColinSullivan1 commented on #73
Hello @s921102002, thank you for your interest in NATS!  Good observations!

1) That is present to parallel the go client - the Unsubscription is there to cover the case the server did not process the message or a failover happened down during the request.  In most cases it should have no effect.
2) There is a performance impact.  I'm not sure how significant it is with respect to the entire reque

[2016-05-26 22:30] fkazemzadeh opened #76 "Question: How do I subscribe and receive messages that are already on the server?"
Hi, it seems like the subscriber example will only receive messages while the example publisher is publishing (both sessions going).  Is this the case?  How do I subscribe and receive messages after they have already been published?

[2016-05-26 23:26] ColinSullivan1 commented on #76
@fkazemzadeh, Thank you for your interest in NATS!  What you are seeing is expected behavior.  Subscribing applications can only receive messages that are published when they are actively subscribed.  NATS philosophy holds that high levels of quality-of-service should be built into the client. Only request-reply is built in.

Core NATS does not provide:
* Persistence
* Transactions
* Enhanced deli

[2016-05-26 23:26] #76 closed

[2016-05-27 00:58] s921102002 commented on #73
Hi,  ColinSullivan1 #75  is not my issues, and I download the lastest csnats-0.5.0 this question solved, but I test Result
[code]
and I think it's too slow?
but it maybe not csnats problem, or is my environment problem( because this computer is not very clean such as it installed anti-virus).
Can anyone run the example Requestor and Replier and post result here.
and I can compare 995 replies/secon

[2016-05-27 02:51] ColinSullivan1 commented on #73
@s921102002, That does seem very low.  I just tested on a win7 VM, and am getting around 3000 replies/sec, an I consider that low.  I'll look at some performance profiling of the request API.  What are your publish and subscribe rates?

[2016-05-27 06:29] s921102002 commented on #73
Hi @ColinSullivan1, below is my pub/sub result (send 100 bytes) test on same machine
[code]
I think it's ok and nearly the same as golang client.
but why req/rep so slow?  I think there's some problems in req/rep
Thanks

[2016-05-27 08:44] s921102002 commented on #73
Hi @ColinSullivan1, I found if comment this line in Conn.cs
[code]
the performance will speed up, but still slow.
I think this problem maybe relate to flush

In fact  I don't know why nats need flush function.
if you change the Publish example code to

[code]

the performance will be very very slow.
so is nats high performance?

If I don't have call c.Flush(),
1. when does it send data to subscrib

[2016-05-27 15:12] ColinSullivan1 commented on #73
Based on your pub/sub numbers, I think your results are congruent with mine, so this is something we can certainly improve upon in NATS.

The Request API does quite a bit internally, which involves communication with the server:
* It creates a subscription on a new inbox,
* Auto unsubscribes
* Publishes the message
* Flushes the message - _Note:  this is costly for throughput, but reduces latency.

[2016-05-27 15:23] ColinSullivan1 commented on #73
There is always a trade off between latency and throughput.  NATS by default favors throughput, however the `IConnection.Flush()` API can be used reduce latency.  The NATS client has a thread that occasionally flushes buffered data, similar to the Nagle algorithm, but optimized for throughput.  It sounds as if you need lower latency - in which case you'll want to call `Flush()` after `Publish(...)

[2016-05-27 17:09] ColinSullivan1 opened #78 "Improve performance of the Request API"
Look into enhancing performance of the Connection.Request API.
- Improve latency in the benchmark through usage of a synchronous subscription when replying.
- Replace calls to the public API with directly writing the protocol commands to the write buffer.  This reduces contention in a number of ways, primarily through eliminating unnecessary kicks to the flusher thread.
- Evaluate a "soft" flush -

[2016-05-28 03:01] s921102002 commented on #73
Hi, @ColinSullivan1  Thank you for your reply :)
So should I close this issue?

[2016-05-28 03:11] ColinSullivan1 commented on #73
I'm glad I could help, and thank you for identifying an are we can improve upon.  Much appreciated!  #78 should address this.

[2016-05-28 03:11] #73 closed

[2016-06-03 14:32] oaiey opened #80 ".NET Core Client"
I wanted to evaluate NATS for a  .NET Core project. Unfortunately, the NuGet is only for net45. Is it possible to have the next version also include a build for .NET Core?

[2016-06-03 15:20] ColinSullivan1 commented on #80
Thank you for bringing this up!  A .NET core release is on our list.  Previous versions of .NET core did not support some features we needed around TLS, but we'll re-evaluate and I'll update this issue.  Thanks!

[2016-06-08 15:04] dotnetchris commented on #78
I saw this project on The Morning Brew, just read over the readme and was going to create an issue but this seems fitting enough to stick here. I can split it out to a different issue if you think it deserves to be elsewhere

I saw the default serializer is the BinaryFormatter, this is just awfully slow. I also believe they killed the BinaryFormatter in regards to .NET Core (.NET Standard? i don't

[2016-06-08 15:39] ColinSullivan1 commented on #78
@dotnetchris Thanks!  Much appreciated!  I agree, the BinaryFormatter should probably go, and it does seem to have been killed (rightfully so).  We're trying to maintain 4.0 code compatibility for legacy applications, but a re-evaluation of encoding strategies in the client is certainly due.  As to minimize direct dependencies on third party components (holding to the NATS tenet of simplicity), I'

[2016-06-08 18:15] dotnetchris commented on #78
It would be really easy to provide a series of nuget packages: NATS.Client.JIL, NATS.Client.Bond, NATS.Client.Protobuf that each depend on NATS.Client

That have out of box implementations ready to consume any or each of those encoders.

I still will stress that i believe you must be opinionated out of box since unopinionated doesn't provide any path forward. I believe all of those projects are co

[2016-06-08 18:32] danielwertheim opened #81 "Basic auth string not handling non standard chars"
When trying to pass credentials via URL, `nats://user:pwd@ubuntu01:4223`

you don't seem to handle passwords that contains e.g. "@".

Tried switching for %40, did not work either.

[2016-06-10 21:00] ColinSullivan1 commented on #78
The BinaryFormatter will be deprecated moving forward.  Layering implementations of encoders on top of core NATS is a nice approach and we can certainly look into that.  Also, we'll certainly accept user contributions in that area as well. ;)

[2016-06-10 21:17] ColinSullivan1 opened #82 "Provide out of the box encoders for popular serializers"
A great suggestion from @dotnetchris:

"It would be really easy to provide a series of nuget packages: NATS.Client.JIL, NATS.Client.Bond, NATS.Client.Protobuf that each depend on NATS.Client and the respective serializer."

Referred in #78

User contributions here are welcome!

[2016-06-17 15:25] ColinSullivan1 opened #83 "Connection.ps is not needed"
The parser in the connection, `Connection.ps`, may not be needed and can likely be removed.

[2016-06-28 19:43] ColinSullivan1 commented on #83
Resolved by https://github.com/nats-io/csnats/commit/3d8d8472f44dd00d5a0ba68b7f7d4c0e44e09ee6.

[2016-06-28 19:43] #83 closed

[2016-07-11 15:11] lor3 commented on #80
I've done a quick and dirty conversion: https://github.com/lor3/csnats.  Hopefully it can be of use to someone else.

All tests are passing though I removed EncodedCon because ISerializable is not available in .NET core so it'll require some refactoring (or wait until they bring it back).
Converted tests to use Xunit as it is the most mature testing library on core.

I renamed the source folder si

[2016-07-11 23:23] ColinSullivan1 commented on #80
Good job!  Your contribution is highly appreciated!  Perhaps with some conditional compilation your work can be merged in...   I've been meaning to move to xunit as well - thanks!

[2016-07-16 18:27] cstlaurent commented on #62
Hi,

I don't know what is the progress on this one, but I think I could help with some pull requests if you are ok with it.

Here are my recommendations:
- **Test Framework**: I may be biased here since it's my framework of choice, but I think considering the fact that the CoreFx and ASP.NET teams chose XUnit as their official test framework it may provide more support in the future, switching fro

[2016-07-19 15:24] ColinSullivan1 commented on #62
@cstlaurent Thank you for the recommendations!  I was planning on moving to xunit for exactly the reasons you mentioned, and in fact the new NATS streaming C# library (under development) will use xunit.  Any PRs you'd like to submit to move over to xunit would be greatly appreciated!

I agree with your note on the CI server, and will certainly look into AppVeyor.  However, since everything we use

[2016-07-26 02:16] sfrooster opened #90 "Support nats streaming"
Add C# support for NATS streaming

[2016-07-26 02:50] bjflanne commented on #90
Thanks @sfrooster; Good news - this is actually under active development from the team. Stay tuned..

[2016-07-26 09:58] megakid commented on #80
Loving the look of this.  Thanks @lor3

[2016-07-26 14:37] ColinSullivan1 commented on #90
@sfrooster Thanks for the issue - I'm aiming to have the first release wrapped up soon, in a matter of a week or two.  I'd certainly like to hear some feedback when it is released!

[2016-07-26 14:45] ColinSullivan1 commented on #80
After the C# streaming client is wrapped up (currently underway), .NET core won't be far behind.  Again, great to see contributions like this!

[2016-07-26 16:24] ColinSullivan1 commented on #81
@danielwertheim Thank for opening this issue.  I did look into it, some changes will likely be coming to support usernames/passwords related to auto-discovery.  Alongside those changes, we'll provide extended support for passwords that will cover this.  I'll keep this issue up to date.

[2016-07-26 16:59] ColinSullivan1 opened #91 "User references should be released after a NATS object has been disposed"
Some user references remain in NATS objects after they are disposed, namely event handlers.  Look at all NATS objects for these occurrences, and release any references to user objects during Dispose.

[2016-08-01 20:09] ColinSullivan1 commented on #90
@sfrooster Here you go - please see:  https://github.com/nats-io/csharp-nats-streaming

[2016-08-01 20:09] #90 closed

[2016-08-01 20:44] sfrooster commented on #90
@ColinSullivan1 Great! Tried to respond to your Apcera address, but I seem to have guessed poorly...

[2016-08-01 22:41] ColinSullivan1 opened #92 "Add support for processing of asynchronous INFO protocols"
See:  https://github.com/nats-io/nats/pull/209

[2016-08-03 22:22] ColinSullivan1 commented on #49
This is no longer required by the user.

[2016-08-03 22:22] #49 closed

[2016-08-04 03:48] RobertZFord opened #93 "Potential memory leak when closing connection quickly after opening it"
I noticed in a loop that opens a new connection, then rapidly closes it (say there was a very small amount of data to transmit intermittently, but a persisted connection was not desired), that resources are not released as expected, and if the loop runs for long enough, an OutOfMemoryException is thrown.  I found that a brief pause before closing the connection is sufficient to avoid the problem.

[2016-08-04 15:00] NATS-CI commented on #93
@RobertZFord Thank you for raising the issue - I'll check this out.

[2016-08-04 15:04] ColinSullivan1 commented on #93
@RobertZFord Thank you for raising the issue - I'll check this out.

[2016-08-04 16:55] ColinSullivan1 commented on #93
@RobertZFord  I was able to reproduce the issue, am looking into it, and really appreciate the instructions and code you provided.

Does your design have connections created and destroyed this quickly? In comparison to other NATS objects, creating connections are expensive (due to establishing the underlying TCP connection), so you'll get much better performance when using them as longer lived obj

[2016-08-04 21:48] RobertZFord commented on #93
Well, it doesn't rapidly open and close connections.  Every fifteen seconds or so, if there is data to send, it opens a connection, sends the burst of data, then closes the connection.  If there is no data to send, it just waits another 15 seconds before checking if there is data to send.

Batching of data could work for some users, but the nature of the polling I'm doing precludes this; if there

[2016-08-04 22:56] ColinSullivan1 commented on #93
I can understand where you are coming from!  Maintaining a connection is much cheaper to your application with respect to performance, and the only real traffic outside of what you drive are pings that go back and forth (every two minutes by default).  The number of bytes sent back and forth by establishing connections frequently will be much much larger than our infrequent ping/pong heartbeats.

[2016-08-05 19:13] #93 closed

[2016-08-05 19:20] ColinSullivan1 commented on #91
#94 partially addresses this issue.  Further tests need to be done with respect to subscriptions.

[2016-08-11 14:51] garrardkitchen opened #98 "Requestor sample does not work"
Hi,

I'm using server 0.9.2 in Docker container on different machine (Ubuntu 14.04) to client (Windows 10).  Subscribe and Publish work as designed. However, `c.Request(subject, payload, 1000);` times out.  I modified the sample to add a timeout as the original `c.Request(subject, payload);` just hung. Url = `"nats://i-am-hiding-server-ip-address:4222"`:

[code]

Any ideas?

Warmest regards,

Garr

[2016-08-11 15:27] ColinSullivan1 commented on #98
Hi Garrard,

Thank you for using NATS!

Could you try starting:
`replier -count 100 -sync`
and then running separately:
`requestor -count 100`

Thanks,
Colin

[2016-08-11 15:57] ColinSullivan1 commented on #98
Hi Garrard,

I did find an issue with the replier example in async mode, and have checked in some changes.  If you test with master branch, you should see no issues - can you let me know how it works for you?

Thank you for bringing this up!

Colin

[2016-08-11 15:58] garrardkitchen commented on #98
Hi Colin,

I appreciate the rapid response!

I have now tried this.  It worked.

When running without the -sync flag it throws the timeout.

Warmest regards,

Garrard.

[2016-08-11 15:59] garrardkitchen commented on #98
Hi Colin, I will do this now.

Warmest regards,

Garrard.

[2016-08-11 16:13] garrardkitchen commented on #98
Hi Colin, perfect!  Thank you again for your rapid resolution.

Warmest regards,

Garrard.

[2016-08-11 16:17] garrardkitchen opened #100 "Recommended strategy for not publishing messages if there are no subscribers"
Hi,

What strategy do you recommend I implement if I only want to publish messages when there is at least one subscriber?

Warmest regards,

Garrard.

[2016-08-11 16:28] #98 closed

[2016-08-11 16:56] ColinSullivan1 commented on #98
@garrardkitchen Happy to help, and again thank you for opening the issue.   If you have any comments or questions please don't hesitate to ask.  Also, if you have't already, feel free to join our slack channel - it is very active, and I highly suggest joining.  You can find the link to request on the [NATS community page](http://nats.io/community/).

[2016-08-11 22:57] cstlaurent commented on #62
I think this issue could be closed after PR #87 and #89

[2016-08-12 15:45] ColinSullivan1 commented on #100
@garrardkitchen Could you define your use case further?

If the message is small, or infrequent, I would suggest just sending the message anyhow, and letting the server drop it.  It keeps your application very simple, and unless you are sending a very large amount of data, the performance impact will be negligible.

If your case may be determining whether or not to initiate a stream of messages, y

[2016-08-17 18:18] ColinSullivan1 opened #103 ".NET 4.5 Code Compatibility"
Previously, .NET 4.0 code compatibility was maintained.  As .NET 4.0 is no longer supported, move to use features found in .NET 4.5.

[2016-08-17 18:21] ColinSullivan1 opened #104 "Use native Microsoft JSON serialization"
Replace the homegrown JSON parsing code with the `[DataContract]` /`[DataMember]` attributes with the JSON serializer, found in `System.Runtime.Serialization`

Depends on #103

[2016-08-17 18:27] #81 closed

[2016-08-17 18:27] #92 closed

[2016-08-17 18:27] #103 closed

[2016-08-17 18:27] #104 closed

[2016-08-17 18:27] #62 closed

[2016-08-18 19:58] ColinSullivan1 opened #105 "Support async/await with the IConnection.Request APIs."
Now that .NET 4.5 is supported, do this by adding async/await support for IConnection.Request.

[2016-08-18 20:46] #105 closed

[2016-08-18 21:22] ColinSullivan1 commented on #55
This should be addressed with #106.

[2016-08-18 21:22] #55 closed

[2016-08-29 20:25] #100 closed

[2016-08-31 06:11] garrardkitchen commented on #100
Thank you Colin, this makes perfect sense to me.

[2016-08-31 09:11] T-Erpstra opened #111 "Missing url in Disconnect/Closed events"
I have this code for the connection callbacks:
[code]
It seems that the e.Conn.ConnectedUrl is null on both events, which makes it hard to know from which server one lost the connection.

Also, I miss a "ConnectedEventHandler" so that I can know when the first connection actually succeeded and to which server (ReconnectedEventHandler doesn't fire on inital connections).

[2016-08-31 14:16] ColinSullivan1 commented on #111
@T-Erpstra - Thank you for raising this issue!

At the time the closed and disconnected event handlers are fired, the connection has been lost, so there is no valid `ConnectedUrl`.  You could always save off the `ConnectedUrl` into a field in your code after connecting, and when the `ReconnectedEventHandler` has been fired, then use that value in your event handlers.

I can certainly see the conve

[2016-08-31 15:28] ColinSullivan1 commented on #111
I was thinking about this some more, and applications typcially view clusters as a single entity - the `ConnectedUrl` is really just for informative purposes.  Would you mind describing your use case?

[2016-09-05 06:45] T-Erpstra commented on #111
Thanks for your replies!

Yes, I think those workarounds would solve the "issue".

I just wanted to raise the awareness that they might be nice to have. It's not that these things are blocking me, but this type of information is sometimes useful when trying to detect problems or potential issues (like crappy networks or unstable servers) that doesn't necessarily take the whole system down, but sti

[2016-09-08 10:24] s921102002 opened #113 "very very serious performance problem"
Hi All,

This is a very simple program. but you can see that the subscriber callback function is very very slow and it suspend - run - suspend - run, you can see it on subscribe console.

I tested on Windows 8 64bit and gnatsd 0.9.4 and csnats 0.6.0

I've tested golang client, it seems better than cs client.

I've tested if subscribe maybe 1-2 subjects, it's ok, but if subscribe count more than 20

[2016-09-08 13:37] ColinSullivan1 commented on #113
Thank you for raising the issue - I will take a look.

[2016-09-08 16:59] ColinSullivan1 commented on #113
@s921102002 ,

You are likely running into contention with thread scheduling.  Internally, each subscription uses a task to deliver messages (firing the message handler event) - increasing the thread pool will help performance here.

What happens when you add ` ThreadPool.SetMinThreads(128, 128);` at the beginning of your subscriber application?  You can tune this higher or lower to meet the memor

[2016-09-09 01:22] s921102002 commented on #113
Hi @ColinSullivan1
I've add
[code]
but it's no use, consider if subjects 5000 or 10000, you can see the taskmgr that  thread count reach 1035, I think a process use 1035 threads is incorrect.

it cause run-suspend-run-suspend in print count ( do you know what I means?)

here's a link about task start slowly

 http://stackoverflow.com/questions/22036365/newly-created-threads-using-task-factory-star

[2016-09-09 15:56] ColinSullivan1 commented on #113
@s921102002 , 10000 subscriptions for an application is a very large number indeed.  About tasks compared to go routines - this is an area where go is exceptional - go routines are very efficient compared to .NET tasks.

There are a few of approaches you can take to scale to that many subscribers.  You can subscribe to a wildcard and then distribute messages internally based on subject, or an iden

[2016-09-09 18:23] ColinSullivan1 commented on #78
Request/Reply performance issues were mitigated with #106, but leaving this open for for now.

[2016-09-10 03:06] s921102002 commented on #113
Hi, @ColinSullivan1
The use case very difficult to say here.
And subscribe to 5000 is possible, you can image if you be a DataHub, client->DataHub->DataProvider1-10

DataHub hold all data from DataProvider, and user will subscribe any subject, and the problem is here.
DataHub asyncsub 5000 subject, but it will be very slow because task issue.

I think client can't using goroutine style by task her

[2016-09-10 03:41] kozlovic commented on #113
In regards to the C client, you said that you have experienced the same problem. Have you tried with the latest release? https://github.com/nats-io/cnats/releases/tag/v1.4.4

As you can see, I have introduced the option `natsOptions_UseGlobalMessageDelivery()` (or set the environment variable `NATS_DEFAULT_TO_LIB_MSG_DELIVERY` to any value) to use a global thread pool. When this option is set, all

[2016-09-10 04:56] s921102002 commented on #113
Hi, @kozlovic
Sorry I don't notice natsOptions_UseGlobalMessageDelivery() before, but I tested it, and it works very good.
Thanks for your reminder and can set it as default?(but it should be test how many time diff in using thread pool and one subscription per thread).

Thank you very much.

[2016-09-12 17:09] ColinSullivan1 commented on #113
@s921102002 ,

I can look at adding some functionality into the .NET client that mirrors UserGlobalDeliveryOption in C.

To poll sync subscribers, setup your subscribers in a list, then continually traverse the list, retrieving messages with a timeout of 0.  This services subscribers fairly and will reduce the number of tasks created in your application.

Here's example code demonstrating what I'm

[2016-09-13 01:15] s921102002 commented on #113
Hi, @ColinSullivan1
Your code like I think, but there's a big problem in channel.cs,
When timeout, channel throw NATSTimeoutException. throw exception is very very expensive.
you can test in subscribe
Here's example code
[code]
So using this way will reduce performance significant and waste cpu usage.

I think NATS says it's high performance, so I think the measure unit is microsecond not millisec

[2016-09-13 03:16] ColinSullivan1 commented on #113
@s921102002 , No worries, no words or suggestions are making me uncomfortable, and I welcome the discussion!  We are happy you are using NATS, and appreciate your suggestions!

I do agree that throwing an exception is expensive, although it keeps the NATS C# client in line with the other clients.  I could add an option that will make `NextMessage(int)` return null instead of throwing an exception,

[2016-09-13 03:35] s921102002 commented on #113
Hi, @ColinSullivan1
I mean if this client do benchmark, it should consider microsecond level.
 I think a high performance system should be consider microsecond level, so I say throw exception is expensive.

Now, I use my version (I make a callback thread pool version)  and using async subscribe, because I use it on a real-time system, and the system require in microsecond level, so I don't use syn

[2016-09-20 14:39] #80 closed

[2016-09-20 16:57] #111 closed

[2016-09-25 12:14] Greatsamps opened #118 "Slow consumer false positive"
i have been tracking some issues in this section of the code for past 24 hours. We have around 1,000 clients connected to NATS, and this issue will pop up on 1 about every 3-4 hours.

The symptoms is that the client receives a slow consumer exception. This initially caused some confusion, because the only code on the subscriber callback is a function where the message is added to a Queue<Msg> for

[2016-09-26 17:55] ColinSullivan1 commented on #118
This is certainly odd.  I'll take a look into this.

[2016-09-26 21:19] ColinSullivan1 commented on #118
@Greatsamps, I was not able to reproduce this, but believe you are on to something regarding threading.  I have a branch setup with a potential threading fix - would you mind trying the branch at https://github.com/nats-io/csnats/tree/sub-tally-locking?

[2016-09-27 17:09] ColinSullivan1 commented on #118
@Greatsamps, master branch has this change now.

[2016-09-27 17:31] ColinSullivan1 opened #122 "Support large numbers of asynchronous subscribers in a single process"
In order to support large numbers (thousands) of asynchronous subscribers in an application, using one task per subscriber to handle message events requires more resources than are typically available.  An option should be provided that will setup a NATS connection to process all subscriber message events in a single task or thread, providing a choice of scalability over performance.

This will ad

[2016-09-27 17:36] ColinSullivan1 commented on #48
NATS client libraries are no longer signed as of #116.

[2016-09-27 17:36] #48 closed

[2016-09-27 17:56] Greatsamps commented on #118
Hi Colin,

Many thanks.. i won't be able to update this until the weekend, but i will do on Saturday and should have an answer pretty quickly if there is an issue still.

[2016-09-27 18:31] ColinSullivan1 commented on #118
@Greatsamps , Happy to help!  Thank you for reporting the issue, and helping to test.  Much appreciated!  I look forward to hearing about the results.

[2016-09-29 16:11] ColinSullivan1 opened #123 "Add prerelease packages on NuGet"
Pre-Release NuGet Packages should be provided for users to take advantage of new features without needing to compile themselves, and is very convenient for .NET core users.  This will be a build of new features on the master branch that pass all tests.

[2016-09-29 19:24] stephenjannin opened #125 "AsyncSub Messages lost during reconnect"
I’m doing some advanced unit tests.
I have a 3 nodes cluster
I create 2 connections
-	1 for sending messages on node 1 on subject foo
-	1 for receiving messages on node 2 on subject foo

I start sending messages every 50 ms
I stop node 2 (the one that is used by the AsyncSub)
The AsyncSubscription is loosing all the messages that have been sent before it get reconnected to another node.

Is is the

[2016-09-29 19:34] stephenjannin opened #126 "Publish Failure during reconnect"
I’m doing some advanced unit tests.
I have a 3 nodes cluster
I create 2 connections

1 for sending messages on node 1 on subject foo
1 for receiving messages on node 2 on subject foo
I start sending messages every 20 ms
I stop node 1 (the one that is connected to the send thread)

The publish of messages in failing with 2 different types of issues :
- Socket or IO or NotSupportedException : the un

[2016-09-29 19:45] #113 closed

[2016-09-29 19:45] #122 closed

[2016-09-29 19:48] ColinSullivan1 commented on #113
@s921102002,  #124 should address your performance issue here.  Please let me know how it works out for you.  Thanks!

[2016-09-29 21:37] ColinSullivan1 commented on #126
@stephenjannin  - Thank you for raising the issue - I'll look into it.  The publish may throw IO/Socket write related exceptions, but shouldn't get a NATSConnectionClosed exception until all retry attempts have failed.

[2016-09-29 22:02] ColinSullivan1 commented on #125
@stephenjannin, Thank you for the test case to illustrate the behavior.  What you are seeing is expected   - a subscriber will miss messages published on its topic while it is in the process of reconnecting.  Core NATS provides a quality of service that is is at most once delivery.  If you need a more reliable quality of service, we provide [NATS streaming](http://nats.io/documentation/streaming/n

[2016-10-03 05:41] Greatsamps commented on #118
@ColinSullivan1 So i updated the library with the new version and added my debugging code. Pleased to report it has been running over 48 hours on over 1,500 clients without a single issue. Not only are we not getting crazy values detected, that section of code is not being hit now which is more important as it should never have been hit in our setup in first place.

id say this is now fixed. Thank

[2016-10-03 14:57] ColinSullivan1 commented on #118
@Greatsamps, I'm glad to hear it is fixed!  I'll schedule another release and update NuGet.

[2016-10-03 14:57] #118 closed

[2016-10-03 18:48] ColinSullivan1 commented on #126
@stephenjannin,

I took a closer look at this, and this is expected behavior.  The `NATSConnectionClosedException` should only be thrown if the connection cannot reconnect to any servers in your cluster.  I ran the test below, and did not see that exception thrown, but please let me know if you are seeing anything different.  The .NET client mirrors go, and thus can throw IO/socket exceptions.  Th

[2016-10-04 18:26] ColinSullivan1 commented on #123
Pre-releases are now available, beginning with [NATS.Client version 0.6.2-rc1](https://www.nuget.org/packages/NATS.Client/0.6.2-rc1).

[2016-10-04 18:26] #123 closed

[2016-10-05 21:49] ColinSullivan1 opened #131 "Tests randomly fail in CI"
The unit tests seem to randomly fail in CI with connection related issues.

[2016-10-05 21:51] #131 closed

[2016-10-21 20:10] ColinSullivan1 commented on #126
@stephenjannin, I'm closing this issue, as this is expected behavior.  If you require at least once delivery within NATS, I suggest looking into NATS streaming.

[2016-10-21 20:10] #126 closed

[2016-10-21 20:10] #125 closed

[2016-11-09 21:44] ColinSullivan1 opened #134 "Exceptions thrown by Connection.Flush can lose their context"

[2016-11-09 21:46] #134 closed

[2016-11-28 05:56] tamnm opened #139 "Extreamly slow when send message to multiple Topics (300) for first time"
Hi,
I did a test and result is weird. Please take a look

1. I created 300 subscription that subscribed  300 Topic.
2. I Publish 1 message to each Topic.
3. Wait for all subscriptions receive first message.
    (takes over **290,000ms** to send 300 messages to 300 Topics (1 message per Topic))
4. Send 10 messages to each Topic
5. wait for all subscription receive 10 messages
    (take 7ms) (takes

[2016-11-28 16:13] ColinSullivan1 commented on #139
@tamnm , Thank you for using NATS!

I appreciate the sample program and environmental information you provided.

The connection defaults are setup to scale for very high throughput with a smaller number of subscribers.  In order to handle large number of subscribers, I suggest you use the [SubscriberDeliveryTaskCount](http://nats-io.github.io/csharp-nats/class_n_a_t_s_1_1_client_1_1_options.html#a

[2017-01-05 17:32] ColinSullivan1 commented on #139
Hopefully this resolved your issue - I'm closing this due to inactivity.

[2017-01-05 17:32] #139 closed

[2017-02-10 16:44] ColinSullivan1 opened #144 "Do not shuffle entire pool when adding URL from INFO"
Parallel the go-nats client fix for this found [here](https://github.com/nats-io/go-nats/pull/260).

[2017-02-13 20:46] #144 closed

[2017-02-16 17:56] ColinSullivan1 opened #146 "Cleanup unnecessary using directives in the source files"

[2017-02-16 20:33] ColinSullivan1 opened #148 "Update .NET core dependencies"
.NET core moves fast.  Update dependencies for the client, tests, and samples to reference the latest stable libraries/frameworks.

Update:  Best to wait and do this with the .NET core 2.0 release barring any security issues or major bugs.

[2017-02-16 20:33] #146 closed

[2017-02-28 08:54] jaklithn opened #149 "Rx support"
Daniel Wertheim has implemented a very nice Rx support in his .Net client. https://github.com/danielwertheim/mynatsclient
I really like that approach as it is fast, elegant and modern. On the other hand I prefer to use officially supported libraries as they tend over time to be more stable and supported.
Can you please consider to include the Rx support in the core of the official client lib?

[2017-02-28 16:24] ColinSullivan1 commented on #149
@jaklithn , Thank you for looking at NATS, and raising this issue. Absolutely, and I certainly agree - Rx is a nice programming model for the reasons you mentioned.  Providing Rx support is on our list; and I hope to get to it fairly soon.

In the meantime, we also do accept user contributions -  a performant, well written, separate Rx assembly over the official NATS assembly is something we would

[2017-03-28 08:45] chrismcv opened #150 "Timeout not working as expected"
I'm doing some testing on failure scenarios, and am testing what happens if the NATS server is stopped while my process is running.

I'm finding the timeout periods seem to be getting ignored, assuming I've configured it correctly.

Here is my reproduce code.
[code]

Output:
[code]

[2017-03-28 16:52] ColinSullivan1 commented on #150
@chrismcv , thanks for raising this issue - I'll take a look.  What version of of the NATS C# streaming client are you using?

[2017-03-28 16:54] chrismcv commented on #150
using `Nats.Client@0.7.0` on coreclr in a NetStandard1.6 project

[2017-03-28 16:56] ColinSullivan1 commented on #150
@chrismcv , Thanks - what version of STAN.Client would you be using?  A build from master branch?

[2017-03-28 16:58] chrismcv commented on #150
I'm not using STAN.client

[2017-03-28 17:02] ColinSullivan1 commented on #150
@chrismcv Ahh, yeah, I see - sorry, my mistake.

[2017-03-28 17:02] chrismcv commented on #150
no problem

[2017-03-28 17:02] ColinSullivan1 commented on #150
@chrismcv , I'll let you know what I find...  Thanks again.

[2017-03-28 19:14] ColinSullivan1 commented on #150
@chrismcv , How are you stopping the NATS server?

If I kill the NATS server while testing the API, I immediately get a `NATSConnectionClosed` exception thrown when making the request.  I've also verified correct timeout behavior without a subscriber.

[2017-03-28 22:09] chrismcv commented on #150
I had a docker container called nats and was using `docker stop nats`,
which I suspect might be comparable to a network failure?

On Tue, 28 Mar 2017, 20:14 Colin Sullivan, <notifications@github.com> wrote:

@chrismcv <https://github.com/chrismcv> , How are you stopping the NATS
server?

If I kill the NATS server while testing the API, I immediately get a
NATSConnectionClosed exception thrown when

[2017-03-28 23:05] ColinSullivan1 commented on #150
@chrismcv , I really appreciate the code you've provided and quick responses.  Yep, I suspect docker stop may simulate a network failure.  May have to work that into the tests.  ;)

I have a PR open, but will run a few more manual tests to verify before merging.  If you'd like, please feel free to test out https://github.com/nats-io/csharp-nats/pull/151.

Thanks,
Colin

[2017-03-29 08:16] chrismcv commented on #150
@ColinSullivan1 no problem - and thank for the quick response too.

I've tested your PR and it is giving the following output for my sample code.

[code]

This seems good to me. Thanks for your help!

[2017-03-29 15:18] ColinSullivan1 commented on #150
@chrismcv, Great - thank you for testing!  My local tests pass as well; I'll merge the PR.

[2017-03-29 15:19] #150 closed

[2017-04-17 19:14] ColinSullivan1 commented on #78
Closing this; request reply will be further evaluated in the next performance pass.

[2017-04-17 19:14] #78 closed

[2017-04-17 21:46] #91 closed

[2017-04-19 16:36] ColinSullivan1 opened #156 "Paket Support"
Support the [Paket](https://fsprojects.github.io/Paket/) dependency manager.

[2017-05-05 14:31] ogoun opened #157 "Add ManyRequests feature"
From official documentation:

Your implementation does not contain a method for one-to-many scenario.

**Implementation example**

[code]

[2017-05-05 19:43] ColinSullivan1 commented on #157
@ogoun , Thank you for the suggestion, it is very much appreciated.  This topic has come up in the past; we'll consider this.  Note, if something like this is implemented, we will likely start with the [golang](https://github.com/nats-io/go-nats) client, then we'll add to other clients (including C# here).

[2017-05-30 14:48] ColinSullivan1 opened #158 "More protocol friendly request pattern."
Add functionality to mirror the go-nats feature, https://github.com/nats-io/go-nats/pull/295.

[2017-05-30 14:50] ColinSullivan1 opened #159 "Add handler invoked when a new server joins the NATS Cluster"
Add functionality to mirror the go-nats feature,https://github.com/nats-io/go-nats/pull/282.

[2017-05-30 16:59] sixlettervariables commented on #158
If I'm reading this correctly, does the following describe that behavior?

- Each client, when initiating a request, would create a connection local inbox
- The client (read: per connection) would subscribe to that inbox as a wildcard
- Each request from the client would have a reply to referencing that inbox plus a unique ID
- The reply would be dispatched locally based on that unique ID

[2017-05-30 21:09] ColinSullivan1 commented on #158
@sixlettervariables , were you thinking of contributing here?

[2017-05-30 21:49] sixlettervariables commented on #158
As I understand it we, basically, do exactly this in our usage of the client (but for a different purpose than performance). Trying to understand the feature and how it may/may not affect us.

[2017-05-30 22:35] ColinSullivan1 commented on #158
It really shouldn't affect you (beyond better performance), unless you have some subject based authorization enabled that would interfere with the internal subscription.

[2017-06-13 19:25] #159 closed

[2017-06-26 19:38] ColinSullivan1 commented on #158
Resolved by #167.

[2017-06-26 19:38] #158 closed

[2017-06-29 20:00] sixlettervariables opened #168 "Negative values for pending limits are not treated the same as the Go client"
The documentation for the Go client suggests that the pending message and byte limits treat negative values as "no limits", however the C# client does not contain this logic.

[2017-06-29 23:09] #168 closed

[2017-07-11 23:20] BrannonKing opened #171 "I need a publish method where I can pass in the byte count"
I would like to be able to pass in the byte count that goes with my byte[] passed to the Publish method. In other words, I want to set the "num" value in Connection.publish with a parameter so that I don't have to make an additional array copy of my data after serialization.

[2017-07-11 23:41] sixlettervariables commented on #171
Would you also want an offset parameter?

Something like:
[code]

[2017-07-12 01:13] BrannonKing commented on #171
I don't need "offset" in my current application, but there have been some in times past where it would be handy. Those overloads you listed look fine.

[2017-07-12 03:12] ColinSullivan1 commented on #171
I think `Publish` APIs with offset and count would keep the API minimized while also handling a wider use case.  For congruence, the `Request*` APIs could provide offsets and count as well.

[2017-07-12 14:23] aricart commented on #171
@BrannonKing this is not needed if your 'array' is actually a slice.
If you have a 'slice', you can subrange the slice, the backing of the slice remains to be the original slice.

So all you need to do is subrange your source slice, and the api will send the subset of bytes, without any data copying. Have a look at this sample:
https://play.golang.org/p/XHs7KlPm78

[2017-07-12 14:27] BrannonKing commented on #171
C# doesn't support native array subranges. In order to sub-range a collection in C#, the API would still have to change. If it took a `IReadOnlyList<byte>`, it's easy to build a sub-range wrapper around around that interface. Another option is to take `ArraySegment<byte>`, which bundles the Count and Offset parameters with the array.

[2017-07-12 14:30] aricart commented on #171
bah! sorry thought it was go-nats!

[2017-07-12 14:59] sixlettervariables commented on #171
vNext of the CLR will have [`Span<T>`](https://github.com/dotnet/coreclr/issues/5851) (rough analog of go slices).

[2017-07-12 21:36] BrannonKing opened #172 "Does/can Connection.Publish block?"
The Publish method returns void. How long will it block?

It has its own local buffer? What happens when the buffer is full? How do I configure the buffer?

It appears to throw an exception if the connection is closed? But what about if we're reconnecting? Do we go into a closed state and then into a reconnecting state? Is "closed" a manual close only or does it go into that state with a connectio

[2017-07-14 16:42] ColinSullivan1 commented on #172
@BrannonKing , Thank you for your interest in NATS!

The publish method uses a buffer owned by the connection, and when all of the buffers are full, it can block, but IMO you are not likely to run into that situation.  Today, there is no way to configure buffer sizes, but we could certainly add a feature if there is a need.  There is an [issue](https://github.com/nats-io/go-nats/issues/197) open f

[2017-07-17 04:42] BrannonKing commented on #82
You're welcome to use my common serializer interface: https://github.com/BrannonKing/CommonSerializer . That's what I'm doing in my other project where I am synchronizing two object instances using NATS: https://github.com/BrannonKing/Kts.ObjectSync . This latter library is not quite feature complete.

[2017-07-17 04:45] BrannonKing commented on #172
I was trying to write a speed test (see the unit tests here: https://github.com/BrannonKing/Kts.ObjectSync). I want to push data through NATS as fast as possible. When doing it in a tight loop, I was hitting the "consumer too slow" message. I had to add in some arbitrary spin-waits. I need some way to know how much room is in the buffer. That way I can stall my system until there is room. Similarl

[2017-07-23 23:38] james-andrewsmith opened #173 "Subscription EventHandler Async/Await Support"
Are there any plans to support async / await within an EventHandler? Is this what #59 is referring to?

eg:

[code]

[2017-07-24 17:11] ColinSullivan1 commented on #172
@BrannonKing ,  Have you tried injecting a request/response in your test to meter your connection?

Every N messages (N being a value you select that works best in your use case, e.g. 10,000), you can send a request to your consuming application and block publishing while waiting for a response.  This could be on a different subject, or you could flag a message with special content.  It is one way

[2017-07-26 21:59] ColinSullivan1 commented on #173
@james-andrewsmith,

Thank you for your interest in NATS!

Can you go into more detail?  The following code snippet works for me with the latest version:
[code]
Output:
[code]

#59 refers to a different issue which I'll need to clarify; thank you for bringing that up.

[2017-07-27 03:18] james-andrewsmith commented on #173
@ColinSullivan1 Thanks for clarifying, I swear visual studio is playing games with me, my snippet wasn't working last I checked and now with fresh eyes it works, regardless I am glad to see that it works!

I also wanted to clarify blocking behaviour / threading of the AsyncSubscription as well, each message is processed by the handler completely before it moves onto the next.

So in order process

[2017-07-27 17:41] ColinSullivan1 commented on #173
@james-andrewsmith , No worries!  Sometimes code is broken until the exact moment you ask someone else to look at it.  :)

The message handler for each queue subscriber will process each message sequentially and will block - every subscriber is serviced by a task assigned to it at creation. *However*, messages will be distributed randomly by the server to subscribers in the queue group and you'll

[2017-08-01 02:16] james-andrewsmith commented on #173
@ColinSullivan1 Thank you very much for your guidance - I will definitely ensure I tweak the task count accordingly.

[2017-08-01 02:16] #173 closed

[2017-08-02 16:33] #157 closed

[2017-08-22 05:52] niarbeht opened #176 "Compatibility issue with case-sensitive operating systems."
Adding the Nuget package for NATS.Client on Linux results in getting a NATS.Client.DLL file.  This file cannot be found when attempting to load assemblies unless it is renamed NATS.Client.dll.

[2017-08-22 17:12] ColinSullivan1 commented on #176
@niarbeht , thank you for raising this issue; I'll look into it.

[2017-08-22 17:31] niarbeht commented on #176
Check nuget/NATS.Client.nuspec, look for the lines:
`<file src="lib\net45\NATS.Client.DLL" target="lib\net45\NATS.Client.DLL" />
<file src="lib\net45\NATS.Client.XML" target="lib\net45\NATS.Client.XML" />
<file src="lib\netstandard1.6\NATS.Client.DLL" target="lib\netstandard1.6\NATS.Client.DLL" />
<file src="lib\netstandard1.6\NATS.Client.XML" target="lib\netstandard1.6\NATS.Client.XML" />`
Consid

[2017-08-23 00:21] niarbeht commented on #176
Further information:

[code]

[2017-08-23 13:39] ColinSullivan1 commented on #176
Thank you @niarbeht , I'll get to this soon, likely tomorrow.

[2017-08-25 06:14] windyliupei opened #177 "How Can I use TLS by ‘bidirectional authentication’"
Now our company plan to using nats  server by 'bidirectional authentication', I reference the example code:

Options opts = ConnectionFactory.GetDefaultOptions();
        opts.Secure = true;

        // .NET requires the private key and cert in the
        //  same file. 'client.pfx' is generated from:
        //
        // openssl pkcs12 -export -out client.pfx
        //    -inkey client-key.pem

[2017-08-25 06:21] windyliupei commented on #177
Additional question: How Can I change Tls version? I didn't know which version was support by nats client?
But now our Server tls version is Tls2, if default version is not Tls2 , then How can I change it.

[2017-08-25 16:46] ColinSullivan1 commented on #176
@niarbeht , I'm setting up an environment to test this.  Would you happen to have a small project that reproduces this error, or maybe a docker file that demonstrates this?

Thanks,
Colin

[2017-08-25 20:24] niarbeht commented on #176
I can try to get something together for you tonight or tomorrow. For
now, Everything Is On Fire at work.  It was all fine yesterday morning,
and now nothing works, even though I didn't change anything.

It's definitely one of those days right now...

On 8/25/2017 11:46 AM, Colin Sullivan wrote:

[2017-08-27 18:03] ColinSullivan1 commented on #176
@niarbeht , Sorry to hear that; good luck putting out fires.  Whenever you get to it is fine here - no rush.  I'll look into to this further later today or tomorrow AM.  I did verify the NuGet package does work on MacOS X.

[2017-08-28 07:18] windyliupei commented on #177
any update? I am looking for....

[2017-08-28 15:42] ColinSullivan1 commented on #177
@windyliupei , Thank you for raising this issue; I'll take a look.

[2017-08-28 16:21] ColinSullivan1 commented on #177
Hi @windyliupei, for your first question:

Did you include your client certificate when you generated your PKCS#12 (pfx file) file?  One way to do this is using the openssl utility:  `openssl pkcs12 -export -out client.pfx  -inkey client-key.pem -in client-cert.pem`  In the example here, the client private key is `client-key.pem` and the client certificate is `client-cert.pem`.

You cannot right n

[2017-08-28 22:44] ColinSullivan1 commented on #176
@niarbeht , I did verify that mono doesn't like the case sensitivity.  I'll make a fix.  Is this holding you back from production at the moment?

[2017-08-28 23:27] niarbeht commented on #176
@ColinSullivan1 It's a home project, so don't worry about it too much, just be aware that it will probably bite someone someday.  I can work around it personally for now by just leaving a properly-named .dll file in my deployed environment.

Also, sorry for not assisting more, I'm in Houston, and it's a bit wet outside right now.

[2017-08-29 00:49] ColinSullivan1 commented on #176
OK, thanks, and good luck there in Houston - try and stay dry!

Agreed - someone may run into this, I appreciate your raising this issue.  Whenever time permits, would you mind giving this NuGet package a shot to verify?  (just remove the .zip postfix).

[NATS.Client.0.8.1.nupkg.zip](https://github.com/nats-io/csharp-nats/files/1258768/NATS.Client.0.8.1.nupkg.zip)

[2017-08-30 17:18] ColinSullivan1 commented on #172
Closing this PR due to inactivity; please feel free to re-open if you still have questions.

One thing to add - in NATS, publishing is completely decoupled from associated subscribers, so there is no built in way to meter a publisher with a subscriber, so you'll want to implement a strategy to meter the publisher.

Alternatively, NATS streaming will allow you to prevent overrunning publishers and

[2017-08-30 17:18] #172 closed

[2017-09-08 07:00] samchan22 opened #180 "Memory leak issue when keep connect to NATS"
My program keep connect  and subscribe to NATS, the Memory (in Windows Task Manager) raise when data is received.
Out of memory occurs after running the program for a period of time.

(Attached the wpf source code in c#)
[NATS Memory Leak.txt](https://github.com/nats-io/csharp-nats/files/1287013/NATS.Memory.Leak.txt)

[2017-09-21 23:50] BrannonKing opened #181 "StreamReader usage is wrong"
There's a comment in the code about purposely leaking the StreamReaders to keep the parent stream open. This approach is incorrect and is probably causing a memory leak. The StreamReaders need to be disposed. They have a constructor parameter that can be set to leave the source stream open, which should be utilized. The call to create them should look something like this:
[code]
It should then get

[2017-09-21 23:51] BrannonKing commented on #180
I filed this bug for a specific leak: https://github.com/nats-io/csharp-nats/issues/181
I don't know if it's the one you were seeing.

[2017-09-21 23:58] BrannonKing commented on #171
@sixlettervariables , I see that you prototyped this. What's the status on a merge?

[2017-09-22 13:27] sixlettervariables commented on #171
@BrannonKing I temporarily stepped onto another project at work and just never pushed my final changes. I've opened a PR.

[2017-09-22 19:24] ColinSullivan1 commented on #181
@BrannonKing , let me take a look.  Thanks!

[2017-09-22 20:41] #176 closed

[2017-09-25 06:58] windyliupei commented on #177
Yes，I had generate client.pfx file, it's include key file and cert file. but the key file's extension name  is “.key”, but it still failed.

[2017-09-25 18:40] ColinSullivan1 commented on #177
@windyliupei , are you using a supported cipher suite for your .NET platform?  You may need to restrict the server to use only cipher suites supported by the .NET version you are using.  Here is an example NATS server [configuration file](https://github.com/nats-io/csharp-nats/blob/v0.8.0/NATSUnitTests/config/tls_1222.conf) that works with windows 7 and above.

[2017-09-25 21:00] ColinSullivan1 commented on #180
@samchan22 , can you debug your application in visual studio and let me know what the instance count of NATS objects are?  If using VisualStudio 2015 and above, you can debug, take a memory snapshot, and filter by the type name of `NATS`.  Also, can you test with the latest version, or master branch?

Thanks,
Colin

[2017-09-25 21:06] ColinSullivan1 commented on #181
@BrannonKing , I'll modify the API to explicitly leave the underlying stream open - always a good idea to explicitly signal intent in code.  Thanks!

That being said, I do not believe this was a memory leak.  If you do not explicitly `Close()` (or `Dispose()`) the stream, the garbage collector will not close the underlying stream.   I didn't see this as an issue in previous testing for leaks, and

[2017-09-25 22:44] ColinSullivan1 commented on #180
@samchan22 , an update.  I just ran a long running test creating connection factories, connections, and subscriptions (disposing of connections).  It is similar to the test [here](https://github.com/nats-io/csharp-nats/pull/183/files#diff-a9a086030440a5e2923e405a0913abfbR377).  I'm not seeing any NATS object instance counts beyond what I'd expect in the test.  I'm looking forward to your results.

[2017-09-27 02:38] ColinSullivan1 commented on #171
Resolved by #182.

[2017-09-27 02:38] #171 closed

[2017-09-27 15:29] ColinSullivan1 commented on #181
Resolved by #183.  Thank you for raising the issue.

[2017-09-27 15:29] #181 closed

[2017-09-28 18:30] basingh89 commented on #148
I would like to use NATS on Universal Windows Platform. However, it does mean targetting .NET Standard 1.3 (technically, 1.4). It seems that the only thing requiring .NET Standard 1.6 is `BufferedStream`.

[2017-09-29 16:38] ColinSullivan1 commented on #148
@basingh89 , Thank you for raising this issue.  Removing buffered stream would significantly reduce performance (one of the key features of NATS).  Would you have an alternative you'd suggest?

[2017-09-29 20:18] basingh89 commented on #148
On the flip side, Microsoft is planning to update [UWP to support .NET Standard 2.0](https://blogs.msdn.microsoft.com/dotnet/2017/08/25/uwp-net-standard-2-0-preview).

[2017-10-02 16:16] ColinSullivan1 commented on #148
@basingh89 , IMO .NET standard 2.0 will be the way to go.

[2017-10-02 17:49] basingh89 commented on #148
I agree. But at the same time, I'm not sure how long it will take Microsoft to release the update on the devices I'm working on (e.g. HoloLens).

[2017-10-02 20:15] ColinSullivan1 commented on #148
I understand, but would hate to move backward at this point.

Supporting code uses the `Stream` interface - you could modify [Connection.getWriteBufferedStream()](https://github.com/nats-io/csharp-nats/blob/v0.8.0/NATS.Client/Conn.cs#L519) to return the appropriate stream directly rather than wrapping in a `BufferedStream`.  You'd likely have a performance hit and would lose extremely large messag

[2017-10-06 10:16] highfield opened #184 "Better handling at the connection drop?"
Since I'm wondering how the client/server behave on a remote (not-so-realiable) connection, I started some test.
My current attempt is a single .Net Core 2.0 console app, which hosts both "master" and "slave" endpoints: both use this driver (latest stable release from NuGet), and connect against a single server on the same machine (Win10). The aim is perform a kind of query (master queries slave)

[2017-10-06 18:25] ColinSullivan1 commented on #184
@highfield , thank you for raising this.  How are you closing the NATS server?  This sounds like the underlying TCP connection has dropped and the client or OS has not detected the connection has gone at the TCP level.  Have you added a [DisconnectedEventHandler](http://nats-io.github.io/csharp-nats/class_n_a_t_s_1_1_client_1_1_options.html#a6116c0a92a645bbc356bde9533220ea4) to see if the client i

[2017-10-07 05:46] highfield commented on #184
@ColinSullivan1 the server is started by a PowerShell console, then halted via ctrl-C: very easy to start/stop this way.
I hadn't time enough to make more experiments, other than taking the ping interval much shorter than the default. Once I set to 5 secs, the CPU load is very short (shorter than the interval), and the system responsive. Of course, that imply a small overhead on the network.
I def

[2017-11-08 16:57] ColinSullivan1 opened #189 "Move CI to Travis"
[.NET in Travis CI ](https://docs.travis-ci.com/user/languages/csharp/) is now out of beta, is community supported and looks to be stable.   AppVeyor tests often time out.

- [ ] Move to Travis CI for PRs
- [ ] Evaluate continuing AppVeyor CI for sanity checking releases.

[2017-11-09 14:36] highfield opened #190 "Listening stops with many connections (pub/sub)"
My demo bench is a small Net Core app with 20 connections as publishers, and other 20 as listeners. The broker is reached as 127.0.0.1 on Windows 10.
Still I haven't understand what's going on, but I found an issue at this point:
https://github.com/nats-io/csharp-nats/blob/d2ed82da04b2d2ddee770f1424302c0faf482289/NATS.Client/Conn.cs#L1047
Basically, the task does not start although apparently ther

[2017-11-09 16:43] ColinSullivan1 commented on #190
@highfield , This is strange, especially with only twenty subscribers.  Is your application under heavy load?  If the publishers are going full blast, it may be.  Under heavy load, I've seen tasks take awhile to start and behave strangely in other ways.  Threads are given more resources and priority in .NET, which might explain why a thread would work, and a task wouldn't.

I wonder if reducing th

[2017-11-10 15:19] highfield opened #191 "Wrong property ConnectTimeout"
I found something likely a misspell on the ConnectTimeout property of the TCPConnection class. The property body calls the property itself:
https://github.com/nats-io/csharp-nats/blob/b664b76139383a5b0e631f0f6cca0e019700a41c/NATS.Client/Conn.cs#L464

[2017-11-10 15:31] highfield commented on #190
Well, I'm still digging the code (I grabbed the latest one), but there are more than just one thing strange.

The most used pattern is to create many connections from within the same thread. That works, although it's VERY slow to start. The below code takes over 2 minutes just to create the connections, then the loop starts. I wonder why it takes so long, because a straight-raw connection of the s

[2017-11-10 19:10] sixlettervariables commented on #190
You're basically exhausting the thread pool. On my 32 core workstation, things got unwieldy past the 500 thread mark...

Any reason why you need so many NATS connections? Within an application one connection can handle arbitrarily many publishers and subscribers.

[2017-11-10 21:09] ColinSullivan1 commented on #190
Can you describe in more detail what the goals of your test are?  A NATS client typically needs only one connection (in some cases maybe a few more).

[2017-11-11 05:04] highfield commented on #190
I agree that a single process could work with just one connection, but my goal is to simulate a larger environment with many processes. Let's say some hundreds of connections (i.e. concurrent processes) when the system will be publicly on. If you like, consider the broker in the cloud, and many different processes connected to.
So, the questions are still there: it should work fine with 200 proces

[2017-11-13 15:54] ColinSullivan1 commented on #190
I see.  I think this is a limitation of .NET due to default values with the thread pool.  Have you tried tuning your benchmark by setting `ThreadPool.SetMinThreads`?

 If you are using .NET core 1.0, there is another way described [here](https://github.com/dotnet/corefx/issues/15990).

[2017-11-13 16:56] ColinSullivan1 commented on #190
To add to my comment, one hypothesis is that if you are running out of resources in the thread pool, additional tasks are taking longer to start once scheduled - which would include connection related tasks.  If the problem is mitigated by overriding the default number of threads, it'd help prove this out.

[2017-11-14 06:29] tamnm opened #193 "Broken Pipe Exception during write to stream"
I got this exception for around each 30mins

System.Net.Sockets.SocketException (0x80004005): Broken pipe
   at System.Net.Sockets.NetworkStream.Write(Byte[] buffer, Int32 offset, Int32 size)

System.Net.Sockets.SocketException (0x80004005): Connection reset by peer
   at System.Net.Sockets.NetworkStream.Write(Byte[] buffer, Int32 offset, Int32 size)

do you have any idea?

Nats and my service are

[2017-11-14 06:30] tamnm commented on #193
this from my log

2017/11/14 03:24:05.691: System.Net.Sockets.SocketException (0x80004005): Broken pipe
2017/11/14 03:29:09.362: System.Net.Sockets.SocketException (0x80004005): Broken pipe
2017/11/14 03:40:16.726: System.Net.Sockets.SocketException (0x80004005): Broken pipe
2017/11/14 04:05:26.198: System.Net.Sockets.SocketException (0x80004005): Broken pipe
2017/11/14 04:11:14.794: System.Net.So

[2017-11-14 16:58] ColinSullivan1 commented on #193
@tamnm , this looks like something odd is going on with your network stack; perhaps your network interface/driver is being periodically restarted.  If you use loopback (127.0.0.1), do you still see the issue?

[2017-11-14 17:00] #191 closed

[2017-11-16 04:37] highfield commented on #190
Will do: let me some time. At the moment, I'm busy on another project.
Many thanks in advance.

[2017-11-17 16:26] sixlettervariables commented on #190
@highfield: regarding the increasing connection times, I saw two things during my testing:

- The internal NATS connection logic took between 5 and 20 ms, with some spikes to ~500ms.
- The dominating factor was waiting on the thread to start.

Internal to the NATS connection logic there is a bit more going on than just a new TCPClient plus a Connect. It waits for the server's INFO packet before co

[2017-11-28 08:53] nataly87s commented on #149
I want to work on this issue

[2017-11-28 15:03] nataly87s commented on #148
I can upgrade the project to .NET standard 2.0

I would also love to refactor the code a little, for example use async/await instead of Threads, it should improve performance

[2017-11-28 17:33] ColinSullivan1 commented on #149
@nataly87s , Absolutely, would love the help here!

I'd suggest as next steps:

1)  You propose an API, which we can review.  A simple layer on top of this NATS assembly (versus built-into NATS) would be ideal.  It'd be be easiest if you'd provide a skeleton API with documentation in a repository you own, where we can collaborate.

2) After the API is defined, once code is complete and unit tests

[2017-11-28 17:39] nataly87s commented on #149
I think the easiest way to do it would be to just add a project to this repository with extention methods for `IConnection`.
Of course I'll add documentation and tests as well

[2017-11-29 16:51] ColinSullivan1 commented on #149
If it facilitates development I'm OK starting that way, but we'll want to differentiate releases for NATS and NATS-RX, which will require different repositories.

[2017-12-08 15:48] sebastien-curutchet commented on #180
Hello,
Which is the size of your messages ? .NET manages differently large and small objects : SOH vs LOH. All messages with a size over 85000 are allocated in the LOH which is not compressed. If you allocated a lot of large objects, there is a memory fragmentation and even if you process doesn't have a big memory thumbprint you can have OOM exception. There are a lot articles on this subject.

[2017-12-08 16:02] sebastien-curutchet commented on #190
If the threadpool doesn't have enough available threads to do the connection, you have a timeout. It is because of this code client.ConnectAsync(s.url.Host, s.url.Port).Wait(TimeSpan.FromMilliseconds(timeoutMillis)). I have a similar issue on a stressed environment. I'm trying to implement the timeout by another way based on BeginConnect /EndConnect and TCPClient.Client.Poll method.

For now I did

[2017-12-08 21:17] ColinSullivan1 commented on #190
@sebastien-curutchet , Thank you for for sharing the workaround.  This may be something we'll want to look into adding into the client.

[2017-12-13 22:48] ColinSullivan1 commented on #189
Just a note for priority, AppVeyor failures are really impacting CI at this point.  Tests pass locally.

[2017-12-20 02:14] dioptre opened #196 "Unstable SSL"
Hi I *sometimes* get this:
[code]

I'm running 50 instances of a test service and am using NATS to connect when this happens on boot. Only 10% of the clients connect. I've never had an issue with other language's drivers before.

Thanks for any help
Andy

[2017-12-20 02:35] dioptre commented on #196
BTW I removed the following lines:
[code]
And it worked. Scary that this could happen though.

[2017-12-20 16:30] ColinSullivan1 commented on #196
@dioptre , thank you for raising this issue.

It seems the client is receiving invalid data in the TLS handshake.  I have a few questions:

* Which version of the NATS server (gnatsd) are you using?
* Are a high number of clients attempting to connect to the NATS server at the same time?
* Would you have NATS server logs available?  (logs with `-D` (debug) or `-DV` (debug+trace) would be helpful.

[2017-12-20 20:44] CITnDev commented on #190
Hello,
To complete my workaround this is another way to manage the timeout without using the ThreadPool : https://github.com/CITnDev/csharp-nats/commit/34c0e64402a484d8f755a3ba3a90c5af68ba4479

I have to do more tests in real environment. But this change has an impact on the CreateConnection behavior. The UT TestConnectionMemoryLeak fails most of the time because in a few seconds the UT creates mo

[2017-12-22 14:59] sebastien-curutchet opened #197 "Cluster + Reconnect + Auth - wrong ServerPool list"
Hello,

This scenario failed :

auth_5678.conf
[code]

auth_5679.conf
[code]

Unit Test:
[code]

The connection server list  is :
nats://username:password@localhost:5678
nats://username:password@localhost:5679
nats://localhost:5678 => generated by the cluster autodiscovery mechanism but without login/pwd ??

3 options :
* fix this issue (seems to be a server one)
* add an options to not take into

[2017-12-22 17:50] ColinSullivan1 commented on #197
Hello @sebastien-curutchet , thanks for raising this issue.

If you use the credentials parameters in the options rather than using the username/password in the url, the client will always connect using those credentials including when using urls provided by the server.  We should make this behavior more apparent.

[code]

Regarding the extra items in your returned url list, if you specify a speci

[2017-12-26 06:57] sebastien-curutchet commented on #197
Oh sorry, I don't know why, but I haven't seen User and Password properties in Options class.  The UT works fine with these two properties. Thank you.
About making this behavior more apparent, I don't think that is necessary : there are existing UTs with this behavior. Or maybe a quick sample in the main README.md.

[2017-12-26 06:57] #197 closed

[2018-01-11 22:10] nataly87s commented on #149
It was easier for me to just rewrite everything, so I created a new client
https://github.com/nataly87s/SimpleNatsClient
I still need to add reconnect, and add some more integration tests, but what do you think so far?

[2018-01-11 22:16] sixlettervariables commented on #149
@ColinSullivan1 @nataly87s, we're definitely interested in this as we move into the NATS Streaming realm. I'm going to take a look too!

[2018-01-12 02:21] ColinSullivan1 commented on #149
@nataly87s, Thanks!  I'll dig in...

Upon a quick first pass, would it help if we exposed some of the NATS.Client connection internals for you to use?  You'd be able to leverage reconnect, asynchronous info updates, ping/pong (heartbeats), the flush timer, etc, and you'd be insulated from possible future protocol updates.  Also, much of the lower level NATS connection code has been highly optimize

[2018-01-12 02:31] nataly87s commented on #149
It was kinda hard to use the NATS.Client connection because the structure was not really suited for RX.
But I implemented everything with RX, so all of the async stuff is pretty easy, and no need for locks and stuff like that.
I will also add some benchmarks to check the performance, but so far the tests look good.

[2018-01-12 22:31] ColinSullivan1 commented on #193
Closing due to inactivity.

[2018-01-12 22:31] #193 closed

[2018-01-12 22:33] ColinSullivan1 commented on #184
@highfield , any news on this issue?

[2018-01-12 22:34] ColinSullivan1 commented on #180
Closing due to inactivity.  Feel free to re-open if you still run into issues here.

[2018-01-12 22:34] #180 closed

[2018-01-12 22:36] ColinSullivan1 commented on #177
Closing due to inactivity.  Feel free to re-open if you are still encountering problems with TLS.

[2018-01-12 22:36] #177 closed

[2018-01-13 03:51] highfield commented on #184
@ColinSullivan1 shame on me for the delay!
Well, I basically forked the project and have rewritten most from scratch. I only hope you won't hurt because that! The original base is and will be by Apcera, as well copyright and license.
My work is almost done, and it will be online (public) in a few weeks. It had took much more time than expected because I must manage other projects at same time.

[2018-01-13 21:57] nataly87s commented on #149
I think I finished the client.
What do you think about it? Is anything missing?

[2018-01-15 14:01] sixlettervariables commented on #149
@nataly87s I have some questions about it, are you on the NATS slack?

[2018-01-15 14:03] nataly87s commented on #149
@sixlettervariables No, but I can join if you send me an invite

[2018-01-15 16:25] ColinSullivan1 commented on #149
@nataly87s , I'll take a look - thanks!  I've sent you a slack invite.

[2018-01-22 21:36] ColinSullivan1 commented on #149
@nataly87s , very clean code, well done.  Are you sure there isn't way to extend the core NATS client for use under your RX assembly here?  I know we'll have some protocol updates coming, and there are a number of useful client features that are built into the core NATS connection and subscriptions.  Would be happy to extend you'd need...

[2018-02-12 20:59] ColinSullivan1 opened #201 "Allow the client to infinitely attempt to reconnect"
Allow setting maximum reconnects to a value (-1) that represents infinite, to continually trying to reconnect.

[2018-02-23 16:52] ColinSullivan1 commented on #196
I'm closing this issue - please reopen if you are still encountering errors.  We can see this when a large number of clients attempt to connect to the NATS server simultaneously using TLS, or when the server is on a machine without enough CPU resources to handle the incoming TLS requests.  The server times out, and sends an error back to the client while the client is still negotiating TLS.  The c

[2018-02-23 16:52] #196 closed

[2018-02-23 20:21] plaisted opened #202 "Performance of concurrent Request/Reply"
I've was working on a basic RPC setup with NATS.Client and found large performance degradation using the built in Request feature if the connection is shared for multiple concurrent requests.

The basic code per concurrent request stream is essentially:
[code]

If only one task is spawned I get an average round trip of under 1ms (0.6-0.7 typically).

If I spawn 10 tasks running, the average is app

[2018-02-24 00:10] ColinSullivan1 commented on #202
@plaisted , thank you for raising this!  Your code looks straightforward to me; I'll take a look.  Which version are you running?

[2018-02-24 00:23] plaisted commented on #202
I installed the latest Nuget earlier today. I'll check later when I have access to the servers I was testing on. Thanks for quick response.

[2018-02-24 01:45] plaisted commented on #202
Running on Windows 10x64.
nats-server version 1.0.4
NATS.Client 0.8.0

[2018-02-24 04:15] ColinSullivan1 commented on #202
Absolutely.  I'll be out of my office over the weekend so this may take a few days, but I'll try to get to this ASAP.

[2018-02-24 04:24] plaisted commented on #202
Very simple async subscriber with a publish/flush mirroring an example. I
tried multiple subscriber apps on the same queue at the same time without
significant change in round trip time so appears to be on the request side.

On Feb 23, 2018 10:22 PM, "Colin Sullivan" <notifications@github.com> wrote:

[2018-02-24 04:53] ColinSullivan1 commented on #202
@plaisted, I have a few suggestions for your test.

First, Could you aggregate the tasks and then await on them outside of the loop?  Here it looks like you'll be waiting on each request before making the next.  Some code that does that can be found [here](https://github.com/nats-io/csharp-nats/blob/v0.8.0/NATSUnitTests/UnitTestBasic.cs#L510).

Also, do you have enough subscribers servicing the re

[2018-02-25 19:02] plaisted commented on #202
FYI I found a workaround but will response to your specific questions.

The waiting on each request is on purpose. I loop through a few thousand requests to get an average on the round trip time. The concurrency comes in by spawning multiple of the shown `Run()` Tasks at the same time. I've been using this same style of benchmarking for the other frameworks I've tested, it's to mimic the artillery

[2018-03-14 12:51] nxtbr opened #205 "After some days running well my subscription goes down and works again only after a restart"
Hello guys,

I have 8 worldwide servers and 1 load-balacing api. Our server is a small VPS running Ubuntu. At each server we have an small service written in C# to publish an info about it's network bandwith usage in Mbps each 2.5s. So, our load-balacing, C# too, subcribe NATS and get the servers load and redirect the clients.

After some days running well the subscription is marked as slow and wo

[2018-03-14 12:58] sixlettervariables commented on #205
What does `S_MessageHandler` look like?

[2018-03-14 13:28] nxtbr commented on #205
static void S_MessageHandler(object sender, NATS.Client.MsgHandlerEventArgs e){
        var json = UTF8.GetString(e.Message.Data);
        var svr = JsonConvert.DeserializeObject<Models.Server>(json);

       _cache.Set(svr.Id, svr, CACHE_ABSOLUTE_EXPIRATION);
}
It works well for days... when it stops I take a look at "connz" nats monitor endpoint and, sometimes, it is not connected, sometimes, it

[2018-03-14 14:38] sixlettervariables commented on #205
We currently do not hook into Disconnected/Reconnected for anything other than logging. We leave all subscriptions as-is. Our product doesn't run across a WAN as yours does, but it has run untouched for upwards of a year at our two sites, with no known restarts due to NATS.

[2018-03-14 16:19] ColinSullivan1 commented on #205
@nxtbr , Thank you for using NATS!

To answer your question, about flow, the events are fired as follows:
* `Disconnected` - fired anytime the client has unexpectedly lost a connection to the server.  This is where you might log, pause publishing, etc.  It's not necessarily permanent - the client could reconnect.
* `Reconnected`- after being disconnected, once the connection has been reestablished

[2018-03-14 17:30] nxtbr commented on #205
@ColinSullivan1 tks so much for your answer.

I will review my code considering the event flow and the @sixlettervariables feedbacks and, later, I update you guys.

One last question, creating a Cluster of NATSs server distributed near to our servers would help somehow?

[2018-03-14 18:24] ColinSullivan1 commented on #205
@nxtbr , I'm not entirely clear what you are asking, but usually you'll want a NATS server close to your application if you can - e.g. same cloud region, datacenter, etc.  This is especially true If your WAN is slow or unreliable (has frequent connection issues).

[2018-03-14 18:39] nxtbr commented on #205
@ColinSullivan1 i was thinking about if, ie, with servers in Tokyo, Paris, Miami and Brasilia a clusters of NATSs in LA, Brasilia and Paris would bring more stability than only 1 in Dallas?

[2018-03-14 19:12] ColinSullivan1 commented on #205
@nxtbr , it could, for sure.  You could have NATS servers in each city, clustered over the WAN.  It depends on your use case, but through some usage of your subject namespace, you could also minimize traffic across your WAN through defining regional subjects and global subjects, assuming you have some traffic that doesn't leave a particular server.

For your case, if you prefix your subjects with

[2018-03-16 18:21] ColinSullivan1 commented on #148
Upping the priority on this, will dedicate time to move to .NET standard 2.0, and visual studio 2017 in the next few weeks.

[2018-04-24 07:52] dannyyy opened #209 "NATSNoServersException if connecting from .NET Core 2.0"
Hi,

I'm facing the issue, that connecting from a .NET Core 2.0 console application, no connection can be established. I got always a "NATSNoServersException" with the reason "Unable to connect to server". If I connect from a .NET 4.6.2 console application with the absolutely same source code all is going well.

Is there any known issue about this? By the way I'm using the NuGet Package 0.8.0 whic

[2018-04-24 15:26] ColinSullivan1 commented on #209
Hi Danny,

Thank you for using NATS, and for raising this issues.  There is no known issues in this area...  can you provide verbose server output from a time when this happens?  To do this, run the NATS server with the `-DV` flag, e.g. `gnatsd -DV`

Master branch will be more up to date, but v0.8.0 should be stable.

Thanks,
Colin

[2018-05-03 11:35] maksimenko-stanislav opened #210 "NATS client mixes up replies in case of concurrent requests"
Hello,

We use NATS and its C# client intensively in our project. Some time ago we started to do load tests and discovered that replies received using IConnection.RequestAsync may not match source requests. I attached an example ([NatsRequestReplyIssue.zip](https://github.com/nats-io/csharp-nats/files/1970586/NatsRequestReplyIssue.zip)) for reproducing such case.

In short, steps to reproduce:

1.

[2018-05-11 13:53] #210 closed

[2018-05-16 14:58] ColinSullivan1 commented on #184
@highfield , No hard feelings at all.  Just following up - is this your assembly [here](https://github.com/highfield/Cet.NATS.Client)?  Looks great, and we can certainly link to it on our website.

[2018-05-21 21:56] cjbhaines commented on #156
+1 for looking at Paket, it's awesome!

I could look at doing this for you once the project is moved to the new .NET SDK in #148 , I've recently done it for some internal projects. Paket doesn't work with the DNX build system because there are no build hooks so that is a prerequisite.

[2018-05-21 22:34] ColinSullivan1 commented on #156
@cjbhaines , that would be great, we'd love a contribution in this area!

I just merged changes to move to VS 2017 Community (MSBuild 15), so that shouldn't pose a problem anymore.

[2018-05-29 17:59] #205 closed

[2018-06-04 21:30] sfrooster commented on #201
@ColinSullivan1 I thought you mentioned this was fixed or would be soon?  Is it?  If so, has it made its way to a nuget?

[2018-06-05 16:44] ColinSullivan1 commented on #201
Not yet, I'm lining up both .NET clients for releases soon.  It's not fixed yet, I'll add it before I release.

[2018-06-13 21:12] ColinSullivan1 commented on #209
I'm going to go ahead and close this - if you a still encountering this problem, please feel free to re-open this issue.  Thanks!

[2018-06-13 21:12] #209 closed

[2018-06-14 20:22] ColinSullivan1 commented on #201
Resolved with #217

[2018-06-14 20:22] #201 closed

[2018-07-09 17:06] ColinSullivan1 commented on #148
@basingh89, I wanted to follow up, is this still an issue?

[2018-07-11 21:33] ys-zhao opened #222 "Needs to set timeout to StreamReader"
When Nats server is stuck, sr.ReadLine() won't return, needs to pass Options.Timeout to readOp()

https://github.com/nats-io/csharp-nats/blob/d1b1ec379a865ebafc742e0707dc57871fbb7ff6/NATS.Client/Conn.cs#L1298

[2018-07-12 15:04] ColinSullivan1 commented on #222
@ys-zhao , Thank you for raising this issue, I'll take a look.

[2018-07-25 14:18] basingh89 commented on #148
I don't have the need anymore. @ColinSullivan1 thanks for checking.

[2018-07-25 15:56] ColinSullivan1 commented on #148
@basingh89 , thanks.  If it ever does become an issue again, please feel free to re-open.

[2018-07-25 15:56] #148 closed

[2018-07-27 07:59] mabzd opened #224 "Multiple connections in multithreaded environment fail"
Tried to use multiple NATS clients in multithreaded environment, but connections are failing with `Invalid connection` or `Connection Request Time out` when number of items scheduled in thread pool is above 6 (the number varies between 6 and 13).

This is my test code:

[code]

Which produces following output:

[code]

I have nats-streaming-server version 0.10.2 running on my local machine (window

[2018-07-27 10:00] mabzd opened #225 "StanConnectRequestTimeoutException leaves client in invalid state"
After `StanConnectRequestTimeoutException` is thrown client is in invalid state with resources hanging in the void. This prevents application from closing gracefully.

[code]

After executing this code application stays open. My machine runs Windows 10 64-bit with nats-streaming-server 0.10.2.

[2018-07-27 15:43] ColinSullivan1 commented on #225
@mabzd , thank you for raising this issue.  I've moved it to the csharp-nats-streaming repository as https://github.com/nats-io/csharp-nats-streaming/issues/73

[2018-07-27 15:44] #225 closed

[2018-07-27 15:49] ColinSullivan1 commented on #224
@mabzd Thanks for raising this; yes connection creation was intended to be be thread-safe.  I've moved this issue to the csharp-nats-streaming repo as https://github.com/nats-io/csharp-nats-streaming/issues/74

[2018-07-27 15:49] #224 closed

[2018-08-02 07:43] markusr opened #226 "[Linux] Disconnected Event Handler does not work"
I am testing the ```DisconnectedEventHandler```.

I use the following test procedure:
1. Start ```gnatsd```
2. Start dotnet program and let it run for some seconds and check that messages are published
3. Stop ```gnatsd``` (CTRL + C)

I expect that after some time the ```DisconnectedEventHandler``` is thrown, which is not the case.

[code]

I am using dotnet core under ubuntu 16.04

[code]

[code]

[2018-08-02 14:56] ColinSullivan1 commented on #226
@markusr , thank you for using NATS and raising this issue.

What could be going on is that the client library is still attempting to reconnect.  By default it will attempt to reconnect 60 times, with up to a two second delay between reconnect attempts.  You can either wait a few minutes to iterate through the reconnect attempts, or to quickly test this functionality you can disable reconnect func

[2018-08-02 17:15] markusr commented on #226
@ColinSullivan1

Not Really. I want to know if the client is connected to the server or not. So if the client can expect to receive SUB messages.

I tried several points:

## Reduce reconnect time (and tries)
I added:
[code]
So here the DisconnectedEventHandler should be thrown after 20 ms (or 30 ms). This does not happen.

## Disable reconnect time (and tries)
[code]
Also no DisconnectedEventHand

[2018-08-06 17:29] ColinSullivan1 commented on #226
@markusr , I'll take a look...

[2018-08-06 21:20] ColinSullivan1 commented on #226
@markusr , I ran your initial example code (.NET core on windows, 2.0.7) and it worked for me...

ctrl-C the server...
[code]
Restarted the server, the client reconnected, then killed the server again...
[code]

The `args.Conn.ConnectedUrl` value will be `null` after being disconnected, so that is expected behavior.

I added a reconnect handler to verify:
[code]

Here is the output after bouncing

[2018-08-07 12:39] markusr commented on #226
[code]

[2018-08-22 11:34] mberginbh opened #227 "Request-reply holding onto reference"
Seems the reply message isn't freed when using a long timeout on `IConnection.Request`:

[code]

Sample output:

[code]

This is with Core 2.1.

Edit:

I think this comes from the CancellationTokenSource allocated in the InFlightRequest ctor not being disposed (which would dispose the timer callback that ultimately holds onto the reply message).

[2018-09-05 20:17] ColinSullivan1 commented on #227
@mberginbh , thank you for using NATS and for raising this issue.  I really appreciate the test code, and think you may be onto something with the CancellationTokenSource.

[2018-09-06 10:13] markusr commented on #226
@ColinSullivan1 Any updates on this?

[2018-10-05 18:41] plaisted opened #230 "Netcore performance improvements"
Recent netcore releases (2.1) have had some large improvements in performance (specifically sockets) and added lots of features to help improve performance of a library like this (Span<T> and Memory<T> as low level building blocks but also libraries like System.IO.Pipelines and System.Buffers built on top of these).

Adding an issue to get this on the radar. Refactoring to use these and support ne

[2018-10-09 15:19] luposky opened #231 "Parallel Requests"
I don't understand if this is a bug, or I am just using the client library in a wrong way ...
The scenario is that I have a service task (connection1 in this example) that reply to request from various source in parallel.
When I have just a normal "for" loop for connection2, all went fine, but If I use Parellel.For strange exception happens and the responses are wrong. I eventually get the message

[2018-10-11 18:33] ColinSullivan1 commented on #230
@plaisted , thanks for the issue.  Moving forward, we'll keep this in mind.

[2018-10-11 18:36] ColinSullivan1 commented on #226
@markusr , My apologies, I missed this.  I wasn't able to reproduce this, but will take another look at your test code.

[2018-10-11 19:20] ColinSullivan1 commented on #226
I just tried and it worked for me.  I've uploaded the project and source so you can give it a shot:  [disconn_test.zip](https://github.com/nats-io/csharp-nats/files/2470376/disconn_test.zip).  This uses NATS.Client 0.8.1.

[code]
Here's the output...

[code]

How does this work for you?

[2018-10-11 20:03] ColinSullivan1 commented on #231
@luposky , Thanks for using NATS, and creating this issue!  I'll take a look.  It sounds like there could be a race condition in the encoded conn someplace.

[2018-10-11 21:43] ColinSullivan1 commented on #231
@luposky , I did find some threadsafety issues in encoded connections, and will fix them.  We made some changes around requests awhile back and I missed how it could effect the encoded conn.  Truthfully, I've been thinking of deprecating the encoded connection.  Thanks again for raising this issue.   In the meantime, here is code that does the same thing using a standard NATS connections that you

[2018-10-12 08:01] luposky commented on #231
thank you @ColinSullivan1 very appreciated !

[2018-10-12 12:35] markusr commented on #226
@ColinSullivan1
The problem is with Linux (or the socket handler part in dotnet core specific to linux):

I compiled with
[code]
and run it under a (virtual) Windows 10. The code works as expected.

Then I did the same under Ubuntu 18.04.
[code]
and it does not work.

I am not sure what to do next.

[2018-10-15 17:30] #231 closed

[2018-10-15 17:31] #227 closed

[2018-10-15 17:48] ColinSullivan1 commented on #226
@markusr , I'll take a look.  Unfortunately, this sounds like a bug in .NET core.

[2018-10-15 20:43] ColinSullivan1 commented on #226
@markusr , My assumption right now is that .NET core socket reads aren't breaking out with an exception when the server's TCP connection is broken, and we are dealing with very long OS timeouts here to detect the broken connection.  I started the test, bounced the server, and then left the test running:

[code]

So, the client did reconnect, but after an unacceptable 6+ minute timeout.  I'll look

[2018-10-15 22:47] ColinSullivan1 commented on #226
@markusr , I've been experimenting a bit, and unfortunately, our default settings depend on a quick detection of connection errors by the OS/.NET SDK.

The good news we have client-side options that can help here, namely [Options.PingInterval](http://nats-io.github.io/csharp-nats/class_n_a_t_s_1_1_client_1_1_options.html#a5b593b856ab2b9df03637efdffff135c) and [Options.MaxPingsOut](http://nats-io.g

[2018-10-16 08:14] markusr commented on #226
@ColinSullivan1 Thank you a lot for looking into this issue.

 I can reproduce your findings:
- The disconnected event is called after ~6 minutes. I didn't wait that long on my tests before. I always stopped after 1 or 2 minutes.
- Setting ```PingInterval``` and ```MaxPingsOut``` to what you suggested has the desired effect that the event is called after 3 seconds.

Should we close this issue or d

[2018-10-16 16:18] ColinSullivan1 opened #235 "On Linux with Dotnet core 2.1, broken connections do not raise errors"
When the server is killed on linux (Ubuntu 18.04), Dotnet 2.1 core 2.1 does not throw an exception when reading from a network stream.   On Windows 10 it does.

The workaround is to use client-side options, namely [Options.PingInterval](http://nats-io.github.io/csharp-nats/class_n_a_t_s_1_1_client_1_1_options.html#a5b593b856ab2b9df03637efdffff135c) and [Options.MaxPingsOut](http://nats-io.github.i

[2018-10-16 16:19] ColinSullivan1 commented on #226
@markusr , I'm glad the workaround worked for you.  I've created another issue to track this and referenced this one so we can close.  Again, thanks for your patience.

[2018-10-16 16:19] #226 closed

[2018-10-17 14:59] mawelsh opened #236 "Memory leak on failed connection attempts."
In operation I would like to be able to leave applications running prior to starting the NATS server that expect to see one at some point in their life.  Currently I have a loop:

[code]

natsConnection remains null on failure but the memory usage steadily grows with each attempt.  the memory is not returned on a successful connection.

[2018-10-17 15:35] ashalabad commented on #202
I just ran provided tests with new client version 0.8.1 and results are quite alarming for 10 workers:
Single ave: 14.347
Success: 99.700%
Single ave: 14.666
Success: 99.800%
Single ave: 14.713
Success: 99.700%
Single ave: 14.783
Success: 99.700%
Single ave: 14.79
Success: 99.600%
Single ave: 14.788
Success: 99.700%
Single ave: 14.866
Success: 99.700%
Single ave: 14.881
Success: 99.700%
Single ave

[2018-10-17 15:37] ashalabad commented on #202
It's NET Core 2.1 , i7-6500U, 16Gb 2.5GHZ

[2018-10-20 03:47] BenDerPan commented on #236
I meet a problem may due to this: when my program running for a long time, the message receive will become duplicated, for example: A send "Hello" once to B , B will receive more than one time, and I step into code, found A call MessageHandler more than one time , even though I A just send once.

[2018-11-19 16:52] mawelsh commented on #236
I guess the other question would be is there a more preferred way to startup a service and wait/watch for a NATS server to come online that doesn't memory leak?

[2018-11-19 16:58] TheVonguru commented on #236
We could use this fix too

[2018-11-23 06:52] ramasa opened #237 "Authorization on _INBOX.>"
Please provide option to specify custom inbox prefix (say _INBOX.client1) , so that below authorization rule would prevent client from listening to other's response (_INBOX.>)

[code]

Server is using java client and our customer using .NET
More context here https://github.com/nats-io/java-nats/issues/192

[2018-11-24 14:39] sixlettervariables commented on #237
If I understand you correctly, you'd like to be able to change the inbox prefix per client; perhaps like so:
[code]

[2018-12-17 18:58] kiates opened #239 "Subscriber usage text is wrong"
The subscriber usage text has left overs from copy-paste from Publish.

[2019-01-07 16:31] ColinSullivan1 commented on #235
@robertmircea, Thanks for letting us know you're having an issue.  I'll take a look - likely later this week.  I highly suspect this is a .NET core issue, but there may be ways to mitigate or fix this behavior with socket configuration.

[2019-01-18 06:35] robertmircea commented on #235
Hi Collin,

I have solved the mystery. It seems that STAN.Client package v0.1.4 (latest) which I used has a dependency to NATS.Client 0.7.1. This NATS client pacakge version has this bug that I am experiencing. In my project, I didn't explicitly add NATS.Client as a library in my csproj file and STAN.Client was loading NATS.Client 0.7.1.

I have explicitly added in csproj:
`<PackageReference Inclu

[2019-02-14 08:57] lorenzoisidori21 opened #244 "How can I make durable queue group subscriptions?"
Is there a way to create a durable queue group subscription? I read all the documentation but I didn't find a way to do this.

[2019-02-17 12:52] alancapc opened #246 "Add extension method for Nats services DI"
Is it possible to have an extension resolving the service bus for us?
e.g.:
[code]

[2019-02-22 14:44] lorenzoisidori21 commented on #244
This NATS client, works with NATS Server. Nats Server does't support durable subscription. Nats Streaming Server supports durable subscription, so I was using the wrong product.

[2019-02-22 14:44] #244 closed

[2019-02-26 05:59] camp-007 opened #247 "RequestAsync on IEncodedConnection"
I've noticed that IConnection has a RequestAsync() method.  However, IEncodedConnection does not.  Is this intentional?  EncodedConnection inherits from Connection, so this method is implemented on EncodedConnection, however, since ConnectionFactory.CreateEncodedConnection() returns IEncodedConnection, it prevents me from calling RequestAsync() (at least without using a cast that assumes the imple

[2019-02-26 06:26] camp-007 opened #248 "Should IConnection be a singleton in an asp.net app?"
Hello,

I'm new to the C# NATS client and I'm curious about the proper/recommended way of using IConnection.  In an asp.net application that needs to publish messages, should every request use ConnectionFactory.CreateConnection() and use/dispose the connection as a transient object?  Or is it preferable to have a singleton instance of IConnection that all threads/requests share?

I've noticed that

[2019-02-26 14:00] sixlettervariables commented on #247
@camp-007 Async code came along later in the library, and EncodedConnection does not seem to get the same amount of usage as a normal connection with custom serialization. Is EncodedConnection your only choice, or could you wrap the connection and use that instead?

[2019-02-26 14:02] sixlettervariables commented on #248
I can't speak to all usages of NATS with ASP.Net, but we use a single IConnection. We've not noticed any real performance issues with this, but we're not pushing any more than maybe 50-100 messages a second at peak.

[2019-02-26 14:14] watfordgnf commented on #239
Closed by https://github.com/nats-io/csharp-nats/commit/8a6c29d6550b68688d9f9e10956123804e7130ff

[2019-02-26 14:14] #239 closed

[2019-02-26 18:52] camp-007 commented on #247
Yes, after looking at the source for EncodedConnection and realizing there is no magic there, I found it even preferable to just create some serialization extension methods on IConnection instead.  Thanks for the feedback!

In case anyone else is interested, something like this seems to do the trick nicely:

[code]

[2019-02-26 18:52] #247 closed

[2019-02-27 14:12] watfordgnf commented on #246
Would you envision this as a singleton? Transient? Scoped?

[2019-03-01 05:03] #248 closed

[2019-03-21 04:37] ikkyuland opened #249 "Multi subjects for SubscribeAsync"
I have issue with C# SubscribeAsync when I subscribe to a lot of subject (cannot use wildcard) it use too many thread to handle. (for my understand 1 SubscribeAsync create 1 thread)
[code]
In Java Nats I found  io.nats.client.Dispatcher it can add more subscribe to same Dispatcher
[code]
I want to subscribe around 5000 subject
reason is I want nats to handle routing (remember who subscribe what su

[2019-03-21 22:18] ColinSullivan1 commented on #249
@ikkyuland , Thank you for using NATS!

You'll want to look at using the [SubscriberDeliveryTaskCount](http://nats-io.github.io/csharp-nats/class_n_a_t_s_1_1_client_1_1_options.html#a030dfa5eac04072735d7529147d5c562) connection option to reduce the number of tasks handling subscriptions.

There's a bit more about that [here](https://github.com/nats-io/csharp-nats/issues/139#issuecomment-263314039)

[2019-03-22 02:25] ikkyuland commented on #249
@ColinSullivan1 , it work!
Thank you very much :)

[2019-03-22 02:25] #249 closed

[2019-03-29 06:42] nithinkd-geon opened #250 "intermittent Authentication failed because the remote party has closed the transport stream error"
hello

when trying to connect with NATS server on  TLS mode  there is an intermittent error throwing from
servers randomly
the error saying  that  Authentication failed because the remote party has closed the transport stream

[2019-04-01 09:00] nithinkd-geon commented on #250
most probably  due to tls timeout configured in server closing now

[2019-04-01 09:00] #250 closed

[2019-04-01 09:04] nithinkd-geon opened #251 "disable sending message during reconnect"
hello

how can i disable sending messages after reconnect  that are created during connection lost

currently published messages are buffered when there is no connection with server and  send immediately after the successful re connection

like this one
https://github.com/nats-io/java-nats/issues/138

[2019-04-01 17:04] ColinSullivan1 commented on #250
OK, glad you're figuring it out.  If you continue to have issues, feel free to reopen.

[2019-05-09 20:59] ColinSullivan1 commented on #251
At the moment you can't; we'll add it as a feature in the next release.

[2019-05-09 22:26] ColinSullivan1 opened #252 "Support for drain mode"
We need drain functionality added to this client.  This should mirror the go functionality found in https://github.com/nats-io/go-nats/pull/378.

External APIs:
`Options.DrainTimeout` Property.  Default of 30s.
`ISubscription.Drain()` - Unsubscribes, and drains (processes) all buffered messages for the subscriber.

`IConnection.Drain()` - Closes the connection and drains the buffer of all of the s

[2019-05-09 23:13] ColinSullivan1 opened #253 "NKEY Support"
We need [nkey](https://github.com/nats-io/nkeys) support in C#, embedded here in this client is sufficient.  Unfortunately, no Interop - we want to remain pure C# with no C dependencies.

Places to look:
https://github.com/CryptoManiac/Ed25519
https://github.com/CodesInChaos/Chaos.NaCl
http://www.bouncycastle.org/csharp/

[2019-05-09 23:18] ColinSullivan1 opened #254 "NATS 2.0 Connect API/Protocol"
Add support for the new NATS 2.0 connection protocol.  This is dependent on #253.

This should mirror the golang functionality:
https://github.com/nats-io/go-nats/pull/399
https://github.com/nats-io/go-nats/pull/405
https://github.com/nats-io/go-nats/pull/408

[2019-05-09 23:19] ColinSullivan1 opened #255 "Update URL parsing allowing to skip scheme and default port"
See:  https://github.com/nats-io/go-nats/pull/381

[2019-05-16 21:08] sasbury opened #257 "docs badge is out of date, needs to be updated to new repo name"

[2019-05-17 18:12] ColinSullivan1 commented on #257
Fixed...  Thanks!

[2019-05-17 18:12] #257 closed

[2019-05-20 22:22] ColinSullivan1 opened #259 "NoEcho Option Support"
See https://github.com/nats-io/nats.go/pull/375

[2019-06-07 20:55] #253 closed

[2019-06-07 20:55] #254 closed

[2019-06-09 00:02] #252 closed

[2019-06-09 19:27] #255 closed

[2019-06-09 20:12] #259 closed

[2019-06-10 20:09] harrisa1 opened #268 "Reconnect can throw an unhandled exception"
During regular usage there was something that caused the nats connection to drop (i.e. a network blip).  After this the client tried to reconnect and when it did it hit an exception
[code]
Looking at the above I am guessing that a ConcurrentQueue would probably serve better since the collection can be modified while enumerating.

[2019-06-11 12:55] watfordgnf commented on #268
`pongs` appears to be covered by the `mu` lock. It would be good to know how `pongs` was altered outside of `mu`.

[2019-06-14 10:38] per-ove opened #269 "Is the behavior changed regarding DissconnectedEventHandler in version 0.9.0?"
Tested with NATS Server version 1.04.
I have an application where I have registered eventhandlers for Options.ReconnectedEventhandler and Options.DisconnectedEventHandler.

If I stop and restart NATS server process and using the  0.9.0 client version.
None of the handlers is invoked.
But they are invoked using 0.8.1 client version.

[2019-06-24 20:46] coffeefedora opened #270 "cannot build in vs 2015 and .net 4.5"
Opening NATSnet45, and attempting to build.

I get many errors, and it appears it is reference code written for .net Core maybe?

like so:
Options.cs, line 578:
public bool NoEcho { get => noEcho; set => noEcho = value; }
error is "not all paths return a value"  and the entire expression is highlighted, it does not appear to like the => syntax.

also in Options.cs, line 130:
UserJWTEventHandler =

[2019-06-24 20:46] watfordgnf commented on #270
What version of Visual Studio / C# compiler are you using?

[2019-06-24 20:55] coffeefedora commented on #270
Visual studio 2015. professional.  standard C# compiler.

[2019-06-24 21:00] watfordgnf commented on #270
I believe Visual Studio 2015 stops at C# 6.0 language features in the IDE support. Visual Studio 2017 picks up with C# 7.X support (which includes expression bodied properties and throw expressions).

[2019-06-24 21:02] coffeefedora commented on #270
ah.  ok.  thanks.

[2019-07-02 07:10] anjmao opened #271 "Some published messages are lost while reconnecting"
If connection to server is lost some messages are not flushed from internal pending messages buffer so they are lost. I created repro with latest nats.net source code here https://github.com/anjmao/nats-test-net-core/blob/master/Program.cs#L26

Steps to reproduce

1. `git clone git@github.com:anjmao/nats-test-net-core.git`
2. `docker-compose up -d`
3. `dotnet restore`
4. `dotnet run`
5. After some

[2019-07-03 07:46] anjmao commented on #271
After doing some more investigation I found this difference in .net and go clients.

Go client is calling processOpErr before publishing new message when there is no connection.
[code]

.NET client is getting processOpErr only after few messages which are already published while no connection to server. This is why it is losing these messages since on call to processOpErr buffer is cleared and swi

[2019-07-23 14:56] ColinSullivan1 commented on #271
@anjmao , Thank you for the research and detail here.  Great information - ideally, the clients should behave the same.  Note that with any core NATS clients (including go), messages can be dropped upon disconnect.  There's an effort to buffer, but still no guarantee of delivery.   If you require at least once delivery, you'll want to look into NATS streaming.

[2019-07-23 15:34] #270 closed

[2019-07-23 15:36] ColinSullivan1 commented on #269
Nothing should have changed in this area, and unit tests requiring these to be invoked are passing.  Do you have an example application?

[2019-07-24 06:24] anjmao commented on #271
@ColinSullivan1 Thanks. Indeed this is a problem with TCP. Stan client works fine and I was able to use stanConn.PublishAsync(..) and wait for ack from the server.

[2019-07-24 06:24] #271 closed

[2019-07-31 07:00] SonicGD opened #272 "Nats.Client can't connect to IPv6 server on .net core < 3.0"
Hello. I'm facing problem with connecting to nats server via ipv6.

[code]
it crashes with exception
[code]
As i understand, problem is here - https://github.com/nats-io/nats.net/blob/master/NATS.Client/Conn.cs#L427. By default TCPClient created with AddressFamily.InterNetwork which is IPv4 only. If i change this line to
[code]
than it can connect to ipv6 nats without problem.

More interestingly,

[2019-07-31 13:33] watfordgnf commented on #272
Does the following work on 2.2?
[code]
This would use all available IP Addresses for the connection.

I don't believe that `Dns.GetHostAddresses` returns `null` in the case of a problem, I think it throws an exception.
[code]
It does look like it could return an empty array if only IPv6 addresses were available on an IPv4 only machine.

[2019-08-01 04:44] SonicGD commented on #272
No, it doesn't. To get it work we still need to specify family address

[code]

[2019-08-01 15:54] ColinSullivan1 commented on #272
Thank you for looking into this, much appreciated.  The option above looks feasible.  I'm also wondering if we should stick to whatever the .NET framework defaults to, but add an option to override the AddressFamily.

[2019-08-08 20:11] israellot opened #273 "Async subscription should set to be run on the thread pool."
`internal void enableAsyncProcessing()
        {
            if (ownsChannel && msgFeeder == null)
            {
                msgFeeder = new Task(() => { conn.deliverMsgs(mch); },
                    TaskCreationOptions.LongRunning);
                msgFeeder.Start();
            }
            started = true;
        }`
I believe this msgFeeder task should be explicity run on the default TaskS

[2019-08-08 20:38] ColinSullivan1 commented on #273
@israellot , First Thank you for using NATS!  I appreciate the report, this is the first time I'd heard of this - and that code has been in there for quite awhile.  I'm glad you have a workaround - I'll take a look in the next few days, am planning on dedicating some time tomorrow or this weekend for .NET.

[2019-08-08 20:39] watfordgnf commented on #273
@ColinSullivan1 I'm working on a fix right now. We've got quite a few usages of Task that would also benefit from a fix.

[2019-08-08 20:41] ColinSullivan1 commented on #273
Awesome, thanks @watfordgnf, appreciate it!

[2019-08-08 21:12] israellot commented on #273
Thanks for the fast response and action.
And thanks for NATS!

[2019-08-09 05:27] jmptrader opened #274 "Xamarin using NATS.NET"
Hi ,

You know if is possible integrate nats.net into a Xamarin App ?

In order to replace SignalR layer for functions pub/sub ...

Thank's

[2019-08-12 13:50] #273 closed

[2019-08-12 14:25] ColinSullivan1 commented on #274
@jmptrader, I'm not aware of any limitations, but haven't personally tried it myself.  The .NET core code is has a target framework of .NET standard 1.6, so you should be OK.

https://docs.microsoft.com/en-us/dotnet/standard/net-standard

If anyone in the community has experience with NATS.net and Xamarin we'd appreciate any input!

[2019-08-12 20:02] watfordgnf commented on #272
I'm unable to get the fix working unfortunately, hung up on possibly a toolchain issue, but I'm not sure: https://github.com/dotnet/standard/issues/1431

[2019-08-15 02:34] tanwarsatya commented on #272
After Windows 10 KB4512508, the client cannot connect to nats server with default options, using .Net core 2.2. It was working before the update and suddenly not able to connect to nats://localhost:4222

[2019-08-15 13:13] jmptrader commented on #274
Thanks @ColinSullivan1 , with my team we will test this asap!

[2019-08-15 15:57] ColinSullivan1 commented on #272
This is no good.

imo, there are a few options until the issue is resolved in .NET core...  There is the simple way to expose an option to override the default address family.  Likely only InterNetwork and InterNetworkV6 will work, but we never know what could be coming up in the future.  A drawback is that it may require code changes.

If the default fails, we could keep trying to connect looping

[2019-08-17 21:37] jmptrader commented on #274
@ColinSullivan1 , I can confirm that NATS.net in an Xamarin application works fine. We are using in our prototype netstandard 2.0 and Xamarin.Form Version 4.0.0. Thank so much.

[2019-08-17 21:37] #274 closed

[2019-08-19 15:17] DeployChef opened #276 "Setting multi-lines URLS for STAN servers"
For example, I setted:
`
Options.NatsURL = "nats: //127.0.0.1: 4222, nats: //127.0.0.1: 4223, nats: //127.0.0.1: 4224";
`
It is not a valid value because the connection string is not parsed when you called stan connection factory.
When a factory is called from STAN, the Nats factory method is called where there is no call to `opts.processUrlString (url); `
Thus, the string is not parsed.

This lea

[2019-08-19 15:20] DeployChef opened #277 "Auto reconnect"
When I connect to the cluster, when I disconnect one node but continue the producer to send messages to it, I get a TimeOut Exception.
Please, tell us how to make the Stan client automatically reconnect to other live nodes of the cluster.

[2019-08-19 16:08] ColinSullivan1 commented on #276
@DeployChef , Thank you for raising this issue.

This was an issue but has been resolved, see https://github.com/nats-io/stan.net/pull/125.  We haven't cut a release with the fix yet, but I'll look into doing so soon.

In the meantime, you can setup a core NATS connection, and then pass it to the STAN client.  This is what will be required later if you want to enable TLS.

An example of creating a

[2019-08-19 16:10] ColinSullivan1 commented on #277
@DeployChef, thanks for asking, I responded in the stan.net repository, [here](https://github.com/nats-io/nats.net/issues/276#issuecomment-522645473).

Thank you for using NATS!

[2019-08-19 16:11] #277 closed

[2019-08-20 13:19] watfordgnf commented on #272
Looks like because we reference .NET Standard 1.3 and not something later like 1.6, we can't use the non-async versions:

https://github.com/dotnet/standard/issues/1431#issuecomment-521779520

[2019-08-20 22:12] ColinSullivan1 commented on #272
We should be referencing `netstandard1.6` in the project files and nuget packaging.  Do you see a 1.3 reference someplace?

[2019-08-20 22:34] ColinSullivan1 commented on #269
I've looked further into this and our tests are passing that use the reconnect/disconnect handler.
https://ci.appveyor.com/project/NATS-CI47222/csnats/builds/26636963/job/8gvhd34lfinx40cm/tests

Can you share more about your OS/.NET version?

Also, how is it you are shutting down the server?  e.g. If stopping docker images, connections can remain open but stale and by default you'll wait quite awh

[2019-08-21 20:10] watfordgnf commented on #272
You're correct, it is the System.Net.NameResolution which references 1.3.

[2019-08-21 20:15] watfordgnf commented on #235
This looks resolved in STAN.Client 0.1.5.

[2019-08-21 20:15] #235 closed

[2019-08-22 15:08] ColinSullivan1 commented on #236
I'm looking into this now.

[2019-08-23 17:14] #236 closed

[2019-08-27 00:51] ColinSullivan1 opened #282 "Handle expiration and auth errors on reconnects."
See https://github.com/nats-io/nats.go/pull/499

[2019-09-11 16:23] RobinsonWM commented on #268
We encountered a crash today that I believe has the same root cause but a different exception.  I wanted to paste it here in case anyone else is searching for this issue.
It is in the same method (`clearPendingFlushCalls()`) as the OP's issue, and it is also caused by access to the `pongs` queue while another thread is mutating it, just from a different line.

[code]

[2019-09-11 16:25] ColinSullivan1 commented on #268
@RobinsonWM , thank you for updating the issue.  This will be addressed soon...

[2019-09-23 05:27] CycoPH opened #285 "ArrivalSubcription: any reason why this field is misspelled?"
In the c# nats client in Msg.cs the 'ArrivalSubcription' field is missing an s in Subscription.
Is this a typo or historic?

[2019-09-23 13:14] ColinSullivan1 commented on #285
This was a typo; thank you for raising the issue!

[2019-09-23 13:16] ColinSullivan1 commented on #269
@per-ove , I'm closing this issue - if you continue to encounter it please reopen this.  Thanks!

[2019-09-23 13:16] #269 closed

[2019-09-25 04:27] CycoPH commented on #285
I made a pull request for a bunch of typo fixes and an Exception bug

[2019-09-29 15:42] ghstahl commented on #184
I don't know if this is related, but I am using the pub/sub examples where I modified it to take in a queue group.  Everything works, so let's do some experiments.   My NATS server is running on windows 10 kubernetes via docker desktop.  I did a port-foward so that my subscriber and publisher can connect.  After sending a few messages through I kill the port-foward.  The subscriber never reconnect

[2019-10-02 08:50] adamples opened #291 "Strong name signing of NuGet packages"
It seems that 0.6.1 was the last version where NuGet package assemblies were strong name signed. Is this intentional? From #48 I understand that the plan was to still sign official packages:

[2019-10-02 09:49] danielwertheim commented on #291
Thanks for reporting.

@ColinSullivan1 I just downloaded the latest package from NuGet and verified with `sn.exe -v` for both the DLLs, that they are not signed.

In the new solution that has been merged to `master` the pipeline build takes care of this: https://github.com/nats-io/nats.net/blob/master/azure-pipelines.yml#L30

I downloaded an artifact from the new pipeline and verified that `sn.exe

[2019-10-03 15:09] ColinSullivan1 commented on #272
We are in the process of making updates that will put us in position to workaround whatever changed in .NET.  Please be patient...

[2019-10-08 17:34] ColinSullivan1 commented on #291
I'd like a few more changes and bug fixes before a 0.9.1 release, if it can wait.

[2019-10-09 14:55] ColinSullivan1 commented on #189
Closing, we're moving to Azure Pipelines.

[2019-10-09 18:26] CrossBound opened #297 "Visual Studio being open impacts performance"
I have a very odd performance issue. I'm using C# NATS.Client package testing benchmarks with a complete request/reply pattern. I have a publisher that simply sends messages and then waits for a reply while the subscriber simply receives the reply and sends back the exact data it received to the reply subject. My benchmarks were very concerning to me because I was hitting very slow times. 17 ms ju

[2019-10-09 18:36] ColinSullivan1 commented on #297
Hmm.  This is odd indeed.  I'm wondering if tasks are being prioritized differently in the different environments - could you be using different .NET framework versions between running in VS and running on the console?  Also, from a console, if you run your tests directly with the `/REALTIME` flag, do you see a significantly different performance difference?

[2019-10-09 18:48] CrossBound commented on #297
Here's a sample application I'm using that is exhibiting the problem.

https://github.com/CrossBound/NATS-Performance-Benchmarking

[2019-10-09 18:50] CrossBound commented on #297
In regard to your comment, this is not debugging vs. running release. In my scenario I'm compiling the release build and runnign it outside of visual studio directly from the command line. After it is already running and while it is running the performance fluctuates if I open/close visual studio. Let me see if I can find a way to record my screen and give you a video of it happening.

[2019-10-09 19:11] watfordgnf commented on #297
I pulled your source and made some small modifications to track the RTT (on the producer side). Here is what I got on my machine without VS open:
[code]
And here is the same run with VS open (I did this a few times):
[code]

[2019-10-09 19:24] CrossBound commented on #297
I understand... it is very confusing. Attached is a video of me showing this in action.

[NATS symptoms.zip](https://github.com/nats-io/nats.net/files/3709085/NATS.symptoms.zip)

[2019-10-09 19:29] CrossBound commented on #297
I actually have discovered it is not tied to VS either. I can't find a common link but other applications seem to be impacting it as well. For example, when I started the screen recording software that did the same thing (caused performance to improve). Does the C# client use some sort of fancy CPU / GPU optimizations that could somehow be impacted by the activity on the machine?

[2019-10-09 19:34] watfordgnf commented on #297
1. How bizarre.
2. No CPU or GPU optimizations.

But what could be happening is foreground vs background. If you remove the `CancelKeyPress` event listener on the producer and consumer side, does that change anything?

[2019-10-09 19:44] CrossBound commented on #297
No, removing it did not help.

[2019-10-09 19:56] ColinSullivan1 commented on #297
Wow!  I have never, ever, ever, seen anything like this.

Did you try starting everything (clients, NATS server) with the `/realtime` flag to see if it's windows task scheduling?

If that doesn't rule it out, if you replace NATS code with something simple - loop that checks for elapsed time (to do work), and then prints the elapsed time 100,000 iterations (or whatever works for you), do you see a

[2019-10-09 20:01] CrossBound commented on #297
How do I set that in the C# client?

[2019-10-09 20:06] ColinSullivan1 commented on #297
No need to in C#, you can from the command line through the start command.  Start will launch your apps in their own console windows.

* start /realtime nats-server.exe
* start /realtime <consumer app>.exe
* start /realtime <producer app>.exe

[2019-10-09 20:17] CrossBound commented on #297
running with start /realtime did not make a difference. I'm still only through putting 30-60 Msgs/Sec

[2019-10-09 20:28] CrossBound commented on #297
that just caused a deadlock.

[2019-10-09 20:31] ColinSullivan1 commented on #297
...I'm really not sure how it would.  I'm busy at the moment, but will try this next.

[2019-10-09 20:31] CrossBound commented on #297
I changed it to use a specified inbox name ("inbox") instead of _connect.NewInbox() and that resolved the deadlock... as a side note, that also seemed to make msgs/sec go crazy (> 22K /sec) so I'm not sure how much of that is caused by the flush or not.

[2019-10-09 20:40] CrossBound commented on #297
Wow, that seems to have resolved the issue. I had to change the inbox because I guess the flush messages were coming in the same inbox name, but now I'm running 7,400+ /sec.... very nice.

Any idea why that fixes the issue?

[2019-10-09 20:51] ColinSullivan1 commented on #297
Great!  The using the result of NewInbox() should have worked, it just creates a unique subject - not sure what happened there.

About the change in performance, I suspect the underlying socket buffers aren't being flushed as expected, and the NATS flush api is pushing out the messages quicker, reducing latency.  I'm not sure why there, but will look into possible causes.  It sounds crazy, but now

[2019-10-09 21:13] CrossBound commented on #297
Thanks for the help.

[2019-10-09 21:13] #297 closed

[2019-10-09 21:13] ColinSullivan1 opened #298 "Soft flush"
.NET network stacks seem be behave differently on different machines - sometimes data is flushed immediately, other times there's a delay.  We need a "soft" flush API to flush the underlying socket buffer without sending a PING in various cases.

This could be a modification of the `Connection.Flush(timeout)` API to accept a `-1`, defined by a constant, e.g. `Soft`?) that will flush the socket buf

[2019-10-09 21:56] CrossBound opened #299 "IConnection.Request performs slower than manual request/reply"
So based on the comment here [https://github.com/nats-io/nats.net/issues/297#issuecomment-540189758](https://github.com/nats-io/nats.net/issues/297#issuecomment-540189758) I tried using the request api. Heres some interesting results. If I use RequestAsync like this:
[code]
I run about ~3,300+ msgs/sec with RTT of 1.12 ms /ea P99. My VS Analysis tools however show some interesting CPU and GC data.

[2019-10-09 22:03] CrossBound commented on #299
I guess I'm comparing apples and oranges in that example... here's a little bit closer to home example.

instead of RequestAsync I'll keep it synchronous and use just Request like this
[code]

now my results are a little closer, but notice the number of msgs/sec is still slower and my CPU usage is a little less steady. It seems to peak out around 6,400 msgs/sec
![image](https://user-images.githubu

[2019-10-09 22:07] CrossBound commented on #299
Very interesting. As soon as I add in a timeout like so
[code]
the GC goes through the roof.
![image](https://user-images.githubusercontent.com/11417093/66524143-31fba180-eab7-11e9-8be4-db10c26811ba.png)

[2019-10-10 00:56] ColinSullivan1 commented on #299
Thanks for raising this, and really appreciate the issue.  We do some mapping of subject names to requests - a map that could grow quickly but I wouldn't expect this much from the GC.  This tells us we need to take a pass through and see if we can re-use some objects to prevent the GC churn.

[2019-10-10 13:51] watfordgnf commented on #299
Adding a timeout involves the creation of a `CancellationTokenSource` per request.

[2019-10-10 17:00] CrossBound commented on #298
I am very interested in this. Per #297 calling `IConnection.Flush()` after each publish improved throughput significantly, but I've noticed that while my latency is not consistently high... it sporadically causes high latency. I've discovered that flush is what's causing the high latency randomly and therefore I have a lot more outliers in RTT. In the screenshot below, notice the P99 and the maxim

[2019-10-10 17:02] CrossBound commented on #299
Unless I'm missing something I believe CancellationTokenSource per request can be avoided. As long as the token source has not been cancelled it can be reused as many times as necessary. It's only when the token source has been 'tripped' that a new one has to be created.

[2019-10-10 17:17] watfordgnf commented on #299
The CTS performs the timeout (via `CancelAfter`), and would not be able to be reused.

[2019-10-10 18:08] ColinSullivan1 commented on #298
We'll get this in soon.  My experience on windows is that for more consistent latency, you need to run the applications and server with a higher priority (ideally `realtime` or `high`), and minimize the use of other applications that will impact CPU or network.

[2019-10-12 17:21] #298 closed

[2019-10-14 16:24] ColinSullivan1 commented on #268
I think we need locking inside the single use channel (which then might makes sense to go back to the old channel).  The Flush API releases the conn lock, but flush is allowed to be used across multiple threads - so if there are multiple calls to flush, there would be access errors here.  @watfordgnf , wdyt?

[2019-10-14 19:30] ColinSullivan1 commented on #184
If you adjust your ping timeouts and intervals downward, does that resolve the situation?

[2019-10-15 10:35] danielwertheim opened #303 "Add support for IObservable in the existing client"
Implement support for making `IAsyncSubscription` observable (`IObservable<Msg>`).

Expose it as `INATSObservable<>` under namespace `Rx` so that official `System.Reactive` lib can be brought in and used if user wants to.

The `NATS.Rx` namespace is used to contain implementations and two extension methods for returning the `IObservable<>` implementation:
- `connection.Observe(subject)`
- `asyncSu

[2019-10-15 15:43] danielwertheim commented on #291
@ColinSullivan1 the `v0.9.1-pre1` that we released last week should solve this.

[2019-10-15 15:47] danielwertheim commented on #156
Is this one about start using Paket in the solution or?

[2019-10-18 10:03] danielwertheim commented on #303
@ColinSullivan1 unsure if we close issues upon merged to master or when released?

[2019-10-18 15:55] ColinSullivan1 commented on #303
We can after merging.  If you leave a note like `Resolved by #<issue number>`, the merge will automatically close the issue.  Thanks for merging.

[2019-10-22 06:26] danielwertheim commented on #149
@ColinSullivan1 as far as I can tell, it should be covered by #303 which has been solved by #304

[2019-10-22 06:29] danielwertheim commented on #303
@ColinSullivan1 yes, wasn't sure of the process used so didn't use the auto resolving feature.

Closing then.

[2019-10-22 06:29] #303 closed

[2019-10-22 14:09] #149 closed

[2019-11-03 04:26] CrossBound opened #315 "Unable to fail over in clustered setup"
I brought this up in Slack but thought it might be better to just create an issue here so we can better track the issue.

I have been testing a clustered setup and when one of my nodes goes offline my c# clients fail to connect to the other cluster nodes. Once the down node comes back online the client still will not reconnect and will have to be killed and restarted to get it to connect again. I'

[2019-11-03 04:29] CrossBound commented on #315
My nats-servers are both running on a bare-bones Debian 10 servers. Other than a static IP address they don't have any special configuration.

[2019-11-03 05:03] CrossBound commented on #315
Here is a very basic repro: https://github.com/CrossBound/NATS-Performance-Benchmarking

And her is what I get:
![image](https://user-images.githubusercontent.com/11417093/68080623-4d637f00-fdcd-11e9-8170-f7b659d589ab.png)

[2019-11-03 05:15] CrossBound commented on #315
Here's a better screenshot with exception types:

![image](https://user-images.githubusercontent.com/11417093/68080721-0ffff100-fdcf-11e9-850c-1a2fbcf97126.png)

[2019-11-03 05:23] CrossBound commented on #315
[code]

[2019-11-04 15:02] ColinSullivan1 commented on #315
@CrossBound , thank you for providing an example application demonstrating the problem.  We'll take a look.  As we discussed on slack, we haven't seen this in our testing, but hopefully we can narrow in the issue you are seeing here.

[2019-11-04 15:04] ColinSullivan1 commented on #315
Another thing that would really help us out would be complete output of the servers with the `-DV` flag set (debug + trace).

[2019-11-04 17:42] CrossBound commented on #315
Logs Attached:

At 11:33 I started both servers in clustered configuration
I connected my consumer to the secondary server (172.16.1.119)
I connected my publisher to the seed server (172.16.1.118)
They were passing messages in request/reply just fine across the clustered servers.

At 11:35 I restarted the seed server, but my publisher never re-connected.

I finally ended my publisher process at 11

[2019-11-04 18:58] #251 closed

[2019-11-04 19:05] #272 closed

[2019-11-05 12:10] danielwertheim commented on #222
@ys-zhao @ColinSullivan1 How would one re-produce this in a test? I mean, it's rather "simple" to add an `option.ReadTimeout` or similar that could be configured, but I'm wondering when this happens.

[2019-11-05 14:45] ColinSullivan1 commented on #222
The only deterministic way would be to mock the server, which imo is not worth the time.  I think some simple tests setting it and testing bad values will suffice.

[2019-11-05 15:35] ColinSullivan1 commented on #315
Thanks you @CrossBound.  What does [IConnection.DiscoveredServers](http://nats-io.github.io/nats.net/interface_n_a_t_s_1_1_client_1_1_i_connection.html#af67e98d92452ead23d62cd51ebc0191a) return after you are connected and the NATS servers are routed?  I'm wondering if your secondary server is advertising a different hostname/ip than what you need to connect to it.

[2019-11-05 15:49] danielwertheim opened #319 "Add ConnectionErrorEventHandler"
@ColinSullivan1 regarding implementing same/similar functionality as:
- https://github.com/nats-io/nats.go/pull/462/files
- https://github.com/nats-io/nats.go/pull/464

Is the idea that we add:

[code]

and if that is hooked in, we use that upon disconnect due to error instead of `DisconnectedEventHandler`?

[2019-11-05 19:53] CrossBound commented on #315
nats://172.16.1.119:4222

[2019-11-05 19:56] CrossBound commented on #315
It works fine to connect to 172.16.1.119:4222 directly. When I do that the DiscoveredServers correctly reports nats://172.16.1.118:4222

[2019-11-05 20:09] CrossBound commented on #315
interesting observation: I added disconnect and close event handlers... they never fired when I killed the server process. They didn't fire until I ended the program.

Should they fire when a problem on the connection occurs?

[2019-11-05 20:10] CrossBound commented on #315
The AsyncErrorEventHandler, ServerDiscovered, and Reconnected events never fired at all.

[2019-11-05 20:24] ColinSullivan1 commented on #315
Yes, they should fire...   On linux, .NET can take a long time to detect closed sockets.  What happens when you set your [Options.PingInterval](http://nats-io.github.io/nats.net/class_n_a_t_s_1_1_client_1_1_options.html#a5b593b856ab2b9df03637efdffff135c) to something low, like 2000 (2 seconds)?

[2019-11-05 20:27] CrossBound commented on #315
I set the ping interval to 1000 milliseconds and it reconnected shortly after.

[code]

[2019-11-05 20:31] ColinSullivan1 commented on #315
So that was it!  I'm sorry we didn't reach this conclusion earlier, thanks for your patience on this issue @CrossBound.  I'd go with the maximum you can tolerate depending on the # of clients you have.  e.g. if you have 1000 clients, 1 per sec will add 2000 protocol msgs/sec (a ping to the server and a pong back).  Not a big deal for NATS, but just be aware of the chatter.

[2019-11-05 20:32] CrossBound commented on #315
I'm running Flush() after each message. That's already sending a PING to the server... is there not a way to piggy back off that to detect a connection failure?

[2019-11-05 20:33] CrossBound commented on #315
Seems kinda odd that my flush could be failing but the connection would wait until it's own internal ping timer to reach the conclusion the connection is not working.

[2019-11-05 20:36] ColinSullivan1 commented on #315
I'd require some work.  You can check for an exception there, and then reconnect randomly to a new server you've found from discovered servers.  I'll look into that, where a flush failure could trigger a reconnect.  Today we key off of the underlying socket state when reading from the socket - if the .NET framework doesn't report a broke connection quickly we won't detect it.

[2019-11-05 20:44] CrossBound commented on #315
As a side note: I noticed in the Closed and Disconnected event handlers the ConnectionID and ConnectionURL come back String.Empty and null respectively. Is that expected behavior?

[2019-11-05 20:46] CrossBound commented on #315
Is there a way to manually trigger a Connection.ReConnect() or will I have to manually Close() and new up a new connection?

[2019-11-05 20:58] ColinSullivan1 commented on #315
You'll need to manually close and setup another connection.  I'd suggest the ping interval solution unless you cannot tolerate any downtime.

[2019-11-05 21:09] CrossBound commented on #315
Yeah, I'm worried about manually re-connecting because that means I have to deal with all the subscriptions, etc. that are tied to the connection.

I'm trying to use NATS instead of HTTPS as a transport between micro services so we will not have a very high tolerance level for downtime.

[2019-11-05 21:34] ColinSullivan1 commented on #315
How many clients?  If under 100 or so, then you could go down as low as a 100ms PingInterval.   I do think a reconnect API to trigger a reconnect would be useful.

Also, you can configure the OS to respond quickly through sysctl.  Check out:

* https://knowledgebase.progress.com/articles/Article/000044970
* https://www.tldp.org/HOWTO/html_single/TCP-Keepalive-HOWTO/
* https://blog.voina.org/tcp-ke

[2019-11-06 02:02] ColinSullivan1 commented on #319
Looking at this further, it looks like this is a replacement for the disconnected handler that can handle an error. In go, it takes priority over the Disconnected Handler.  It's called during [reconnect](https://github.com/nats-io/nats.go/blob/master/nats.go#L1813), and also called in [close](https://github.com/nats-io/nats.go/blob/master/nats.go#L3719).

In .NET, we can do tings differently, and

[2019-11-06 05:42] danielwertheim commented on #319
Agree. Thought it had to be as the Go client. But I think we should go with the solution you mention. That way there's no obsolete member. I guess a downside is that the consumer need to add logic in the handler.

[2019-11-06 08:55] danielwertheim commented on #319
`ConnEventArgs` is used in the following events:

[code]
Would an `Error:Exception` member in the event arg make sense in all of them but only actually used in `DisconnectedEventHandler`?

[2019-11-06 09:22] danielwertheim commented on #319
@ColinSullivan1 see referenced commit. Is that the solution you had in mind?

[2019-11-06 14:51] ColinSullivan1 commented on #319
Yep, the `Error:Exception` member would be unused in most handlers, but imo better than adding a new event and associated args.  It could be set for the Disconnected and Closed events.  The commit looks great!

[2019-11-08 14:58] #319 closed

[2019-11-08 19:28] #222 closed

[2019-11-12 16:43] danielwertheim commented on #299
@CrossBound I've just provided a small fix but even with this in you will get GC clean/work unless usage of `ConfigureAwait(false)` in a Windows form. At least that's what I've noticed. The console sample isn't affected by that. Also, I'm not sure how the serialization in your sample is done and how it affects pressure on the GC. If the intentions are to "test" NATS performance, perhaps that shoul

[2019-11-12 17:24] CrossBound commented on #299
I don't believe the serialization is impacting this much because otherwise I'd have the same problem when doing the manual request / reply.

I understand your comment (and @watfordgnf 's above), however, I guess my question is: Is it necessary to use CancellationTokenSource.CancelAfter as the method of timing out or is there a better (more efficient) way to accomplish the same thing. Notice in my

[2019-11-12 19:38] danielwertheim commented on #299
I will continue to look into improving the request op. Just wanted to fix the memory issue first. Will look into the use of tokens, sources etc.

[2019-11-12 23:46] ColinSullivan1 commented on #190
This was resolved by #318.

[2019-11-12 23:46] #190 closed

[2019-11-12 23:46] ColinSullivan1 commented on #237
Resolved by #322

[2019-11-12 23:46] #237 closed

[2019-11-12 23:48] ColinSullivan1 commented on #184
This is a known issue with .NET and linux, the current recommended approach to solve this is adjusting ping timeouts.  Related to #315.

[2019-11-12 23:48] #184 closed

[2019-11-12 23:49] #291 closed

[2019-11-12 23:49] ColinSullivan1 commented on #282
Resolved by #323

[2019-11-12 23:49] #282 closed

[2019-11-13 03:04] ColinSullivan1 commented on #268
Resolved by #312

[2019-11-13 03:04] #268 closed

[2019-11-14 03:24] ColinSullivan1 opened #326 "Reconnect Hang"
When the NATS server is recycled very quickly on the command line with ctrl+c, the client does not reconnect and seems to hang.

I was able to reproduce it with this code:

[code]

[2019-11-14 03:39] ColinSullivan1 commented on #326
Debugging, it looks like the read loop doesn't always get started, we could be getting an exception that's killing the thread.  @danielwertheim, would you mind taking a look at this?

[2019-11-14 03:50] ColinSullivan1 commented on #326
Note, with the NATS server running in -DV mode, I could not get this to happen.

[2019-11-14 04:35] ColinSullivan1 commented on #315
This could be related to #326, we'll investigate further.

[2019-11-14 18:03] ColinSullivan1 commented on #315
@CrossBound , would you mind trying `set NATS_DOCKERIZED=1` and running your reconnect tests?  It'd confirm that your issue is the same as #326.

[2019-11-14 22:38] #326 closed

[2019-11-16 20:53] stamri opened #330 "UWP unable to connect to server"
Am using NATS client from Unity 3d 2019and it works fine. I then export the project to Visual Studio 2019 and build a UWP app. The UWP is unable to connect to NATS server (tried demo server as well). I get "unable to connect to server". I already made sure i've enabled Internet capabilites in the app's manifest. Any ideas how to resolve it?

Update: By tracing the error seems like the connection i

[2019-11-18 08:53] danielwertheim commented on #330
I just created a new UWP and added a ref to `v0.9.0` of NATS. I added a publisher connection and subscriber connection to it that produces and responds to messages. Running against a locally hosted nats-server. Worked. The only capability that I have checked is _"Internet (Client)"_

Sample (requires a Button1): https://gist.github.com/danielwertheim/3ebf14d87a417a5fd446a03aad3bcf28

Do you have a

[2019-11-18 16:43] ColinSullivan1 commented on #315
#329, which is included in the new release should resolve this, please re-open this issue if you continue to have problems.

[2019-11-18 16:43] #315 closed

[2019-11-18 21:37] CrossBound commented on #315
FYI, version 0.10.0 fixes my issue and now my connections are failing over immediately as expected.

Thanks

[2019-11-18 22:03] ColinSullivan1 commented on #315
@CrossBound , glad this resolved your issue.  Apologies for the false starts in solving this one and we really appreciate your time helping us track down the problem.

[2019-11-18 22:57] CrossBound opened #336 "Remove Dependencies on System.Runtime.Serialization"
Can the serialization portion of the library be split into it's own package? In my case I have no interest in the built-in serialization support, instead I'm using the new System.Text.Json namespace to serialize direct to bytes and back, however, because the NATS.Client package has dependencies on the system serialization packages I have to carry along all of those dependencies (and a host of othe

[2019-11-18 23:05] CrossBound commented on #336
![image](https://user-images.githubusercontent.com/11417093/69101230-b3cedb00-0a24-11ea-92df-9b100e0cd9f4.png)

These are all dependencies that my app has to carry along (and Its not all the way expended either).

[2019-11-19 08:24] per-ove opened #337 "Clients hangs when trying to connect to a URL that is not NATS"
Malformed URL throws exception but if you accidentally enter an URL that is valid but not nats-server the call hangs.

**Steps to reproduce:**

[code]
**Actual Result:**
Code hangs no exception thrown.
**Expected Result:**
Exception thrown

[2019-11-19 08:26] danielwertheim commented on #336
The Client exchanges information with the server during the handshake phase using JSON as the data format protocol. As the library currently targets .NET 4.5 and .NET Standard 1.6 System.Text.Json can not be used. One solution could be to also target .NET 4.6.1 and .NET Standard 2.0 and when doing so use System.Text.Json for serialization. Adds a little more complexity for project maintainers.

On

[2019-11-19 14:50] watfordgnf commented on #336
As we begin our migration onto .NET Core and .NET Standard, it would be nice to see S.T.J used instead of the older S.R.S.J.

On one hand, I like the idea of abstracting the core components out into its own Core package, and layering on the improvements in a downstream package.

On the other hand, this may make it difficult to take other improvements into NATS, such as Span and UTF8 support.

[2019-11-22 11:51] Sergey-Terekhin opened #342 "Flusher and Reader threads are not stopped when connection is disposed"
Version of package we use: 0.10.0
It seems that `Flusher` and `Reader` threads can continue working when Connection is disposed. And because they are not background, application can not be stopped in usual way

**Steps to reproduce**
- Create connection
- Dispose connection
- Watch on Threads list in VS - you can see these threads

May be it will be enough to make them background

[2019-11-22 13:46] danielwertheim commented on #342
I just tried with the following:

[code]
And pausing the application and inspecting the threads at the second `Console.ReadKey()` shows no named flusher or reader thread. Those have been cleaned up.

- Can you confirm that the sample above is what should have reproduced it?
- Does the sample above show those threads for you?

[2019-11-22 14:29] Sergey-Terekhin commented on #342
I'm sorry. It seems to be issue in our wrapper code

[2019-11-22 14:29] #342 closed

[2019-11-22 15:14] ColinSullivan1 commented on #342
No worries!  Thanks for using NATS!

[2019-11-25 10:28] danielwertheim commented on #337
Thanks for reporting. There was a bug fixed in the last release, where the client could hang if a server wasn't returning data as expected e.g. when it did shutdown etc. This also affects the scenario you report.

I tried the following with the latest release `v0.10.0`:

**1)** Spun up a Http-API accepting `GET` against `http://localhost:56382`

**2)** Tried to connect

[code]

**3)** Resulted in:

[2019-11-25 10:30] danielwertheim commented on #337
@ColinSullivan1 as an improvement do you believe `Options` should only allow certain "protocols" to be defined? Or can it be a case where we need to support a http-server accepting a initiation that is upgraded or something during handshake? Similar to WS.

[2019-11-25 11:42] per-ove commented on #337
@danielwertheim  The result from v0.10.0 is perfect.

[2019-11-25 11:48] per-ove commented on #337
@danielwertheim  About other improvement.
For our use case we see no need for such an option.
And if we can trust the handshake to report errors we are very satisfied.

[2019-11-25 16:27] ColinSullivan1 commented on #337
I think there's value in throwing an exception on an invalid protocol - it'd help users more quickly identify a problem.  We could accept `nats://`, `tls://` (which sets up a secure connection, like go), and just empty that defaults to `nats://`.  It shouldn't break any existing deployments.

[2019-11-26 12:48] danielwertheim commented on #336
@ColinSullivan1 closing as we have merged solution with embedded serializer to master. Reopen if you want to keep open until release.

[2019-11-26 12:48] #336 closed

[2019-11-26 17:46] #337 closed

[2019-11-27 16:44] ColinSullivan1 commented on #202
This should be resolved by #339, and is now in a pre-release, https://www.nuget.org/packages/NATS.Client/0.10.1-pre1

[2019-11-27 16:44] #202 closed

[2019-11-27 16:46] ColinSullivan1 commented on #299
This should be resolved by #339 and is now in pre-release: https://www.nuget.org/packages/NATS.Client/0.10.1-pre1

If you test it we'd certainly like to hear of your results.

[2019-11-27 16:52] danielwertheim commented on #156
The NATS project it self will continue to use NuGet as a package manager.

Paket in it self supports NuGet packages via e.g. NuGet.org where NATS.Client is distributed, hence no action need to be taken on this issue.

[2019-11-27 16:52] #156 closed

[2019-11-27 16:54] danielwertheim commented on #285
Closed via #346 which manually integrated changes from #286 that initially solved this issue.

[2019-11-27 16:54] #285 closed

[2019-12-30 19:39] asdonation opened #350 "Quetsion: Connections pooling, reuse, thread-safety"
Hi,

Let's say I have a component which uses NATS communication in 2 ways:
1. Subscription in startup - subscribe to a certain topic & queue, handle messages, etc..
2. Publish messages from HTTP context (unrelated to subscription handlers)

Now, for the first use (1), I would obviously open a *new* NATS connection to the server, right in the startup. The subscription will use that connection, whic

[2019-12-30 20:31] ColinSullivan1 commented on #350
@asdonation, Thanks for using NATS!

I'd recommend using many subscribers to a connection.  Compared to subscribers, connections are expensive to establish (especially with TLS), and a single connection can handle thousands of subscriptions.  When doing this, be sure to set [Options.SubscriberDeliveryTaskCount](https://nats-io.github.io/nats.net/class_n_a_t_s_1_1_client_1_1_options.html#a030dfa5ea

[2020-01-06 23:43] jasper-d opened #351 "System.Random.NextBytes potentially called concurrently"
When using the old request-reply style, the reply subject is created using random bytes provided by `System.Random`. https://github.com/nats-io/nats.net/blob/2687668913d390f1b92d39bf8a9522adce090746/src/NATS.Client/Conn.cs#L3204 According to my understanding of the code, calls to `Connection.NewInbox` can occur concurrently. This is problematic because `System.Random` is not thread safe an may ret

[2020-01-06 23:55] ColinSullivan1 commented on #351
@jasper-d , thank you for raising this - much appreciated!  We'll address this before the next release.

[2020-01-07 00:24] jasper-d commented on #351
@ColinSullivan1 Welcome, I was actually preparing a PR for the NewInbox issue when I found the RNG usage in NUID. Since RNG and its underlying CLR interop code appears to be not thread safe (just skimmed through it), I would propose to lock it to be on the safe side.

That being said, is NUID actually used anywhere? I can't find it outside of tests.

[2020-01-07 01:23] ColinSullivan1 commented on #351
Looking at the code, it'd be great if we used NUID in Inbox generation to [mirror golang](https://github.com/nats-io/nats.go/blob/6063d679d23ae5b3edb4030d5e89a6e30ea53bc6/nats.go#L2816).  Somewhere along the line I diverged there.

[2020-01-07 01:23] ColinSullivan1 commented on #351
And a PR would be welcome!

[2020-01-07 22:09] jasper-d commented on #351
Alright, I had a look at nats.go, to summarize:

- Old request style (no subscription sharing) uses: `_INBOX.<nuid>` as the reply subject
- New request style (subscription sharing) uses: `_INBOX.<nuid>.<randomtoken>` as reply subject and subscribes to `_INBOX.<nuid>.*`

Will work on it. I'm wondering though why the random token is generated in this way:
https://github.com/nats-io/nats.go/blob/mast

[2020-01-07 22:47] jasper-d opened #352 "Define and adopt coding style"
Given that [contributors are encouraged the write idiomatic C# code](https://github.com/nats-io/nats.net#about-the-code-and-contributing), I would like to propose the definition and adoption of a common coding style too.

Personally, I like this one: https://github.com/dotnet/runtime/blob/master/.editorconfig.

[2020-01-07 23:12] ColinSullivan1 commented on #351
Thanks!  The choice for the random token generation was [performance related](https://github.com/nats-io/nats.go/commit/139a6ac5e099e324fc19f0c75e3be3b39ceca880).

The random token provides some level of obfuscation (avoiding leaking of metadata) to mitigate bad actors injecting responses and to avoid wrap-around issues.  Looking forward to the PR!

[2020-01-08 02:46] ColinSullivan1 commented on #352
Formalization of the coding style is OK by me.  @watfordgnf, wdyt?

[2020-01-08 13:43] watfordgnf commented on #352
I love the idea of an editorconfig. Internally we use the one @jasper-d has cited.

[2020-01-11 21:06] SkinnySackboy opened #353 "Foreground threads preventing process from terminating"
During recent experimentation with NATS.Client we discovered that if we do not disconnect or dispose of an existing NATS connection, our WPF app process is prevented from shutting down. I've got a feeling that this is because NATS.Client is creating foreground threads, i.e. the IsBackground property is not set to true.

Of course under normal conditions I understand that we want to be disconnectin

[2020-01-13 13:26] SkinnySackboy commented on #353
e

[2020-01-13 13:26] SkinnySackboy commented on #353
ue

ue.

*Accidentally closed the issue.*

[2020-01-13 15:29] ColinSullivan1 commented on #353
Thanks for using NATS!  There wasn't any specific intention in using foreground threads - we just went with the default.  We can look into this - shouldn't see a performance difference.

[2020-01-13 16:39] SkinnySackboy commented on #353
Thanks @ColinSullivan1 that sounds fair. Agreed, performance wise it should make no difference. If we really want to make it bulletproof we could also add a finalizer just in case the object never gets disposed, but setting the threads as background threads would already be a start.

Would you be happy if i made a PR or would you rather take care of it?

[2020-01-13 16:44] ColinSullivan1 commented on #353
I'd certainly be happy - a PR would be welcome!

[2020-01-13 16:45] SkinnySackboy commented on #353
Excellent thanks, will take care of it.

[2020-01-13 16:49] watfordgnf commented on #353
@SkinnySackboy I'm available to help with this if needed.

[2020-01-13 20:20] SkinnySackboy commented on #353
Thanks @watfordgnf I've created a PR here [https://github.com/nats-io/nats.net/pull/354](url)

[2020-01-15 14:46] odlex commented on #330
Hy,

@stamri have you solved your problem ?
we also have the problem with uwp and unity,
when we build .exe  all work fine but when we build the code to uwp and we launch it nats crash with the same error bellow

[2020-01-16 20:21] #353 closed

[2020-01-22 20:10] jadurda opened #356 "Calling Drain on a closed connection throws NATSTimeoutException instead of NATSConnectionClosedException"
Any exceptions that occur during the private drain(int timeout) method gets replaced by a NATSTimeoutException. This is particularly unexpected in the case that Drain is called on a closed connection:

https://github.com/nats-io/nats.net/blob/c50d7f6854a556fbc5d0bae646d147499dc683b9/src/NATS.Client/Conn.cs#L3897-L3939

[2020-01-23 18:13] thansen24 opened #357 "Override Finalizer"
If I run the following sample code:

[code]

My console app will hang and not exit.  If I change my code to dispose the connection object after Publish it will work.  I assume something needs to override the finalizer and take some action to clean things up more gracefully in this case?

[2020-01-23 18:15] watfordgnf commented on #357
This was fixed in #354 and should be in the next release.

[2020-01-23 18:16] watfordgnf commented on #357
Duplicate of #353

[2020-01-23 18:16] #357 closed

[2020-01-23 22:51] ColinSullivan1 commented on #330
@stamri , @odlex , could one of you try with the latest pre-release?  The JSON parsing for ServerInfo has been reworked there.

https://www.nuget.org/packages/NATS.Client/0.10.1-pre2

As we can't reproduce it, we'd appreciate it!

[2020-01-23 22:52] ColinSullivan1 commented on #356
Good catch - thanks!  I'll take a look.

[2020-01-23 22:53] #350 closed

[2020-01-23 22:54] #59 closed

[2020-01-24 11:06] odlex commented on #330
Hy @ColinSullivan1,
it seem ok for this error with the latest pre-release, thank you !

I have another bug with subscriptions who are disconnected after each one reception... i will open another issue...

[2020-01-24 13:57] odlex opened #358 "the connection self-closed just before a subscribe receive it second message"
I make an uwp game made with Unity.

**N.B. the problem only appear in uwp build not in a standard build where all work perfectly**

** The unity code of subscriber
[code]

** I have secondary application (only c# xaml UWP) who just publish on a specific subject when push a button
[code]

**Find bellow the logs of nats server:**
[code]

[2020-01-24 15:53] ColinSullivan1 commented on #330
@odlex, I'm glad this is working for you - thank you for letting us know.  It'll be included in the next release, likely in a few weeks.  Sorry to hear about your subscription issue - thanks for opening it, we'll take a look.

[2020-01-24 15:53] #330 closed

[2020-01-24 20:43] ColinSullivan1 commented on #358
Thank you for the debug/trace output from the server.  A little more information from the client will help us debug this.

Do you see the DisconnectedEventHandler being triggered?  If so can you print out `args.Error`?

Can you also add an Async error handler and print out the error?  Here's an example of setting up that handler:  https://github.com/nats-io/nats.net/blob/master/src/Samples/Benchma

[2020-01-27 11:04] Britvich opened #361 "Unity clients fail with IL2CPP builds"
**Update:** The problem is with Unity. See https://github.com/nats-io/nats.net/issues/361#issuecomment-581632837 (below) for a workaround...

**Update 2:** The workaround doesn't work, at least on iOS devices.

**Update 3:** Got it to work. See https://github.com/nats-io/nats.net/issues/361#issuecomment-593048632 (below)...

**Update 4:** It still fails sometimes even when the `UseOldRequestStyle`

[2020-01-27 17:22] ColinSullivan1 commented on #361
Thanks for the information, this really helps.  Yes, this issue does look related to #358.

Unfortunately this looks to be a unity problem originating way down in a collection class.  That being said, we'll do the best we can to help.

It looks like Unity has had this issue with a number of API calls:
 - https://forum.heroiclabs.com/t/unity-2019-2-background-exception-when-socket-connects/361
 - h

[2020-01-27 18:57] ColinSullivan1 commented on #358
This is very likely related to issue #361.

[2020-01-27 19:53] Britvich commented on #361
Thanks for your help. Here's the environment where it fails:

- Unity 2019.3.0f3 and 2019.3.0f5
Scripting backend: IL2CPP
API Compatibility: .NET Standard 2.0 and .NET 4.x
C++ Compiler Configuration: Release
Target Architectures: ARM64
Allow 'unsafe' Code: On
Strip Engine Code: On
Managed Stripping Level: Low
- MessagePack 1.7.3.7
- NATS.Client 0.10.1-pre2

Here's some shot in the dark things I'm

[2020-01-27 19:57] ColinSullivan1 commented on #361
Would you mind checking if older versions of the .NET client work in your environment - 0.9.0 or 0.8.1?

[2020-01-27 23:31] jasper-d commented on #351
Honestly, I've mixed feeling about the random token after giving it some thought.
Performance wise we won't be able to beat `Interlocked.Increment`, especially when using some RNG that must be locked and is slow in general (it's on a hot path when using request/reply a lot).
I think if one is concerned about bad actors, server side authorization is the way to go.

[2020-01-29 00:16] Britvich commented on #361
Unity released 2019.3.0f6 yesterday, so I'm now using that. I'm also on nats-server 2.1.2...

I tried turning code stripping off and that didn't help. I didn't even get the `Disconnected` event from NATS.

I just tried it with NATS .NET client 0.9.0 and get this on the initial open:

[code]

[code]

I'm about to try the 0.8.1 client...

[2020-01-29 01:05] ColinSullivan1 commented on #361
Thanks @Britvich , this looks to be a bug with unity.  Earlier versions of NATS might work (IIRC they don't use a concurrent collection).

[2020-01-29 02:51] Britvich commented on #361
I tried it 0.8.1 and got similar results. I've gone back to 0.10.1-pre2. It looks like on my second call to `RequestAsync` it just never returns, and generates an exception later within Unity's `ConcurrentDictionary` code.

Perhaps Unity's `ConcurrentDictionary` implementation is broken. I found these:

https://github.com/grpc/grpc/issues/20553
https://forum.unity.com/threads/il2cpp-build-high-cra

[2020-01-29 15:47] #356 closed

[2020-01-29 15:56] ColinSullivan1 commented on #361
I'd put money on that.  I can try to setup a unity env to test, but it may take awhile (I've never used unity tbh).   If you are setup, would you mind writing a code snippet that calls ConcurrentDictionary directly?  One of us can open a unity support ticket and reference the two issues opened up against NATS.net here.

Example code might be as simple as [this](https://docs.microsoft.com/en-us/dot

[2020-01-30 15:22] ColinSullivan1 commented on #361
@Britvich, It'd be great to sync up on this issue - I sent you an email.

[2020-01-30 22:44] Britvich commented on #361
@ColinSullivan1 Just noticed it in my spam folder. I sent you a email reply and left a voicemail too. Yes, let's get together. I'm making good progress on what's happening.

[2020-02-03 21:42] Britvich commented on #361
With the help of @ColinSullivan1 we were able to determine that Unity has a problem with their implementation of `ConcurrentDictionary` on IL2CPP builds. Since NATS uses `ConcurrentDictionary`, Unity IL2CPP builds with NATS won't work.

I have opened a ticket with Unity at:

https://fogbugz.unity3d.com/default.asp?1216719_re63en8l0g4mhcsp

Even this simple example crashes Unity:

[code]

**Workaro

[2020-02-04 01:09] ColinSullivan1 commented on #361
@Britvich , thanks for taking the time to help debug and open the issue.  Much appreciated.  If Unity doesn't move quickly on this issue we can look into working around it but this seems to be a significant bug on their end that should be straightforward to fix.

[2020-02-04 01:16] ColinSullivan1 commented on #361
@Britvich , I couldn't publicly comment on the issue you filed, but thank you for updating the comment.  Feel free to link back to this issue on the Unity issue site.  This is a blocking issue for NATS + Unity users, and I'd imagine there are many others that use `ConcurrentDictionary.Values`.

[2020-02-05 20:18] matthiashanel opened #363 "unsubscribe with limit is missing on reconnect"
in go, on reconnect, a subscription with a limit is followed up by unsubscribe(max-received)
This can cause unnecessary traffic and unnecessarily dropped messages in queue subscribers.

https://github.com/nats-io/nats.net/blob/3558232a673d65d4440050bb96492f2645f43892/src/NATS.Client/Conn.cs#L3594-L3605

[2020-02-06 17:29] ColinSullivan1 commented on #361
Unity has been able to reproduce the issue and is looking into it.

https://fogbugz.unity3d.com/default.asp?1216719_re63en8l0g4mhcsp

[2020-02-07 00:21] Britvich commented on #361
For those wanting to upvote this problem, it's now also on Unity's issue tracker at:

https://issuetracker.unity3d.com/issues/anroid-logcat-throws-advapi32-related-warning-when-using-concurrentdictionary-in-il2cpp-builds

[2020-02-10 21:16] johnsusi opened #364 "Error when trying to pull message from jetstream"
Trying out the new Jetstream server causes an issue with RequestAsync.

An exception is thrown when parsing the response

https://github.com/nats-io/nats.net/blob/3558232a673d65d4440050bb96492f2645f43892/src/NATS.Client/Conn.cs#L2597-L2605

Here, `e.Message.Subject = "foo.inc"` and `globalRequestInbox = "_INBOX.OpwL1p-dK8wVoYOZ20GWIy"`

[code]

Adding a minimal example for the issue.

Running on o

[2020-02-11 20:55] ColinSullivan1 commented on #361
I noticed in the unity issue tracker notes that this issue is not reproducible with unity versions 2017.4.36f1, 2018.4.17f1, 2019.3.0b1.

[2020-02-21 15:33] ColinSullivan1 commented on #361
An update, I received this message from the Unity Customer QA team:

[code]

[2020-02-21 20:50] Britvich commented on #361
I am able to reproduce this problem on all the latest versions of 2019.3 (including 2019.3.2f1, 2019.3.1f1, 2019.3.0f5). I am using a Google Pixel 2 XL (version 10.0, abi: arm64-v8a, sdk: 29). Here's the logcat output...

![image](https://user-images.githubusercontent.com/7193012/75070735-b2d89a00-54a8-11ea-86ae-802d2dbc00b7.png)

[2020-02-26 16:32] #364 closed

[2020-02-28 02:07] Britvich commented on #361
@ColinSullivan1 I tried using #367 and now it's erroring while instantiating the `ConcurrentBag`:

<img width="998" alt="Screen Shot 2020-02-27 at 6 04 39 PM" src="https://user-images.githubusercontent.com/7193012/75503870-c04fc180-598b-11ea-9d6e-c3fffff7d693.png">

Good ole Unity... ;)

[2020-02-28 15:21] ColinSullivan1 commented on #361
Wow, I'm sorry to hear that.  At this point I think Unity needs to take a look at their implementation of Concurrent classes.  They've been available for a long time - since .NET framework 4.0 and .NET core 1.0.

[2020-03-01 03:35] Britvich commented on #361
**Update 3**: I am able to run NATS with Unity IL2CPP builds. Here's how:

1. Use the prerelease of 0.10.1 (release 2)
2. Make sure the `UseOldRequestStyle` is `true`.

It turns out that even though Unity warns about using `ConcurrentDictionary` and `ConcurrentBag`, **they still function correctly**.

The new request style that nats.net uses **does not work** with Unity. I haven't spent a lot of t

[2020-03-02 07:44] Britvich commented on #361
**Update 4:** It still fails sometimes even when the `UseOldRequestStyle` option is `true`.

I believe that after `await`ing on some requests, the results are returned on a different thread than Unity's UI `SynchronizationContext` main thread. All bets are off when that happens. I will work on this more in the morning... too tired.

[2020-03-02 16:35] ColinSullivan1 commented on #361
@Britvich  - Interesting - thank you for the details here, very much appreciated!  We could look at changing the old request style to avoid the await operator entirely - the original code did not use await.

imo, this is a serious shortcoming of Unity.

[2020-03-02 22:03] Britvich commented on #361
@ColinSullivan1 I don't recommend avoiding `async` `awaits`.

The root of the problem is that some .NET frameworks (such as Asp.Net, WPF, Windows Forms, and Unity), require you to honor their synchronization model via the `SynchronizationContext` class. A .NET `Task` automatically honors whatever `SynchronizationContext` exists (sometimes it's null). But NATS overrides the context through calls li

[2020-03-03 14:21] wutkemtt opened #368 "Reconnect does not work anymore"
Since upgrading our NATS server to v2.1.4 and the NATS Streaming Servers to v0.17.0 the automatic reconnect of our NATS clients writen in .Net does not work anymore. We provide a list of possible servers (all member of the same cluster) and connect via TLS and credentials file to one of them. After establishing the connection we stop the NATS service on that server trying to produce a reconnect to

[2020-03-03 15:57] ColinSullivan1 commented on #368
I'll check this out; thank you for reporting this.

[2020-03-04 23:59] ColinSullivan1 commented on #368
I just tested on windows 7, with .NET core 3.1, and this simple reconnect test works...  I've attached a screenshot, and have uploaded the test.

Can you can get the server's logs with [debug enabled](https://docs.nats.io/nats-server/configuration#monitoring-and-tracing) (`debug: true`)?  That'd help us diagnose the issue.

Here's the simple test I ran... would you mind running this in your enviro

[2020-03-05 13:26] wutkemtt commented on #368
Hi,
I tried the same, but with no luck. Our client gets a list of servers, which are running as cluster. When the first server goes down the client recieves the closed connection but doesn't switch to the other server as expected.
![grafik](https://user-images.githubusercontent.com/45697328/75985442-99920d80-5eec-11ea-86e4-6b3495781a14.png)

The code for the clinet connection is nearly the same as

[2020-03-06 22:15] ColinSullivan1 commented on #368
Quick question - do you pass the list of server urls into the client, or let the client auto-discover other servers in the cluster?

I see some TLS errors here that should be addressed.  I'm not sure if that's part of the problem or not, but the TLS errors are preventing the cluster from forming so the client wouldn't receive a list of discovered servers.  That means it can only rely on the server

[2020-03-07 07:30] wutkemtt commented on #368
We pass a list of server urls into the client and assign them to the options.servers property.
I saw the tls errors too, but after the first errors the nats-server was always able to resolve the certificate and create the route connection. We have several clusters based on Windows Server 2016 running with the same configuration. Maybe there is a problem now with that, based on updates applied to t

[2020-03-09 13:44] ColinSullivan1 commented on #368
I'll dig further to see if I can reproduce this here.

[2020-03-09 22:06] ColinSullivan1 commented on #368
I did the following to approximate your environment as close as I could:

[code]

Using this code:
[code]

[code]
[code]

The test application lost its connection, and reconnected.

[code]

I'm wondering if you're getting a server returned in the discovered servers list that is not reachable and the socket timeout is very long.  Could you print out the discovered servers?

In your code it'd be:
[c

[2020-03-11 05:10] wutkemtt commented on #368
Hello,
we connect to our NATS servers using TLS and credentials. The client gets the disconnected event too when I stop the server he was connected to, but seems to hang in the reconnecting procedure.

Here the list of servers the client discovered:
`
Connected to nats://nats-server-02.mycompany.com:4222
Discovered to servers:
  * nats://nats-server-02.mycompany.com:4222
  * nats://nats-server-01.

[2020-03-12 06:40] Britvich commented on #361
@ColinSullivan1 Could we meet online again? I've been trying to get this solved and am very close. I'd like to show you what's happening and get your thoughts...

[2020-03-12 13:51] ColinSullivan1 commented on #361
Absolutely - Thanks!  I'd like to knock this out.  Are you free tomorrow AM?  Feel free to send email with a good time and I can setup a google hangouts to screen share.

[2020-03-12 21:30] ColinSullivan1 commented on #368
I'll add TLS support to my test and add a repo - let's try to get to a reproducible test case.

Would you be able to build NATS?  If you can build NATS and add your project into NATS.sln, you could debug/break when you experience the hang and get a full stack trace - that would help out immensely.

I use VisualStudio 2019 community edition.

[2020-03-15 05:45] Britvich commented on #361
This has been fixed. See https://github.com/nats-io/nats.net/pull/370

[2020-03-16 15:34] ColinSullivan1 commented on #361
Thank you so much for the contribution and the many hours spent tracking this down.  Much appreciated!

[2020-03-16 15:34] #361 closed

[2020-03-16 15:35] ColinSullivan1 commented on #358
We believe this has been resolved by #370.  Please re-open this if you continue to encounter the issue.

[2020-03-16 15:35] #358 closed

[2020-03-24 03:48] ColinSullivan1 commented on #368
I've updated the test program to use .NET 4.5 and accept certs.  I ran through some tests with self signed certs and unfortunately wasn't able to reproduce this issue on the windows 7 box I have available.

Would you be able to add your project into your local NATS solution referencing NATS.Client as a dependency project (or the other way around), and build them and break in the hang?

I'd be happ

[2020-03-24 15:08] wutkemtt commented on #368
Hi,
I planned to step into it today, but on my last day for this week I wasn't able to even think of NATS. So sorry I will try to get this on next week.
Thanx so far for your effort and all the snippets and information.
NATS is a great product and I am pretty sure it's just a matter of time to find out what's going wrong here.

[2020-03-24 15:22] ColinSullivan1 commented on #368
Happy to help and no worries!  We'll help you get this figured out when you're ready.

[2020-03-30 22:22] asdonation opened #371 "random NoServerException at startup"
Hi,

**TL;DR**
Our dotnet client sometimes fails to connect to nats server on startup, and therefore crashes. This repeats, until it stops for no reason.
We need help tracing the issue.

At startup, Our components subscribe to different topics, and if it fails they exit immediately. Sometimes, for unknown reason, our dotnet components fail to create `IEncodedConnection`, which causes them a crash

[2020-03-31 19:19] ColinSullivan1 commented on #371
@asdonation , thank you for raising this issue!  That's a fair assumption....   And Kubernetes does add layers of networking that can create issues like these.

First, have you tried increasing the [Options.Timeout](https://nats-io.github.io/nats.net/class_n_a_t_s_1_1_client_1_1_options.html#a20342f2f3c596083d5989d12ee656155) which sets the initial connect timeout?  The default is 2 seconds, maybe

[2020-04-14 09:27] asdonation commented on #371
We tried raising `Options.Timeout` to 5000 ms and for now the issue does not reproduce on k8s.

Closing the issue for now,
Thanks.

[2020-04-14 09:27] #371 closed

[2020-04-14 15:22] ColinSullivan1 commented on #371
We're glad that resolved your issue!  Thanks for letting us know.

[2020-04-16 12:23] wutkemtt commented on #368
Today I was able to debug the issue with the official client implementation and found no issue. So I did a deep dive into our wrapper implementation comparing the connection setup with the samples provided and found an issue in our implementation. After fixing this the reconnect works as expected.
Thanks a lot.
Next time I will check and debug the reference implementation first.

[2020-04-16 12:23] #368 closed

[2020-04-16 14:28] ColinSullivan1 commented on #368
@wutkemtt , I'm glad you've resolved the issue, and thank you for letting us know!

[2020-04-21 22:45] ColinSullivan1 opened #373 "Add ClientIP Property to the Connection"
NATS Server version 2.1.6 added a new [ClientIP](https://github.com/nats-io/nats-server/blob/743c6ec7741f486c6deb6324d034cc078f9c0366/server/server.go#L75) field in the Info returned to the client during the handshake.  This field should be should be accessible in the client through a property or API.

[2020-05-04 21:53] ColinSullivan1 commented on #373
Resolved by #374

[2020-05-04 21:53] #373 closed

[2020-05-14 17:43] mabouchalkha opened #377 "Publish through connect.ngs.global"
Hi,
I want to try to publish through connect.ngs.global but cannot get any message and i don't have any error.
Are the options I made were enough?

[code]

Thank you

[2020-05-14 17:52] ColinSullivan1 commented on #377
Thanks for using NATS!

Those options look OK and you'd get an exception if there were problems connecting.  Can you share the code that publishes/subscribes?

[2020-05-14 19:39] mabouchalkha commented on #377
Thank you for the quick response.
I used the sample in this repo
https://github.com/nats-io/nats.net/blob/master/src/Samples/Subscribe/Subscribe.cs
https://github.com/nats-io/nats.net/blob/master/src/Samples/Publish/Publish.cs

i just changed the options
Publisher:
[code]
Subscriber:
[code]

[2020-05-14 19:42] kozlovic commented on #377
Just to be clear, NATS does not have persistence (unless using NATS Streaming or JetStream), so you would need to subscribe *before* you publish to get those messages. Could it be that you were publishing, and then subscribing?

[2020-05-14 19:54] mabouchalkha commented on #377
Yes i know. I subscribed before publishing and both are up running.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Ivan Kozlovic <notifications@github.com>
Sent: Thursday, May 14, 2020 3:43:09 PM
To: nats-io/nats.net <nats.net@noreply.github.com>
Cc: Mohamed amine bouchalkha <mabouchalkha@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [nats-io/

[2020-05-14 23:50] mabouchalkha commented on #377
I got this exception when publishing System.NotSupportedException: 'Stream does not support writing.'

In the subscriber i add this event and i've got
[code]
NATS connection disconnected
NATS server reconnected.
NATS connection disconnected
NATS server reconnected.
NATS connection disconnected
NATS server reconnected.
NATS connection disconnected

I tested this with nats server local and everthing

[2020-05-14 23:55] ColinSullivan1 commented on #377
Thank you for the information, let me try to reproduce it here and I'll let you know.  I'm glad this works locally.

[2020-05-14 23:55] ColinSullivan1 commented on #377
Which version of the client and .NET are you using?

[2020-05-15 01:58] mabouchalkha commented on #377
Version 0.10.0

[2020-05-15 04:00] ColinSullivan1 commented on #377
Thanks @mabouchalkha.  We're looking into this, and will keep this issue up to date.

[2020-05-15 04:01] ColinSullivan1 opened #378 "Unexpected exception when connecting"
When `opts.SetUserCredentials` is set and the client connects to a server without authorization enabled, an unexpected exception is thrown.

[code]

[2020-05-15 19:30] ColinSullivan1 commented on #377
I've updated the NATS Client and published a minor release with the bugfix, if you update to 0.10.1, this should work.  Let us know how it goes!

[2020-05-15 20:18] mabouchalkha commented on #377
Yes just test it and it works perfectly 💯  now 👍 .
You are the best seriously.

Thank you a lot have good weekend

[2020-05-15 20:18] #377 closed

[2020-05-15 20:20] ColinSullivan1 commented on #377
Happy to help, and likewise!  Have a good weekend!

[2020-05-18 13:19] necdet opened #380 "Sync data handling error in QueueGroup sample"
Every first received message is missing in QueueGroup  sample app when running **-sync** mode.
According to my understanding from the code, the current flow which implemented in **receiveSyncSubscriber** function;

https://github.com/nats-io/nats.net/blob/1f5d474922f7134c39074f91fe7aad9942f6ed13/src/Samples/QueueGroup/QueueGroup.cs#L121-L134

could be changed as;

[code]

[2020-05-18 16:31] jasper-d opened #381 "NotSupportedException when publishing message"
## Repro:
Not really a repro possible. We have published millions of messages through nats.net and never encountered this issue. However, for a single published message we logged a NotSupportedException. I will see if I can find out more, but given that this is virtually impossible to reproduce I can't do much more than staring at the code.

## Expected:
Publishing a message through nats.net shoul

[2020-05-19 07:38] Greatsamps opened #382 "Slow Subscription Consumption"
We have been using NATS in production for a couple of years now with a single server and around 1,500 consumers using the NATS.net client, but have finally started analyzing in detail performance and are seeing quite regularly big delays in consuming messages on the consumer.

To keep things simple, we have a ping-pong style message that is generated on a consumer, sent to a central server via NAT

[2020-05-19 11:46] watfordgnf commented on #382
Two questions:
1. What connection options are you using?
2. When are you logging the timestamps on the send side? During message creation or just before calling `Publish`?

[2020-05-19 12:00] Greatsamps commented on #382
Hi,

Thanks for the reply.

We are using these options:

var opts = ConnectionFactory.GetDefaultOptions();
            opts.MaxReconnect = 35000;
            opts.ReconnectWait = 5000;
            opts.NoRandomize = false;
            opts.Timeout = 30000;
            opts.Servers = servers;

with regards to when we are timestamping, its just before publish

[2020-05-19 14:30] ColinSullivan1 commented on #382
Thanks for using NATS!

I'd be useful to check for client side [slow consumer errors](https://docs.nats.io/developing-with-nats/events/slow), you can do that with an error handler, here's an [example](https://github.com/nats-io/nats.net/blob/1f5d474922f7134c39074f91fe7aad9942f6ed13/src/Benchmarks/Benchmark/Benchmark.cs#L205).  Are you experiencing this when there are bursts of messages from produc

[2020-05-20 00:48] ColinSullivan1 commented on #381
Wow, I'll take a look at the code.  It looks like it could be a race condition between the buffered stream being reassigned in reconnect and publish.  Perhaps a`Monitor.Enter` failed to acquire a lock...

Would you happen to know if this occurred around the time that your client was reconnecting to a NATS server?

[2020-05-20 11:28] jasper-d commented on #381
Hi @ColinSullivan1, there was indeed a disconnect/reconnect that happened around that time. Prior to that exception everything looks perfectly fine (messages are published, no exceptions, no disconnects).

At `2020-05-17T12:03:48.9627902+00:00` the exception was logged.
At `2020-05-17T12:03:48.9776045+00:00` we detected a connection problem (`_connection.State != ConnState.CONNECTED` returned fals

[2020-05-24 15:52] jasper-d commented on #381
@ColinSullivan1 I took a closer look at the reconnect logic and may have found the issue. But I would appreciate if you could verify it.

When a reconnect happens, `processReconnect` is called at some point. It sets `status = ConnState.RECONNECTING` https://github.com/nats-io/nats.net/blob/1f5d474922f7134c39074f91fe7aad9942f6ed13/src/NATS.Client/Conn.cs#L1459 which is also used to guard access to

[2020-05-24 20:13] ColinSullivan1 commented on #381
Thank you so much for the sleuthing here, much appreciated!  This makes sense to me and seems to be the problem - good catch...  I'm in reconnect code right now with something else and will look at a fix soon.

[2020-05-25 11:43] jasper-d commented on #381
Welcome, was a nice challenge tracking it down. Thank you for taking care of it.

[2020-05-25 11:43] jasper-d commented on #351
Closing this since the fix got merged and released.

[2020-05-25 11:43] #351 closed

[2020-05-26 17:05] jmptrader opened #383 "Blazor webassembly using using NATS.NET"
Hi @ColinSullivan1 ,

You know if is possible integrate nats.net into a Blazor webassembly App ?

In order to provides an simple layer for functions pub/sub ...

Thank's

[2020-05-26 18:38] ColinSullivan1 commented on #383
To be honest, I haven't tried but am not aware of any limitations that would prevent it - will give it a shot.

If anyone in the NATS ecosystem has tried we'd love to hear about it!

[2020-05-29 08:13] buzzers opened #384 "How many IConnections should I open in an app?"
I am a nats beginner.
I'm writing a game app and using nats as a message bus. We use .NET Core for development.
The program may need to use hundreds of thousands of subjects, and each process may contain tens of thousands of subjects. I wonder if nats will have a significant performance degradation (delay or throughput) in this number of subject scenarios?
If nats can support this scenario, should

[2020-05-29 18:47] ColinSullivan1 commented on #384
@buzzers,

Thank you for using NATS!  In that case, I'd recommend using many subscribers to a connection.  A single nats connection can handle millions of messages per second.

Compared to subscribers, connections are expensive to establish (especially with TLS), and a single connection can handle thousands of subscriptions.  When doing this, be sure to set [Options.SubscriberDeliveryTaskCount](ht

[2020-05-29 23:00] ColinSullivan1 commented on #383
I've looked into this.  It works server-side, but not client side.  Client-side, the browser running WASM sandboxed, so the NATS client isn't allowed to create a TCP connection to the NATS server.

Server side though, there is not that restriction and NATS seems to work fine from within WASM.  I was able to send and receive messages with this (hastily written) module, based off of the default blaz

[2020-05-30 00:43] jmptrader commented on #383
I understand this.

I think that another option is used client websocket from blazor wasm app when websocket server for nats-server is available.

Although this is beyond the reach of nats-net.

Thanks to you for you effort. 👍

[2020-05-31 14:53] buzzers commented on #384
Thanks for the reply.
So I plan to use a fixed number of connections (4 to 30) per process, randomly assign the subjects to the connections, and set a lower `SubscriberDeliverTask Count` for each connection.I think this should be a good way.
And if I want to deal with hundreds of thousands to millions of subjects, what should I deploy several nodes of NATS clusters, five or more?

[2020-06-01 16:25] ColinSullivan1 commented on #383
Happy to help, and I wish I had a better answer for you.  I've re-opened this issue as a reminder to investigate when websockets support lands in the NATS.net client.

[2020-06-02 23:58] ColinSullivan1 commented on #384
This really depends on your deployment.  Does every application need to know about all subjects?

A cluster shares interest across servers, so # of subscriptions really doesn't matter there - each server will know of each other server's subscriptions.  Generally you want to scale servers due to # of connections. I'd suggest starting simple and testing and seeing if your hardware/network can keep u

[2020-06-03 06:33] buzzers commented on #384
Yes, our app isn't every process that needs to subscribe to a completely non-topic. The maximum subscription for each process is about 3-5w.
I think I really should start the stress test with the simplest deployment.
Thank you for your advice.

[2020-06-04 22:10] dungpa commented on #381
@ColinSullivan1 Is there any timeline for a fix?

We have seen this issue happen in production environment a few times. No reliable repro so far.

Our environment information is:

Version: nats.net 0.9
Runtime: .NET framework 4.7.2
OS: Windows 10

[2020-06-04 22:13] ColinSullivan1 commented on #381
I will look at this tomorrow and do a minor release as soon as I find a fix.

[2020-06-05 11:03] alheld opened #386 "Connect to IPv6 server with hostname provided"
Hi I have trouble with connect to server via IPv6 if server address is provided as a hostname.

`var cf = new ConnectionFactory();`
`var c = cf.CreateConnection("nats://somehost.domain.net:4222");`

In this case GetInterNetworkAddressFamily method gets address family of address (it's AddressFamily.DNS) and returns null. Then default TcpClient is created (IPv4) and I can't connect to server.

Basic

[2020-06-05 18:55] ColinSullivan1 commented on #381
Wow.  I've run many billions of messages through while cycling the server and wasn't able to reproduce this.  I'll take a closer look through the comments and see if we can reorder things to protect the buffered writer.

[2020-06-08 14:53] #381 closed

[2020-06-08 17:26] ColinSullivan1 commented on #381
I've built a pre-release containing this fix here:
https://www.nuget.org/packages/NATS.Client/0.11.0-pre1

If you could let me know if you run into the issue again, that'd be great.  The **only** difference between v 0.10.1 and the prerelease is this PR, so feel free to use/test in production.  There are some other things I'd like to add before the next release.

[2020-06-08 17:31] ColinSullivan1 commented on #384
Happy to help!  Please let us know how it goes.  Many of the NATS maintainers can be found on [slack](https://slack.nats.io), it's a great place to ask questions from the maintainers and community.

[2020-06-08 17:31] #384 closed

[2020-06-08 22:05] jasper-d commented on #381
Great, I'll deploy it on one of our environments tomorrow. We'll have decent load over the weekend, but I don't expect anything anything to break. :)

[2020-06-12 00:21] ebekker opened #389 "Adding async versions of event handlers for connection establishment"
The `Options` class allows a caller to register several event handlers (`EventHandler<T>`) to delegate various stages of authentication during connection establishment, via methods such as `SetUserCredentials(...)` or `SetNKey(...)`.

All of these take `EventHandler`s which means they are limited to synchronous code in the handler, but if the handler needs to call async code, there's no graceful w

[2020-06-13 17:00] jmptrader commented on #383
Very very cool !!! coincidentally @derekcollison  announces that there is support for websockets in the master , you can see it in https://github.com/nats-io/nats-server/issues/315. 👍

[2020-06-13 18:25] derekcollison commented on #383
Yep it is there on main branch. Will be in next release.

[2020-06-16 07:05] Greatsamps commented on #382
Hi, sorry for the late reply here. Found the issue. Turns out that linux has a very low value for the hard and soft cap on an ARP cache (1000). It was killing of connections at random once we exceeded the 1000 mark.

[2020-06-17 09:26] TigerHix commented on #361
We are having very similar crash logs on Unity IL2CPP. Is the issue related to the use of ConcurrentDictionary? Or the `Could not find advapi32` is just a harmless warning, as suggested by the Unity team in their [issue](https://issuetracker.unity3d.com/issues/desktop-log-of-warn-unity-plugins-couldnt-open-advapi32-error-dlopen-failed-library-advapi32-not-found)?

[2020-06-18 17:22] ebekker commented on #389
If this type of change would be welcome, then I would be happy to put together a PR?

[2020-06-18 19:11] Britvich commented on #361
NATS took out their use of `ConcurrentDictionary`. I think Unity fixed things so `ConcurrentDictionary` works fine in their latest versions (2020.1.x and 2020.2.x).

[2020-06-22 14:40] ColinSullivan1 commented on #382
@Greatsamps, We're glad you have resolved your issue, and thanks for letting us know - we appreciate it!

[2020-06-22 14:40] #382 closed

[2020-06-22 16:08] ColinSullivan1 commented on #389
@ebekker , Thanks for the offer!  Could you provide an small example with one of the event handlers so we can see what you are proposing without a significant time investment on your end?

[2020-06-22 21:33] ebekker commented on #389
Sure thing, let's say I want to customize my logic for handling the signing of the server nonce with NKeys authentication.  Using the `NATS.Client.Options` class, I would set a custom handler for this event:

[code]

[2020-06-22 21:41] ebekker commented on #389
Unfortunately, .NET BCL does not include an async version of [EventHandler](https://docs.microsoft.com/en-us/dotnet/api/system.eventhandler-1?view=netcore-3.1), but we could define our own:

[code]

Then simply provide overloads for all the `Options` event handler registrations, to take this async handler variation.

In the [connection-handling code](https://github.com/nats-io/nats.net/blob/master

[2020-06-26 20:33] ColinSullivan1 commented on #378
Going back to this, I was unable to reproduce it.

[2020-06-26 20:33] #378 closed

[2020-06-26 21:48] ColinSullivan1 commented on #386
Would you like to submit a PR for this?

[2020-06-26 21:50] ColinSullivan1 opened #391 "Generic Header Support"
Add generic header support.

See https://github.com/nats-io/nats.go/pull/560.

[2020-07-02 17:11] haiduong87 opened #392 "Can I have a small sample of sending 40k messages/second?"
I have a simple ASP.NET Core API project, hosted as a windows service.
I've tried to optimized anything I can (know), but sending 1000 requests (each request publish 20 messages via nats client) isn't as fast as expectation.

Here's a sample of what's I'm doing

`[Route("api/[controller]")]
    [ApiController]
    public class ValuesController : ControllerBase
    {
        private IConnection _co

[2020-07-02 18:36] ColinSullivan1 commented on #392
Thank you for using NATS!

I'm not aware of any issues that would slow down publishing that much.  You're likely encountering a lot of overhead with the additional tasks being created by `Task.Run` and `Parallel.ForEach`.

I'd suggest publishing NATS messages inline in your request handler instead of creating a Task for each request.  Internally, the NATS Publish API will buffer data and then anot

[2020-07-03 00:52] haiduong87 commented on #392
Thanks for quick reply, I will try it now.

About the payload size, it may up to 40 or 50, then I split it  in smaller chunks (in this sample is 5)
Then I use a parallel foreach to loop in side a small chunk
In my example, there will be 8 parallel foreach statements

About the task, I see there's a sample like this (I thought this best practice)
https://docs.microsoft.com/en-us/aspnet/core/perform

[2020-07-03 02:57] haiduong87 commented on #392
@ColinSullivan1
Sorry, your suggestion doesn't work.
If I remove all Task.Run and Parallel.ForEach,
- Use only 1 connection (singleton) and try these cases:
-- 1000 requests, 5 notifications payload: maximum response time is 3900ms
-- 1000 requests, 20 notifications payload: maximum response time is 15995ms
- Use many connections (a singleton connection pool, contains up to 6 persistent connection

[2020-07-06 12:30] watfordgnf commented on #392
Your response times are not apples to apples in these cases. In your `Task.Run` example the created task is not awaited and the `Ok` response is returned as soon as the thread is created. In @ColinSullivan1's example code the `Ok` response is returned as soon as all of the notifications are sent. You're comparing the time it takes to spawn a task with the time it takes to send all of the messages.

[2020-07-06 17:37] ColinSullivan1 commented on #392
We'll also want to check that the test isn't running up against network bandwidth limits.

How big is a request in bytes, and how many bytes are the NATS message payloads?  Also, what are the network links you are are testing this over between the HTTP client, HTTP server, and NATS server? (e.g. 10Mbs wifi, 100Mbs ether, etc.)

[2020-07-07 02:19] haiduong87 commented on #392
Thanks you,

I will try @watfordgnf's suggestion and feedback the result.

@ColinSullivan1
- The request contains up to 40 notifications in Json format "[{},{},{}...]"
- Each notification when sending to this Api contains 3 fields like this entity (only Date is sent
`

public class DatabaseNotification
    {
        [JsonPropertyName("id")] public long? Id { get; set; }

        [JsonPropertyName(

[2020-07-07 15:02] watfordgnf commented on #392
@haiduong87 so the ActixWeb setup used nats.rs as its NATS client? I'd be curious to know whether it called Publish in a blocking loop or if it put it into a background queue and returned immediately.

[2020-07-07 16:37] haiduong87 commented on #392
@watfordgnf
Thank you, I end up using System.Threading.Channel for now

Controller:
[code]

Worker class:
[code]

The response time is very fast, it's about 300~400 ms max.
I change to use JsonSerializer to my own string method, to reduce the allocation of JsonWriter (because in this case the object is so simple so I can do that)
I remove all the Task...
I can achieve my goal (1000 requests, each

[2020-07-07 16:58] watfordgnf commented on #392
That looks more like what we would recommend. I'm not certain where the holdup is as we can easily push 100k 1KB messages/sec using just Publish. It would be interesting to see profiling data to find out where the holdup is.

[2020-07-08 02:19] haiduong87 commented on #392
@watfordgnf @ColinSullivan1
I've uploaded my latest working here: https://github.com/haiduong87/NotificationServer

Please help me to check my using of NatsClient.

Thank you!